<div class="container-fluid mt-2 p-0">
    <div class="container-fluid bg-white">
        <div class="row header">
            <div class="col-3 titulo">DOCUMENTOS</div>
            <div class="col-6 titulo">ESTADO DE DOCUMENTACIÓN</div>
            <div class="col-3 titulo">ACCIONES</div>
        </div>
        <div class="row header subrayado">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row">
                <div class="col-2"><span class="col-estado">Borrador<br>Solicitado</span></div>
                <div class="col-2"><span class="col-estado">Borrador<br>Enviado</span></div>
                <div class="col-2"><span class="col-estado">Borrador<br>Modificado</span></div>
                <div class="col-2"><span class="col-estado">Borrador<br>Aprobado</span></div>
                <div class="col-2"><span class="col-estado">Documento<br>Enviado</span></div>
                <div class="col-2"><span class="col-estado">Documento<br>Cerrado</span></div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="document-container">
        <ul class="document-list">
            <li *ngFor="let elemento of elementos; let i = index" class="document-item">
                <div class="document-content">
                    <div class="col-3">
                        <span [title]="elemento.documento.documento.nombre"
                            [ngClass]="{'doc-cerrado': elemento.estaCerrado}">
                            {{ elemento.nombreAcortado }}
                            <i *ngIf="elemento.mostrarArchivos" class="fas fa-chevron-up"
                                (click)="onDesplegarArchivos(i)"></i>
                            <i *ngIf="!elemento.mostrarArchivos" class="fas fa-chevron-down"
                                (click)="onDesplegarArchivos(i)"></i>
                        </span>
                    </div>
                    <div class="col-6">
                        <div class="row">
                        <div *ngFor="let estado of estados" class="col-2" style="display: flex;justify-content: center;">
                            <span class="col-estado">
                            <input type="radio" name="radio-{{elemento.documento.documento.id}}"
                                [disabled]="onDeshabilitarEstado(estado, elemento.documento.nominacionDocumentoEstado.id)"
                                [value]="estado.estado"
                                [(ngModel)]="elemento.documento.nominacionDocumentoEstado.estado"
                                [checked]="estado.estado === elemento.documento.nominacionDocumentoEstado.estado"
                                (change)="onActualizarEstado(elemento.documento.id, estado.id)">
                            </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-3 document-actions">
                        <img *ngIf="tienePermisoCrearArchivo() && !elemento.estaCerrado" src="assets/file_plus.svg"
                            (click)="onAbrirSelectorArchivos(elemento.documento.id)">
                        <img [src]="elemento.tieneComentarios ? 'assets/chat_square_green.svg' : 'assets/chat_square.svg'"
                            (click)="onAbrirComentarios(addComentario, elemento.documento.id)">
                    </div>
                </div>
                <ul *ngIf="elemento.mostrarArchivos == true" class="p-0 m-0">
                    <li *ngFor="let archivo of elemento.documento.archivos">
                        <div class="document-content" style="margin-top: 10px;">
                            <span [ngClass]="{'doc-cerrado': elemento.estaCerrado }">
                                <strong>{{ archivo.nombre }}</strong> &nbsp;&nbsp; {{archivo.usuario}},
                                {{archivo.fechaSubida | date:'dd-MM-yyyy HH:mm'}}</span>&nbsp;
                            <div class="document-actions">
                                <i *ngIf="puedeVisualizarArchivo(archivo) && tienePermisoDescargarArchivo()"
                                    class="fa fa-eye icon-eye" aria-hidden="true"
                                    (click)="onVisualizarArchivo(archivo)"></i>
                                <img *ngIf="tienePermisoDescargarArchivo()" src="assets/file_arrow_down.svg"
                                    (click)="onDescargarArchivo(archivo)">
                                <img *ngIf="tienePermisoEliminarArchivo() && !elemento.estaCerrado"
                                    src="assets/trash_file.svg" (click)="onBorrarArchivo(archivo)">
                            </div>
                        </div>
                    </li>
                    <li *ngIf="elemento?.documento?.archivos?.length ==0">
                        <div class="document-content" style="margin-top: 10px;">
                            <span [ngClass]="{'doc-cerrado': elemento.estaCerrado}">No hay archivos para este
                                documento.</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li *ngIf="configuracionId == 0 || elementos.length == 0"
                style="background-color: white; text-align: center;">
                <span>No existen documentos configurados para el destino/cliente seleccionado.</span>
            </li>
        </ul>
    </div>
    <div class="container-fluid bg-white">
        <div class="row header">
            <div class="col-9 tituloCompartido">DOCUMENTOS COMPARTIDOS</div>
            <div class="col-3 tituloCompartido">ACCIONES</div>
        </div>
    </div>
    <div class="document-container">
        <ul class="document-list">
            <li *ngFor="let elementoC of elementosCompartidos; let i = index" class="document-item">
                <div class="document-content">
                    <div class="col-9">
                        <span [title]="elementoC.documento.documento.nombre">
                            {{ elementoC.documento.documento.nombre }}
                            <i *ngIf="elementoC.mostrarArchivos" class="fas fa-chevron-up"
                                (click)="onDesplegarArchivosCompartidos(i)"></i>
                            <i *ngIf="!elementoC.mostrarArchivos" class="fas fa-chevron-down"
                                (click)="onDesplegarArchivosCompartidos(i)"></i>
                        </span>
                    </div>
                    <div class="col-3 document-actions">
                        <img [src]="elementoC.tieneComentarios ? 'assets/chat_square_green.svg' : 'assets/chat_square.svg'"
                            (click)="onAbrirComentarios(addComentario, elementoC.documento.id)">
                    </div>
                </div>
                <ul *ngIf="elementoC.mostrarArchivos == true" class="p-0 m-0">
                    <li *ngFor="let archivo of elementoC.documento.archivos">
                        <div class="document-content" style="margin-top: 10px;">
                            <span>
                                <strong>{{ archivo.nombre }}</strong> &nbsp;&nbsp; {{archivo.usuario}},
                                {{archivo.fechaSubida | date:'dd-MM-yyyy HH:mm'}}</span>&nbsp;
                            <div class="document-actions">
                                <i *ngIf="puedeVisualizarArchivo(archivo) && tienePermisoDescargarArchivo()"
                                    class="fa fa-eye icon-eye" aria-hidden="true"
                                    (click)="onVisualizarArchivo(archivo)"></i>
                                <img *ngIf="tienePermisoDescargarArchivo()" src="assets/file_arrow_down.svg"
                                    (click)="onDescargarArchivo(archivo)">
                            </div>
                        </div>
                    </li>
                    <li *ngIf="elementoC?.documento?.archivos?.length ==0">
                        <div class="document-content" style="margin-top: 10px;">
                            <span>No hay archivos para este
                                documento.</span>
                        </div>
                    </li>
                </ul>
            </li>
            <li *ngIf="configuracionId == 0 || elementosCompartidos.length == 0"
                style="background-color: white; text-align: center;">
                <span>No existen documentos compartidos para el destino/cliente seleccionado.</span>
            </li>
        </ul>
    </div>
    <input type="file" #fileInput (change)="onSeleccionarArchivos($event)" hidden
        accept=".xls, .xlsx, .pdf, .doc, .docx, .png, .jpg, .jpeg" multiple />
    <hr>
</div>

<ng-template #addComentario let-modal>
    <app-modal-comentarios [id]="nomDocId" (modalCerrar)="modal.dismiss()"
        (refrescarListado)="refrescarListado($event)"></app-modal-comentarios>
</ng-template>