<div class="container-fluid p-0 mt-2">
    <!-- Header -->
    <div class="container-fluid bg-white">
        <div class="row header">
            <div class="col-3 titulo">DOCUMENTOS</div>
            <div class="col-6 titulo">ESTADO DE DOCUMENTACIÓN</div>
            <div class="col-3 titulo">ACCIONES</div>
        </div>
        <div class="row header">
            <div class="col-3 subrayado">
            </div>
            <div class="col-6 subrayado">
                <span class="col-estado">Borrador<br>Solicitado</span>
                <span class="col-estado">Borrador<br>Enviado</span>
                <span class="col-estado">Borrador<br>Modificado</span>
                <span class="col-estado">Borrador<br>Aprobado</span>
                <span class="col-estado">Documento<br>Enviado</span>
            </div>
            <div class="col-3 subrayado">
            </div>
        </div>
        <ul class="document-list">
            <li class="item">
                <div class="row">
                    <div class="col-3">BL</div>
                    <div class="col-6" style="text-align: center; ">
                        <span class="col-estado"><input type="radio" name="bl-status"></span>
                        <span class="col-estado"><input type="radio" name="bl-status"></span>
                        <span class="col-estado"><input type="radio" name="bl-status"></span>
                        <span class="col-estado"><input type="radio" name="bl-status"></span>
                        <span class="col-estado"><input type="radio" name="bl-status"></span>
                    </div>
                    <div class="col-3">
                        <img src="assets/file_plus.svg" style="cursor: pointer;">
                        <img src="assets/chat_square.svg" style="cursor: pointer;">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>