<div class="container-fluid">
    <div class="row mt-3 mb-2">
        <div class="col-md-12">
            <button class="btn btn-outline-secondary" (click)="onVolverAtras()">
                < Volver </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Documentos</h1>
        </div>
    </div>
    <div class="bg-white p-3 mt-2">
        <div class="row">
            <!-- Buque -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="buque" class=""><strong>Buque:</strong></label>
                    <label class="form-control border-0" id="buque">{{ buque }}</label>
                </div>
            </div>
            <!-- Fecha de nominación -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="fechaNominacion"><strong>Fecha de nominación:</strong></label>
                    <label class="form-control border-0" id="fechaNominacion">{{ fechaNominacion }}</label>                   
                </div>
            </div>
            <!-- Producto -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="producto"><strong>Producto:</strong></label>
                    <label class="form-control border-0" id="producto">{{ producto }}</label>
                </div>
            </div>
            
            <!--Juegos-->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="juegos"><strong>Cantidad de juegos:</strong></label>
                    <label class="form-control border-0" id="cantJuegos">{{ cantJuegos }}</label>
                </div>
            </div>
            <!-- Destino -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="destino"><strong>Destino/Cliente:</strong></label>
                    <select class="form-control" id="configuracion" [(ngModel)]="configIdSeleccionada"
                        (change)="onSeleccionarConfiguracion(configIdSeleccionada)">
                        <option *ngFor="let config of configuraciones" [ngValue]="config">{{
                            config.destino?.nombre}}/{{config.coordinadorPuerto?.nombre }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="tienePermisoVisualizarDocumentosMOC()">
        <app-adjuntar-documentos></app-adjuntar-documentos>
    </ng-container>
    <ng-container *ngIf="tienePermisoVisualizarDocumentosComex()">
        <app-actualizar-estado-documentos></app-actualizar-estado-documentos>
    </ng-container>
</div>
