<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12">
            <p class="ruta-title">Nominación > Documentos</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Documentos</h1>
        </div>
    </div>
    <div class="bg-white p-3 mt-2">
        <div class="row">
            <!-- Buque -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="buque" class=""><strong>Buque:</strong></label>
                    <input type="text" class="form-control" id="buque" placeholder="Placeholder">
                </div>
            </div>

            <!-- Fecha de nominación -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="fechaNominacion"><strong>Fecha de nominación:</strong></label>
                    <input type="text" class="form-control" id="fechaNominacion" placeholder="Entidad de embarque">
                </div>
            </div>

            <!-- Producto -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="producto"><strong>Producto:</strong></label>
                    <input type="text" class="form-control" id="producto" placeholder="Placeholder">
                </div>
            </div>

            <!-- Destino -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="destino"><strong>Destino:</strong></label>
                    <select class="form-control" id="destino">
                        <option>Placeholder</option>
                    </select>
                </div>
            </div>

            <!-- Cliente -->
            <div class="col-12 col-md-6 col-lg">
                <div class="form-group">
                    <label for="cliente"><strong>Cliente:</strong></label>
                    <select class="form-control" id="cliente">
                        <option>Placeholder</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>