<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <label class="titulo">Reporte por Turnos</label>
    </div>
    <div class="col-md-2">
      <button class="btn btn-filters" (click)="onMostrarFiltros()">
        {{ mostrarFiltros ? 'Ocultar filtros' : 'Mostrar filtros' }}
        <i class="fa" [ngClass]="{'fa-chevron-down': !mostrarFiltros, 'fa-chevron-up': mostrarFiltros}"
          aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="mostrarFiltros">
    <div class="col-md-12">
      <app-filtro-reporte-pesada
        [exportadores]="exportadores"
        [materiales]="materiales"
        (filtrar)="onFiltrar($event)"
        (limpiar)="onLimpiar()">
      </app-filtro-reporte-pesada>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ship-spinner [message]="mensaje" *ngIf="cargando"></ship-spinner>
      <div class="table-responsive" *ngIf="!cargando">
        <table class="table table-bordered custom-table">
          <thead>
            <tr>
              <th>Turno</th>
              <th>Fecha</th>
              <th>Exportador</th>
              <th>Material</th>
              <th>Pesadas</th>
              <th>Peso Neto Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{ item.Turno }}</td>
              <td>{{ item.Fecha | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.Exportador }}</td>
              <td>{{ item.Material }}</td>
              <td>{{ item.CantidadPesadas }}</td>
              <td>{{ item.PesoNetoTotal | number }}</td>
            </tr>
            <tr *ngIf="items?.length === 0">
              <td colspan="6" class="text-center text-muted">Sin resultados. Aplique un filtro para buscar.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-paginator #paginator (page)="onPage($event)" [length]="itemsTotales" [showFirstLastButtons]="true"
        [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
  </div>
</div>
