    <ship-spinner *ngIf='exportaPlanilla' [src]='"pdf"'></ship-spinner>

    <div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
        <app-collapse-button collapseSelectorId='collapsePlanillaTurnosSolido'></app-collapse-button>
        <div class="divHeaderRightLeft">
            <h4 class='colorTitle pt-4 divHeaderLeft'>Planilla de turnos sólidos Recibidores</h4>
        </div>
        <div id="collapsePlanillaTurnosSolido" class="collapse show">
            <div style="margin-left: 1rem;">
                <h5 data-html2canvas-ignore="true" *ngIf="!tablerista">Observaciones De Calidad</h5>
                <button *ngIf="!tablerista" class='btn btn-primary' (click)='openModalAgregarObsCalidad(agregarObs)'>Agregar</button>
            </div>
        <br>
        <br>
        
        <form [formGroup]='formTurnos' *ngIf='turnoPuerto' id="formGroup"  >
            <div id="scrollbar-planilla-recibidores-solido" class='mt-4 px-4 pb-4' style="height: 800px;">
                <!-- ACA VA LA SCROLLBAR -->
                <perfect-scrollbar  [config]="{suppressScrollX: true, wheelSpeed: 0.4}">
                <table class='table table-bordered turnos'>
                    <thead class="header-fijo" >
                        <tr>
                            <th class="header-fijo">Día</th>
                            <th class="header-fijo">Turno</th>
                            <th class="header-fijo">Exportador</th>
                            <th class="header-fijo">Bodega</th>
                            <th class="header-fijo">Producto</th>
                            <th class="header-fijo">Destino</th>
                            <th class="header-fijo">Cant. Tn</th>
                            <th class="header-fijo">Tipo Carga</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName='diasTurno'>
                            <ng-container *ngFor='let dia of diasTurno.controls; let d = index' [formGroupName]='d'>
                                <tr>
                                    <td [attr.rowspan]='getRowSpan(dia)'>
                                        <div class='column-center'>
                                            <span><b>{{getDia(d)}}</b></span>
                                            <span class='toneladas'>{{ getCantDia(dia) }} <span class='turno'>Tn</span></span>
                                            <span class='turno'>por día</span>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container formArrayName='turnos'>
                                    <ng-container *ngFor='let turno of getTurnos(d).controls; let t = index' [formGroupName]='t'>
                                        <tr>
                                            <td [attr.rowspan]='getRowSpanTurno(turno)'>
                                                <div class="column-center">
                                                    <span><b>{{turno.value.turnoPuerto ? turno.value.turnoPuerto.turnoPuerto ? turno.value.turnoPuerto.turnoPuerto.nombre : ' ' : ''}}</b></span>
                                                    <span class='toneladas'>{{ getCantTurno(turno) }} <span class='turno'>Tn</span></span>
                                                    <span class='turno'>por turno</span>
                                                    <button class='btn btn btn-success' 
                                                            *ngIf="!turno.value.guardadoPorRecibidor"
                                                            style="margin-top: 5px; margin-bottom: 5px" 
                                                            (click)='onCerrarTurno(turno)'> 
                                                            Cerrar turno
                                                    </button>
                                                    <img  *ngIf="turno.value.guardadoPorRecibidor"                                                    
                                                            src="./assets/turno_cerrado.svg" />
                                                </div>
                                            </td>
                                        </tr>
                                        <ng-container formArrayName='moduloDeCargaPlanillaDeTurnosDetallesSolido'>
                                            <ng-container *ngFor='let result of getTurnoDetalles(d, t).controls; let i = index'
                                                [formGroupName]='i'>
                                                <tr [ngClass]="getTurnoDetallesBajasClass(d, t)">
                                                    <!-- EXPORTADOR -->
                                                    <td [ngClass]="getBajaCargaColor(result)">
                                                        {{result.controls.exportador?.value.nombre}}
                                                    </td>
                                                    <!-- BODEGA -->
                                                    <td [ngClass]="getBajaCargaColor(result)">
                                                        {{result.controls.bodega?.value.nombre}}
                                                    </td>
                                                    <!-- PRODUCTO -->
                                                    <td [ngClass]="getBajaCargaColor(result)">
                                                        {{result.controls.materialPuerto?.value.descripcionCorta}}
                                                    </td>
                                                    <!-- DESTINO -->
                                                    <td [ngClass]="getBajaCargaColor(result)">
                                                        {{result.controls.destino?.value}}
                                                    </td>
                                                    <td [ngClass]="getBajaCargaColor(result)">
                                                        {{ soloEnteros(result.controls.cantidad.value / 1000) }}
                                                    </td>
                                                    <td [ngClass]="getBajaCargaColor(result)">
                                                        {{result.controls.idBalanzaCorte.value > 0 ? 'Baja Carga' : 'Carga Normal'}}
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </ng-container>

                                        <tr *ngIf='getCorteTurnos(d, t).controls.length > 0'>
                                            <td colspan="6" class='p-0 bg-grisClaro'>
                                                <div *ngIf='getCorteTurnos(d, t).controls.length > 0' class="div-active">
                                                    <app-collapse-button collapseSelectorId="collapseCortesCalidad_{{t}}" [esChiquito]="true"></app-collapse-button>
                                                    <p class="font-weight-bold p-13px" >Cortes y bajas cargas<p>
                                                    <div id="collapseCortesCalidad_{{t}}" name="expTodosPlanillas" class="collapse" colspan="6">
                                                        <table class='tabla table-bordered tabla-embebida'  >
                                                            <thead>
                                                                <tr class='table-active'>
                                                                    <th colspan="4">Motivo de corte</th>
                                                                    <th colspan="1">Inicio</th>
                                                                    <th colspan="1">Fin</th>
                                                                    <th colspan="1">Tiempo total</th>
                                                                    <th colspan="5">Observaciones</th>
                                                                </tr>
                                                            </thead>
                                                                <ng-container formArrayName='moduloDeCargaPlanillaDeTurnosCortes'>
                                                                    <ng-container *ngFor='let corte of getCorteTurnos(d, t).controls; let y = index' [formGroupName]='y'>
                                                                        <tr>
                                                                            <td colspan="4" class="bg-white tabla-fila-corte">
                                                                                {{corte.controls.motivosDeCorte.value.siglas}} - {{corte.controls.motivosDeCorte.value.nombre}}
                                                                            </td>
                                                                            <td colspan="1" class="bg-white tabla-fila-corte">
                                                                                {{corte.controls.horaInicio.value}} hs
                                                                            </td>
                                                                            <td colspan="1" class="bg-white tabla-fila-corte">
                                                                                {{corte.controls.horaFin.value}} hs
                                                                            </td>
                                                                            <td colspan="1" class="bg-white tabla-fila-corte">
                                                                                {{corte.controls.tiempoTotal.value | slice:0:5}} hs
                                                                            </td>
                                                                            <td colspan="5" class="bg-white tabla-fila-corte">
                                                                                {{corte.controls.observaciones.value}}
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </ng-container>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>                                           
                                        </tr>
                                        <tr *ngIf='getCorteTurnos(d, t).controls.length == 0'>
                                            <!-- DEJO ESTA VACIA PARA QUE NO SE ROMPA LA TABLA, SI A ALGUNO SE LE OCURRE ALGO MEJOR JOYA -->
                                        </tr>


                                        <tr *ngIf='getObservacionTurnos(d, t).length > 0'>
                                            <td colspan="6" class='p-0 bg-grisClaro'>
                                                <div *ngIf='getObservacionTurnos(d, t).length > 0' class="div-active">
                                                    <app-collapse-button collapseSelectorId="collapseObsDeCalidadSolid_{{t}}" [esChiquito]="true"></app-collapse-button>
                                                    <p  class="font-weight-bold p-13px" >Observaciones de calidad</p>
                                                    <div id="collapseObsDeCalidadSolid_{{t}}" name="expTodosPlanillas" class="collapse" colspan="6">
                                                        <table class='tabla table-bordered tabla-embebida'>
                                                            <thead>
                                                                <tr class='table-active'>
                                                                    <th colspan="6">Observación de calidad</th>
                                                                    <th colspan="1">Fecha</th>
                                                                    <th colspan="1">Hora</th>
                                                                    <th style="width:85px"></th>
                                                                </tr>
                                                            </thead>
                                                            
                                                                <ng-container formArrayName='moduloDeCargaPlanillaDeTurnosObservacionesDeCalidad'>
                                                                    <ng-container *ngFor='let observacion of getObservacionTurnos(d, t); let y = index' [formGroupName]='y'>
                                                                        <tr>
                                                                            <td colspan="6" class="bg-white tabla-fila-corte">
                                                                                {{observacion.observaciones}}
                                                                            </td>
                                                                            <td colspan="1" class="bg-white tabla-fila-corte">
                                                                                {{observacion.fecha}}
                                                                            </td>
                                                                            <td colspan="1" class="bg-white tabla-fila-corte">
                                                                                {{observacion.hora}}
                                                                            </td>
                                                                            <td class="bg-white tabla-fila-corte celda-elimina-corte">
                                                                                <img src="assets/trashIcon.svg" class="basurerito" style="cursor: pointer;" (click)="deleteObsCalidad(observacion)" *ngIf="!turno.value.guardadoPorRecibidor">
                                                                            </td>
                                                                        </tr>
                                                                    </ng-container>
                                                                </ng-container>
                                                            
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr  *ngIf='getObservacionTurnos(d, t).length == 0'>

                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </perfect-scrollbar>
            </div>
        </form>
        <div fxLayout='row wrap' class='px-4 pb-4' *ngIf='turnoPuerto'>
            <div fxFlex='50'>
                <div fxLayout='row wrap'>
                    <div fxFlex='100'>
                    </div>
                    <div fxFlex='100'>
                    </div>
                    <div fxFlex='100'>
                    </div>
                    <div fxFlex='100'>
                    </div>
                </div>
            </div>
            <div fxFlex='50' class='right-side'>
                <div class='bt-total'>Total a bordo: {{ getCantTotalABordo() }}<div class='img-tn'></div>
                </div>
            </div>
        </div>        
    
        <p-toast data-html2canvas-ignore="true" position='top-center' key='enviar-turno'></p-toast>
    
        <div data-html2canvas-ignore="true" class="mt-4 text-center">
            <button id="expPlanillaSolidoCalidad" *ngIf='turnoPuerto' class="btn btn-primary m-2" (click)='onExportarExcelSolido(false)'> Exportar Planilla </button>
            <button id="envPlanillaSolidoCalidad" *ngIf='turnoPuerto' class="btn btn-success m-2" (click)='onExportarExcelSolido(true)' > Enviar planilla </button>
        </div>
        </div>    
    </div>
        
    <ng-template #agregarObs let-modal>
        <div class='modal-header'>
            <h4>Agregar Observación de Calidad</h4>
        </div>
        <div class='modal-body'>
            <form [formGroup]='obsCalidadForm'>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label class="font-weight-bold">Fecha</label>
                        <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha" />
                        <div class="input_img mt-2 w-70">
                            <input class="form-control" placeholder="00:00" [ngxTimepicker]="fullTimeAmarro"
                                [format]="24" formControlName="hora" >
                            <img src="assets/reloj.svg" class="imgClockInput1">
                        </div>
                        <ngx-material-timepicker #fullTimeAmarro>
                        </ngx-material-timepicker>
                       
                    </div>
                    <div class="form-group col-8 d-flex flex-column">
                        <label class="font-weight-bold">Observaciones</label>
                        <textarea class="form-control flex-grow-1" formControlName="observaciones" required></textarea>
                    </div>
                </div>
                <div class='modal-footer' >
                    <!-- <div class="user">
                        <b><p class="color-user">Observacion cargada por: {{userCarga}}</p></b>
                    </div> -->
                    <button data-html2canvas-ignore="true" class="btn btn-danger" (click)='modal.dismiss("Cross click")'>Cancelar</button>
                    <button data-html2canvas-ignore="true" class="btn btn-primary" [disabled]="obsCalidadForm.invalid" (click)="guardarObservacionesDeCalidad()">Guardar</button>
                </div>
            </form>
        </div>
    </ng-template>
