.titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: left;
  color: #1A1A1A;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.2;
  transition: color 0.3s ease-in-out;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 420;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.nuevo {
  text-align: right;
}

.container-fluid {
  padding: 25px;
}

.btn-buscar {
  background-color: #1C7CD5;
  border-color: #1C7CD5;
  color: white;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
}

.btn-buscar:hover {
  background-color: #0f5aa0;
  border-color: #145ca0;
}

.btn-buscar i {
  font-size: 15px;
  margin-right: 4px;
}

.btn-limpiar {
  color: #31313180;
  background: white;
  border-color: #31313180;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
}

.btn-limpiar:hover {
  background-color: #eaeaea;
  border-color: #575858;
  color: #575858;
}

.btn-limpiar i {
  font-size: 15px;
  margin-right: 4px;
}

.btn-exportar {
  color: #107d38;
  background: white;
  border-color: #107d38;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.375rem;
  transition: all 0.3s ease-in-out;
  height: fit-content;
}

.btn-exportar:hover {
  background-color: #8ecf97;
  border-color: #134b19;
  color: #134b19;
}

.btn-exportar i {
  font-size: 15px;
  margin-right: 4px;
}

table {
  border-spacing: 0px 0.5rem;
  border-collapse: separate;
}

td,
th {
  padding: 8px 13px;
  text-align: center;
  border: none;
}

th {
  border: none;
}

td {
  vertical-align: middle;
}

thead {
  border: 0;
  border-radius: 4px 4px 0px 0px;
  background-color: #666666;
  color: white;
  font-size: 11.5px;
}

thead th {
  cursor: pointer;
}

th:first-child {
  border-radius: 5px 0px 0px 0px;
}

th:last-child {
  border-radius: 0px 5px 0px 0px;
}

tbody tr {
  background-color: white;
  box-shadow: 1px 2px 6px #cccccc;
}

td:first-child {
  border-radius: 5px 0px 0px 5px;
  width: 70%;
}

td:last-child {
  border-radius: 0px 5px 5px 0px;
}

td:not(:last-child) {
  border-right: none;
}

.fa {
  margin-right: -7.5px;
  font-size: 13px;
}

.sin-registros {
  background-color: white;
  text-align: center;
  box-shadow: 1px 2px 6px #cccccc;
  padding-top: 2px;
}
