.buscar {
    background-color: #1C7CD5;
    border-color: #1C7CD5;
    color: white;
    width: 100%;
}

.limpiar {
    color: #1C7CD5;
    background: white;
    border-color: #1C7CD5;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    background: #ffffff !important;
    color: #898989 !important;
}
