<ship-spinner *ngIf='mostrarSpinner' [message]=""></ship-spinner>
<div class="mt-3 p-4 shadow bg-white">
    <app-collapse-button collapseSelectorId="collapseCargas"></app-collapse-button>
    <h4 class="colorTitle">Detalle de Cargas - Buque {{embarque.nombreBuque}}</h4>
    <div id="collapseCargas" class="collapse show">
        <div class="mb-3">
            <button class="btn btn-outline-primary btn-sm" (click)="onAgregarDetalle()">
                Alta de Carga
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-bordered tabla-detalle">
                <thead class="header-tabla">
                    <tr>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Tiempo</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Exportador</th>
                        <th>Destino</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of embarque.otroMuelleCarga?.otroMuelleCargaDetalles; let i = index">
                        <td>{{detalle.fechaHoraInicio | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{detalle.fechaHoraFin | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{calcularTiempo(detalle)}}</td>
                        <td>{{detalle.materialPuerto?.descripcion}}</td>
                        <td>{{detalle.cantidadTn | number: '1.3-3'}} Tn</td>
                        <td>{{detalle.exportador?.nombre}}</td>
                        <td>{{detalle.destino?.nombre}}</td>
                        <td class="acciones">
                            <button class="btn btn-sm btn-outline-warning"
                                (click)="onEditarDetalle(detalle)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-outline-danger" (click)="onEliminarDetalle(detalle.id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            <label class="form-label fw-bold">Observaciones</label>
            <textarea class="form-control" rows="3" [(ngModel)]="observaciones"></textarea>
        </div>
    </div>

</div>

<ng-template #modalDetalleCarga>
    <div role="document">
        <div class="modal-content">
            <form [formGroup]="detalleCargaForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">
                        {{detalleCargaForm.get('id').value ? 'Modificar' : 'Agregar'}} Carga
                    </h4>
                </div>
                <div class='modal-body'>
                    <div class="form-group">
                        <label>Inicio</label>
                        <input type="datetime-local" class="form-control" formControlName="fechaHoraInicio" />
                    </div>
                    <div class="form-group">
                        <label>Fin</label>
                        <input type="datetime-local" class="form-control" formControlName="fechaHoraFin" />
                    </div>
                    <div class="form-group">
                        <label>Exportador</label>
                        <select class="custom-select w-100" formControlName="exportador">
                            <option [ngValue]="null" disabled>Seleccione</option>
                            <option *ngFor='let exportador of exportadores' [ngValue]='exportador'>
                                {{exportador.nombre}}
                            </option>
                        </select>
                    </div>
                    <div class="d-flex" style="gap: 1rem;">
                        <div class="form-group w-50">
                            <label>Producto</label>
                            <select class="custom-select w-100" formControlName="materialPuerto">
                                <option [ngValue]="null" disabled>Seleccione</option>
                                <option *ngFor='let materialPuerto of materialPuertos' [ngValue]='materialPuerto'>
                                    {{materialPuerto.descripcion}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group w-50">
                            <label>Cantidad</label>
                            <div class="input-group">
                                <input type="number" class="form-control" formControlName="cantidadTn" min="0" max="9999999999.999" />
                                <div class="input-group-append">
                                    <span class="input-group-text">TN</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Destino</label>
                        <select class="custom-select w-100" formControlName="destino">
                            <option [ngValue]="null" disabled>Seleccione</option>
                            <option *ngFor='let destino of destinos' [ngValue]='destino'>
                                {{destino.nombre}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer"
                    style="display: flex;justify-content: space-between;margin-left: 20px;margin-right: 20px;">
                    <button class='btn btn-outline-danger' (click)='onCerrarModal()'>Cancelar</button>
                    <button class='btn btn-primary' (click)='onGuardarDetalle()'>Guardar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>