<ship-spinner [message]="'Enviando Mail. Por favor, espere...'" *ngIf='estaCargando'></ship-spinner>
<div class="margenes cierre" [ngClass]="{'bg-danger': esTipoError(), 'bg-warning': esTipoWarning()}">
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <label><strong class="titulo">{{ title }}</strong></label>
</div>
<div *ngIf="mail != null" class="line"></div>
<div class="modal-body mb-4" [ngClass]="{'cuerpoMail': mail != null}" >
    <div class="row" *ngIf="mail != null">
        <div class="col-md-1">
            <strong>
                <div [innerHTML]="inputPara"></div>
            </strong>
        </div>
        <div class="col-md-11">
            <tag-input *ngIf="mail != null" [(ngModel)]="mail.destinatarios" [modelAsStrings]="true"
                [placeholder]="'Destinatarios'" [secondaryPlaceholder]="'Destinatarios'"
                [validators]="validators"></tag-input>
        </div>
    </div>
    <br *ngIf="mail != null">
    <div *ngIf="mail != null" class="separador"></div>
    <br *ngIf="mail != null">
    <div class="row" *ngIf="mail != null">
        <div class="col-md-1">
            <strong>
                <div [innerHTML]="inputCopia"></div>
            </strong>
        </div>
        <div class="col-md-11">
            <tag-input *ngIf="mail != null" [(ngModel)]="mail.copia" [modelAsStrings]="true" [placeholder]="'Copia'"
                [secondaryPlaceholder]="'Copia'" [validators]="validators"></tag-input>
        </div>
    </div>
    <br *ngIf="mail != null">
    <div *ngIf="mail != null" class="separador"></div>
    <br *ngIf="mail != null">
    <div class="row" *ngIf="mail != null">
        <div class="col-md-1">
            <strong>Asunto:</strong>
        </div>
       <div class="col-md-11">
        <div [innerHTML]="asunto"></div>
       </div>   
    </div>    
    <br *ngIf="mail != null">
    <div *ngIf="mail != null" class="separador"></div>
    <br *ngIf="mail != null">
    <strong><div [innerHTML]="message"></div></strong>
    <br *ngIf="mail != null"> 
    <ckeditor [editor]="Editor" *ngIf="mail != null" [(ngModel)]="mail.body" (ready)="onReady($event)" style="border: 1px solid #ccc!important;"></ckeditor>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="decline()" [hidden]="!btnCancelVisible()">{{
        btnCancelText }}</button>
    <button type="button" ngbAutofocus class="btn btn-primary" (click)="accept()">{{ btnOkText }}</button>
</div>