<div class="mt-4 px-4 pb-4 shadow" style="background-color: white; min-height: 5rem;">
  <h5 class='colorTitle text-center py-3 w-100 ritmo-title'>Ritmo de embarque por Balanza {{ balanceName }}</h5>
  <div class="row">
    <div class="col"> 
      <span class="subTitulos">Arrancó: </span> 
      <span class="contenido">{{ startBalance }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <span class="cargaHastaAhora text-center">Cargó hasta ahora: </span>
      <span class="contenidoCargaHastaAhora">{{ tonsLoadedUntilNow }} Tn</span>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <span class="subTitulos">Ritmo de embarque: </span>
      <span class="contenido">{{ boardRhythm | number : '1.2-2' }} tn/hs</span>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <span class="ultimaActualiz">Última actualización: {{ lastUpdate }}</span>
    </div>
  </div>
</div>