<div *ngIf="mostrarActores" class="row">
    <div class="col-4">
        <div class="bg-white shadow m-4 px-4 pt-4">
            <h2 class="colorTitle">Actores</h2>
            <hr class="mt-0">
            <p class="subTItulos mb-1">Coordinador: <span class="data" *ngFor="let coordinador of actores.coordinadores">{{coordinador}}</span></p>
            <p class="subTItulos mb-1">A.T.A: <span class="data">{{actores.ata}}</span></p>
            <p class="subTItulos mb-1">Agencia Marítima: <span class="data">{{actores.agenciaMaritima}}</span></p>
            <br>
            <br>
            <p class="subTItulos mb-1">Estiba: <span class="data">{{actores.estiba}}</span></p>
            <p class="subTItulos mb-1">Agencia de control privado: <span class="data">{{actores.agenciaControlPrivado}}</span></p>
            <p class="subTItulos mb-1">Encargado: <span class="data">{{actores.encargado}}</span></p>
            <br>
            <br>
            <p class="subTItulos mb-1">Comprador: <span class="data">Próximamente en COMEX</span></p>
            <p class="subTItulos mb-1">Charteador de control privado: <span class="data">Próximamente en COMEX</span></p>
            <p class="subTItulos mb-1">Surveyor: <span class="data">Próximamente en COMEX</span></p>
            <br>
            <p class="subTItulos pb-4">Empresa fumigadora: <span class="data">Próximamente en COMEX</span></p>
        </div>
    </div>
    <div class="col-8" >
        <div class="bg-white shadow m-4 px-4 pt-4 alto-minimo" style="padding-bottom: 10px">
            <h2 class="colorTitle">Operadores de puerto</h2>
            <hr class="mt-0">
            <table class="table table-bordered">
                <thead>
                    <tr class="table-active">
                        <!-- <th><img src='assets/iconFechaNegro.svg' class='imgClockInput1 color-black'>Día</th>
                        <th><img src='assets/relojNegroIcon.svg' class='imgClockInput1 color-black'>Turno</th> -->
                        <th style="width: 30%;">Fecha y hora</th>
                        <th>Usuario</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody *ngFor="let operador of operadores">
                    <tr>
                        <td>
                            {{operador.fecha | date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td>
                            {{operador.usuario}}
                        </td>
                        <td>
                            {{operador.accion}}
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
