<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--<add key="UrlBaseWorkflow" value="http://scato.molinos.com.ar/Scato.workflow/xaml/" />-->
    <add key="UrlBaseWorkflow" value="http://localhost/Scato.workflow/xaml/" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="CommonBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://scatoqa.molinos.com.ar/Scato.serviciosWeb/ServicioRepositorio.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioRepositorio" name="ServicioRepositorio" />-->
      <endpoint address="http://localhost/Scato.serviciosWeb/ServicioRepositorio.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioRepositorio" name="ServicioRepositorio" />
    </client>
  </system.serviceModel>
</configuration>