<ship-spinner [message]="'Cargando Programa de Embarque. Por favor, espere...'" *ngIf='estaCargando'></ship-spinner>

<form id="filtroBuquedaForm" [formGroup]="getFiltroBusquedaForm()">
  <div class="row">   
    <div class="form-group col-md-2 input_img">
      <input type="month" class="form-control" formControlName="fecha">
    </div>
    <div class="form-group col-md-2 colorGris">

      <ng-multiselect-dropdown formControlName="buque" [placeholder]="'Buque'" class="dropdown-btn"
        [settings]="getConfigListaMultiple()" [data]="getListaBuques()">
      </ng-multiselect-dropdown>

    </div>
    <div class="form-group col-md-2 colorGris">

      <ng-multiselect-dropdown  formControlName="muelle"
        [placeholder]="'Muelle de carga'" [settings]="getConfigListaMultiple()" [data]="getListaMuelleDeCarga()">
      </ng-multiselect-dropdown>

    </div>
    <div class="form-group col-md-2 colorGris">

      <ng-multiselect-dropdown formControlName="producto" [placeholder]="'Producto'"
        [settings]="getConfigListaMultiple()" [data]="getListaProductos()">
      </ng-multiselect-dropdown>

    </div>
    <div class="form-group col-md-2">
      <button class="btn buscar" (click)="onBuscar()">Buscar</button>
    </div>
    <div class="form-group col-md-2">
      <button class="btn limpiar" (click)="onLimpiarFiltros()">Limpiar Búsqueda</button>
    </div>
  </div>


</form>