<!--<app-collapse-button collapseSelectorId='collapseListadoBuqueGeolocalizacion'></app-collapse-button>-->
<div class="divHeaderRightLeft">
    <h4 class='colorTitle pt-4 divHeaderLeft'>Line Up - Buques</h4>
</div>

<div id="collapseListadoBuqueGeolocalizacion" class="collapse show">
    <div class='mt-4 px-4 pb-4' style="height: 500px;">
        <!-- ACA VA LA SCROLLBAR -->
        <perfect-scrollbar [config]="{suppressScrollX: true, wheelSpeed: 0.4}"> 
            <table class='table table-bordered'>
                <thead class="header-geo-fijo" >
                    <tr>
                        <th class="header-geo-fijo header-geo-centrado"> <i class="fa fa-map-marker fa-1x"></i> </th>
                        <th class="header-geo-fijo">Nombre de Buque</th>
                        <th class="header-geo-fijo">Puerto de Partida</th>
                        <th class="header-geo-fijo">Puerto de Destino</th>
                        <th class="header-geo-fijo">Eta Reportada</th>
                        <th class="header-geo-fijo">Arribó</th>
                        <th class="header-geo-fijo">Última posición recibida</th>
                        <th class="header-geo-fijo">Área</th>
                        <th class="header-geo-fijo">Puerto actual</th>
                        <th class="header-geo-fijo">Estado</th>
                        <th class="header-geo-fijo">Muelle de carga</th>
                        <th class="header-geo-fijo">Ubicación del barco Line Up</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr *ngFor="let geolocalizacion of listaBuquesGeolocalizacion">
                        <td align="center" valign="center">
                            <input class="largerCheckbox" 
                                   id={{geolocalizacion.embarque_Id}} 
                                   type="checkbox" 
                                   [checked]="geolocalizacion.esSeleccionado"
                                   [value]="geolocalizacion.embarque_Id"
                                   (change)="onChangeBuqueSeleccionado($event)"
                                   />
                        </td>
                        <td>{{geolocalizacion.nombreBuque}} 

                                <i class="fa fa-location-arrow fa-1x c-celeste lista-buque-cursor" 
                                   data-toggle="tooltip" 
                                   data-placement="top" 
                                   title="Ir a la ubicación"   
                                  (click)="onZoomBuqueSeleccionado(geolocalizacion.posicion)"></i>

                        </td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.puertoOrigen : ''}}</td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.puertoDestino : ''}}</td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.etA_Reportado : ''}}</td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.ata : ''}}</td>
                        <td>{{geolocalizacion.posicion != null? geolocalizacion.posicion.horaUTCPosicionRecibida : ''}}</td>
                        <td>{{geolocalizacion.posicion != null? geolocalizacion.posicion.area : ''}}</td>
                        <td>{{geolocalizacion.posicion != null? geolocalizacion.posicion.puertoActual : ''}}</td>
                        <td>{{geolocalizacion.posicion.estado}}</td>
                        <td>{{geolocalizacion.muelleCarga}}</td>
                        <td>{{geolocalizacion.ubicacionLineUp}}</td>
                    </tr>
                </tbody>
            </table>
        </perfect-scrollbar>
    </div>
</div>