<!--<app-collapse-button collapseSelectorId='collapseListadoBuqueGeolocalizacion'></app-collapse-button>-->
<div *ngIf="!cargarListado">
    <br><br>
        No existe buques para mostrar en el listado de geolocalización
    <br><br>
</div>
<div *ngIf="cargarListado">
    <div class="divHeaderRightLeft"  *ngIf="getListaBuquesGeolocalizacion().length > 0">
        <h4 class='colorTitle pt-4 divHeaderLeft'>Line Up - Buques en viaje</h4>
    </div>

    <div id="collapseListadoBuqueGeolocalizacion" class="collapse show" *ngIf="getListaBuquesGeolocalizacion().length > 0">
        <div class="form-row">
            <div class="form-group col-md-2">
              <label for="tipoDeBuquePuerto" class="font-weight-bold">Muelle de carga</label>
              <select class="custom-select" (change)="onChangeMuelleSeleccionado($event)">
                <option *ngFor="let muelleCarga of getListadoMuelleCarga()" [value]="muelleCarga.codigo" >{{ muelleCarga.descripcion }}</option>
              </select>
            </div>
            <table class='table table-bordered'>
                <thead class="header-geo-fijo" >
                    <tr>
                        <th class="header-geo-fijo header-geo-centrado"> <div class="fa fa-map-marker fa-1x"></div> </th>
                        <th class="header-geo-fijo">Nombre de Buque</th>
                        <th class="header-geo-fijo">Puerto de Partida</th>
                        <th class="header-geo-fijo">Puerto de Destino</th>
                        <th class="header-geo-fijo">Eta Reportada</th>
                        <th class="header-geo-fijo">Arribó</th>
                        <th class="header-geo-fijo">Última posición recibida</th>
                        <th class="header-geo-fijo">Área</th>
                        <th class="header-geo-fijo">Puerto actual</th>
                        <th class="header-geo-fijo">Estado</th>
                        <th class="header-geo-fijo">Muelle de carga</th>
                        <th class="header-geo-fijo">Ubicación del barco Line Up</th>
                    </tr> 
                </thead>
                <tbody *ngFor="let geolocalizacion of getListaBuquesGeolocalizacion()">
                    <tr *ngIf="geolocalizacion.esSeleccionadoPorMuelle &&  geolocalizacion.numeroPaginado == paginaActual">
                        <td align="center" valign="center">
                            <input class="largerCheckbox" 
                                id={{geolocalizacion.embarque_Id}} 
                                type="checkbox" 
                                [checked]="geolocalizacion.esSeleccionado"
                                [value]="geolocalizacion.embarque_Id"
                                (change)="onChangeBuqueSeleccionado($event)"
                                />
                        </td>
                        <td>{{geolocalizacion.nombreBuque}} 

                                <i class="fa fa-location-arrow fa-1x c-celeste lista-buque-cursor" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="Ir a la ubicación"   
                                (click)="onZoomBuqueSeleccionado(geolocalizacion.posicion)"></i>

                        </td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.puertoOrigen : ''}}</td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.puertoDestino : ''}}</td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.etA_Reportado : ''}}</td>
                        <td>{{geolocalizacion.viaje != null? geolocalizacion.viaje.ata : ''}}</td>
                        <td>{{geolocalizacion.posicion != null? geolocalizacion.posicion.horaUTCPosicionRecibida : ''}}</td>
                        <td>{{geolocalizacion.posicion != null? geolocalizacion.posicion.area : ''}}</td>
                        <td>{{geolocalizacion.posicion != null? geolocalizacion.posicion.puertoActual : ''}}</td>
                        <td>{{geolocalizacion.posicion.estado}}</td>
                        <td>{{geolocalizacion.muelleCarga}}</td>
                        <td>{{geolocalizacion.ubicacionLineUp}}</td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li [ngClass]="{'page-item disabled': paginaActual == 1 }">
                    <a class="page-link" href="javascript:void(0);" (click)="seleccionaPagina(paginaActual - 1)">Previous</a>
                  </li>
                  <li *ngFor="let pagina of listaPaginas; let index = index" 
                       [ngClass]="{'page-item disabled': paginaActual == (index + 1)}">
                      <a class="page-link" href="javascript:void(0);" (click)="seleccionaPagina(index + 1)">{{index + 1}}</a>
                  </li>
                  <li [ngClass]="{'page-item disabled': paginaActual >= totalPaginas }">
                    <a class="page-link" href="javascript:void(0);" (click)="seleccionaPagina(paginaActual + 1)">Next</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</div>