.sidebar-header {
    background-color: #4d60a8;
    padding: 6px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.sidebar-header.env-qa {
  background: #74a84d 0% 0% no-repeat padding-box !important;
}

.sidebar-header.env-uat {
  background: #df9732 0% 0% no-repeat padding-box !important;
}

.sidebar-header img:hover {
    cursor: pointer;
}

::ng-deep .ng-sidebar {
    padding: 0 !important;
    margin: 0 !important;
    width: 15vw;
    box-shadow: 8px 1px 16px -3px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 8px 1px 16px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 8px 1px 16px -3px rgba(0, 0, 0, 0.37);
    z-index: 5000 !important;

    display: flex !important;
    flex-direction: column !important;
    height: 100vh; 
}

.links-container hr{
    margin: 0 !important;
}

.links-container {
    flex: 1; 
    overflow-y: auto; 
    overflow-x: hidden;
}

.links-container a {
    text-decoration: none;
}

.links-container a div.item-container{
    width: 100%;
    height: auto; 
    padding: 15px 0;
    display: flex;
}

.links-container a div.item-container span {
    margin-left: 10px;
    color: #767676;
    margin-top: 2px;
}

.links-container a div.item-container div{
    background-color: #767676;
    margin-left: 10px;
}

.links-container a div.item-container div.icon-lineup{
    -webkit-mask: url('assets/sidebar-icons/lineup.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/lineup.svg') no-repeat center;
    width: 28px;
    height: 24px;
    margin-top: 2px;
}

.links-container a div.item-container div.icon-operaciones{
    -webkit-mask: url('assets/sidebar-icons/operaciones.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/operaciones.svg') no-repeat center;
    width: 27px;
    height: 27px;
}

.links-container a div.item-container div.icon-geolocalizacion{
    -webkit-mask: url('assets/sidebar-icons/geolocalizacion.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/geolocalizacion.svg') no-repeat center;
    width: 27px;
    height: 27px;
}
.links-container a div.item-container div.icon-buques{
    /* -webkit-mask: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center; */
    -webkit-mask: url('assets/historial-de-embarque.svg') no-repeat center;
    mask-image: url('assets/historial-de-embarque.svg') no-repeat center;
    width: 33px;
    height: 35px;
}

.links-container a div.item-container div.icon-recibidores{
    -webkit-mask: url('assets/sidebar-icons/recibidores.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/recibidores.svg') no-repeat center;
    width: 28px;
    height: 28px;
}

.links-container a:hover div.item-container span{
    color: #4d60a8;
    font-weight: 600;
}

.links-container a:hover div.item-container div{
    background-color: #4d60a8;
}

.links-container a div.item-container.active-item div{
    background-color: #354275;
}

.links-container a div.item-container.active-item span{
    color: #354275;
    font-weight: 500;
}

.sidebar-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    background-color: white;
}

.links-container a div.item-container div.icon-pe{
    -webkit-mask: url('assets/IconoHomeProgramaEmbarque.svg') no-repeat center;
    mask-image: url('assets/IconoHomeProgramaEmbarque.svg') no-repeat center;
    width: 27px;
    height: 30px;
}

.links-container a div.item-container div.icon-vapor{
    -webkit-mask: url('assets/sidebar-icons/buques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/buques.svg') no-repeat center;
    width: 27px;
    height: 30px;
}

.links-container a div.item-container div.icon-afip{
    /* -webkit-mask: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center; */
    -webkit-mask: url('assets/sidebar-icons/icon-afip.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/icon-afip.svg') no-repeat center;
    width: 33px;
    height: 35px;
}

.links-container a div.item-container div.icon-destinos {
    -webkit-mask: url('assets/sidebar-icons/destinos.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/destinos.svg') no-repeat center;
    height: 30px;
    width: 30px;
}

.links-container a div.item-container div.icon-administracion{
    -webkit-mask: url('assets/sidebar-icons/administracion.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/administracion.svg') no-repeat center;
    width: 33px;
    height: 35px;
}

@media screen and (max-width: 480px) {
    /* Estilos para pantallas de hasta 480px de ancho */
    ::ng-deep .ng-sidebar {
        width: 60vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
/* Estilos para pantallas entre 481px y 1024px de ancho */
::ng-deep .ng-sidebar {
    width: 33vw;
}
}