<ng-sidebar-container>
  <ng-sidebar [(opened)]="opened" [keyClose]="keyClose" [closeOnClickOutside]="true" [animate]="animate" [dock]='false'
    [dockedSize]='"60px"' [mode]="'over'" [autoFocus]='false'>

    <div class='sidebar-header'>
      <img src='assets/sidebar/Logo_Molinos_M.png' (click)='goHome()'>
    </div>
    <div class='links-container' #menuSide>
      <a routerLink='/' *ngIf='tienePermiso("LineUp_Ver")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "lineup" || rutaActual == ""'>
          <div class='icon-lineup'></div>
          <span>Line Up</span>
        </div>
      </a>

      <!-- <hr *ngIf='tienePermiso(670)'>
      <a routerLink='/reportes-informes' *ngIf='tienePermiso(670)'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "reportes"'>
          <img src='assets/sidebar-icons/reportes.svg' width="32">
          <span>Reportes/Informes</span>
        </div>
      </a> -->
      <!-- COMENTADO POR EVANGELINO PARA EL PASE DE TABLERISTA-->
      
      <hr *ngIf='tienePermiso("Geolocalizacion_Ver")'> 
      <a routerLink='/geolocalizacion' *ngIf='tienePermiso("Geolocalizacion_Ver")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "geolocalizacion"'>
        
          <div class='icon-geolocalizacion'></div>
          <span *ngIf='opened'>Geolocalización</span>
        </div>
      </a>

      <hr *ngIf='tienePermiso("Vapor_Visualizar")'> 
      <a routerLink='/vapor' *ngIf='tienePermiso("Vapor_Visualizar")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "vapor"'>        
          <div class='icon-vapor'></div>
          <span *ngIf='opened'>Buque</span>
        </div>
      </a>
    <!--
      <hr *ngIf='tienePermiso("Clientes_Visualizar")'> 
      <a routerLink='/clientes' *ngIf='tienePermiso("Clientes_Visualizar")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "clientes"'>        
          <div class='icon-vapor'></div>
          <span *ngIf='opened'>Clientes</span>
        </div>
      </a>
    -->
      <hr *ngIf='tienePermiso("Carga_Ver")'>
      <a routerLink='/carga' *ngIf='tienePermiso("Carga_Ver")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "carga"'>
          <div class='icon-operaciones'></div>
          <span *ngIf='opened'>Operaciones</span>
        </div>
      </a>
      
      <hr *ngIf='tienePermiso("Recibidores_Ver")'>
      <a routerLink='/calidad' *ngIf='tienePermiso("Recibidores_Ver")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "calidad"'>
          <div class='icon-recibidores'></div>
          <span *ngIf='opened'>Recibidores</span>
        </div>
      </a>
    
      <hr *ngIf='tienePermiso("Comex_Nominacion_Ver")'>
      <a routerLink='/programa' *ngIf='tienePermiso("Comex_Nominacion_Ver")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "programa"'>
          <div class='icon-pe'></div>
          <span *ngIf='opened'>Programa Embarque</span>
        </div>
      </a>
      
      <hr *ngIf='tienePermiso("Buque_Ver")'>
      <a routerLink='/buques' *ngIf='tienePermiso("Buque_Ver")'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "buques"'>
          <div class='icon-buques'></div>
          <span *ngIf='opened'>Historial Embarques</span>
        </div>
      </a>

      <hr *ngIf='tienePermiso("Caratula_Visualizar")'>
      <a *ngIf='tienePermiso("Caratula_Visualizar")' data-toggle="collapse" href="#collapseAfip" aria-expanded="false" aria-controls="collapseAfip">
        <div  class="item-container">
          <div class="icon-afip"></div>
          <span *ngIf="opened">Afip</span>
        </div>
      </a>
      <div class="collapse item-container" id="collapseAfip">
        <a routerLink="/afip/caratula" *ngIf='tienePermiso("Caratula_Visualizar")'>
          <div (click)="closeSubmenus(menuSide)" class="item-container px-5" [class.active-item]='rutaActual == "afip/caratula"'>        
            <span *ngIf="opened">Caratulas</span>
          </div>
        </a>        
        <a routerLink="/afip/coem" *ngIf='tienePermiso("Coem_Visualizar")'>
          <div (click)="closeSubmenus(menuSide)" class="item-container px-5" [class.active-item]='rutaActual == "afip/coem"'>            
            <span *ngIf="opened">Coems</span>
          </div>
        </a>
      </div>      

      

      <!-- <hr *ngIf='tienePermiso(650)'>
      <a routerLink='/administracion' *ngIf='tienePermiso(650)'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "administracion"'>
          <img src='assets/sidebar-icons/administracion.svg' width="32">
          <span>Administración</span>
        </div>
      </a>

      <hr *ngIf='tienePermiso(660)'>
      <a routerLink='/comex' *ngIf='tienePermiso(660)'>
        <div (click)='closeSubmenus(menuSide)' class='item-container' [class.active-item]='rutaActual == "comex"'>
          <img src='assets/sidebar-icons/comex.svg' width="32">
          <span>Comex</span>
        </div>
      </a> -->

      <!-- Ejemplo de menu-submenu -->
      <!-- <a><div (click)='showSubmenu(menuSide, subCarga)'><img src='../../../assets/sidebar-icons/container.png' width="32"><span>Modulo de Carga</span></div></a>
      <ul class='subItems' #subCarga>
        <a routerLink='/carga'><li (click)='closeSubmenus(menuSide)'>Carga Solidos</li></a>
        <a routerLink='/carga-liquidos'><li (click)='closeSubmenus(menuSide)'>Carga Liquidos</li></a>
      </ul> -->

      <hr>
    </div>
    <div class='sidebar-footer' *ngIf='opened'>
      MOLINOS AGRO - SCATO PUERTO 2021
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <app-navbar [onClickHandler]="toggleOpened.bind(this)"></app-navbar>
    <!-- <app-alert></app-alert> -->
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>

<!-- <app-navbar></app-navbar>
<app-alert></app-alert>
<router-outlet></router-outlet> -->