<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="387" height="587.5" viewBox="0 0 387 587.5">
    <defs>
        <filter id="Rectángulo_400" x="0" y="204.5" width="387" height="383" filterUnits="userSpaceOnUse">
            <feOffset dy="3" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="5.5" result="blur"/>
            <feFlood flood-opacity="0.161"/>
            <feComposite operator="in" in2="blur"/>
            <feComposite in="SourceGraphic"/>
        </filter>
        <pattern id="pattern" preserveAspectRatio="xMidYMid slice" width="100%" height="100%" viewBox="0 0 800 600">
            <image *ngIf="fotoEmbarque" width="800" height="600" id="imagenBuque" attr.xlink:href="{{fotoEmbarque}}"/> 
            <image *ngIf="!fotoEmbarque"  width="800" height="600" id="imagenBuque" href="./assets/buque_no_encontrado.png"/>
        </pattern>
    </defs>
    <g id="Componente_148_2" data-name="Componente 148 – 2" transform="translate(16.5)">
        <g id="Card_Box" transform="translate(0 218)">
            <g transform="matrix(1, 0, 0, 1, -16.5, -218)" filter="url(#Rectángulo_400)">
                <path id="Rectángulo_400-2" data-name="Rectángulo 400" d="M0,0H354a0,0,0,0,1,0,0V346a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4V0A0,0,0,0,1,0,0Z" transform="translate(16.5 218)" fill="#fff"/>
            </g>
        </g>
        <rect id="Rectángulo_503" data-name="Rectángulo 503" width="44" height="61" transform="translate(307 319)" fill="none"/>
        <g id="Grupo_10791" data-name="Grupo 10791" transform="translate(-15 208)">
            <g id="Grupo_202" data-name="Grupo 202" transform="translate(-456 -134)">
                <text id="STAR_DESPOINA" data-name="STAR DESPOINA" transform="translate(491 189)" fill="#1a1a1a" font-size="21" font-family="Roboto-Bold, Roboto" font-weight="700">
                    <tspan x="0" y="0">{{buque.nombreBuque}}</tspan>
                </text>
                <line id="Línea_106" data-name="Línea 106" x2="354" transform="translate(471 219)" fill="none" stroke="#e8e8e8" stroke-width="1"/>
                <text id="IMO:_9450894_Bandera:_Liberia_LR_Tipo_de_buque:_Bulk_Carrier_Porte_bruto:_50868_Porte_neto_TNR_:_xxxx_Eslora_x_manga:_229.5_x_36.92_m_Puntal:_xxxx_Freeboard:_xxxx_Cantidad_de_bodegas_tanques:_xxxx" data-name="IMO: 9450894
                Bandera: Liberia [LR]
                Tipo de buque: Bulk Carrier
                Porte bruto: 50868
                Porte neto (TNR): xxxx
                Eslora x manga: 229.5 x 36.92 m
                Puntal: xxxx
                Freeboard: xxxx
                Cantidad de bodegas/tanques: xxxx" transform="translate(492 238)" fill="#666" font-size="16" font-family="Roboto-Bold, Roboto" font-weight="700">
                    <tspan x="0" y="15">IMO: </tspan>
                    <tspan y="15" xml:space="preserve" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.informacion.imo}}</tspan>
                    <tspan x="0" y="39">Bandera: </tspan>
                    <tspan y="39" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.informacion.bandera ? buque.informacion.bandera.nombre : ''}}</tspan>
                    <tspan x="0" y="63">Tipo de buque: </tspan>
                    <tspan y="63" xml:space="preserve" font-family="Roboto-Regular, Roboto" font-weight="400">{{buque.embarque.tipoBuque}}</tspan>
                    <tspan x="0" y="87">Porte bruto: </tspan>
                    <tspan y="87" xml:space="preserve" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.embarque.porteBruto}}</tspan>
                    <tspan x="0" y="111">Porte neto (TNR): </tspan>
                    <tspan y="111" xml:space="preserve" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.embarque.porteNeto}}</tspan>
                    <tspan x="0" y="135">Eslora x manga: </tspan>
                    <tspan y="135" xml:space="preserve" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.informacion.largoxAnchoExtremo ? buque.informacion.largoxAnchoExtremo : ''}}</tspan>
                    <tspan x="0" y="159">Puntal: </tspan>
                    <tspan y="159" xml:space="preserve" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.embarque.puntal}}</tspan>
                    <tspan x="0" y="183">Freeboard: </tspan>
                    <tspan y="183" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.embarque.freeboard}}</tspan>
                    <tspan x="0" y="207">Cantidad de bodegas/tanques: </tspan>
                    <tspan y="207" font-family="Roboto-Regular, Roboto" font-weight="400"> {{buque.embarque.cantidadBodegasTanques}}</tspan>
                </text>
                <rect id="Rectángulo_503-2" data-name="Rectángulo 503" width="44" height="61" transform="translate(778 219)" fill="none"/>
            </g>
        </g>
        <path id="DJI_0175-24" d="M4,0H350a4,4,0,0,1,4,4V218a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V4A4,4,0,0,1,4,0Z" fill="url(#pattern)" 
            style="cursor:pointer;"
            (click)='onCerrarModal()'/>
        <g id="x" transform="translate(326.5 13.5)" 
            style="cursor:pointer;" 
            (click)='onCerrarModal()'>
            <path id="Trazado_10" data-name="Trazado 10" d="M0,0,11.25,11.25M11.25,0,0,11.25" transform="translate(1.375 1.375)" stroke="#212529" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"/>
        </g>
    </g>
</svg>