<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
<app-collapse-button collapseSelectorId='planillaEmbarque' id="collPlanillaEmbarque"></app-collapse-button>
<h4 class='colorTitle py-4' style="margin-bottom: -2px;">Planilla de embarque</h4>


<div id='planillaEmbarque' class='pb-5 collapse show'>
    <div class='btn-add-container center-bt '
    style="margin-bottom: 30px"
    (click)='agregarObjPlanilla()' #addButton>
    <button type='button' class='btn btn-primary bt-circle ocultarPdf'
        style='margin-top: -5px;'>+</button>
    <span class='txt-primary pl-10 mt-5 txt-action ocultarPdf'>Agregar nueva fila</span>
</div>
    <div fxLayout='row wrap'>
        <div fxFlex='100' class='pr-4'>
            <form [formGroup]='lineasEmbarque'>
                <table class='table table-bordered turnos w-auto'>
                    <thead>
                        <tr class='table-active'>
                            <th style="width: 14%; font-size: 12px;">Exportador</th>
                            <th>Parcel</th>
                            <th style="width: 6%;">Tks de abordo</th>
                            <th  style="width: 10%;">Destino</th>
                            <th style="width: 6%;">Tks de tierra</th>
                            <th  style="width: 8%;">Tn.</th>
                            <th style="width: 12%;">Producto</th>
                            <th style="width: 18%;">Fecha inicio</th>
                            <th style="width: 18%;">Fecha fin</th>
                            <th style="width: 2%"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName='linea'>
                            <ng-container *ngFor='let l of linea.controls; let i = index' [formGroupName]='i'>
                                <tr>
                                    <td scope="row">
                                        <select formControlName='exportador' [compareWith]='compareLineaItem'>
                                            <option [value]='0'></option>
                                            <option *ngFor='let exportador of exportadores' [ngValue]='exportador'>
                                                {{exportador.nombre}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select formControlName='bodegaParcel' [compareWith]='compareLineaItem' (change)='autoCompleteParcel($event.target.value, l)'>
                                            <option [value]='0'></option>
                                            <option *ngFor='let bodega of bodegas; trackBy: trackBodegas' [value]='bodega.bodegaParcel'>{{bodega.bodegaParcel}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input formControlName="tanqueDeAbordo" class="control-bloqueado">
                                    </td>
                                    <td>
                                        <input formControlName="destinoTexto" disabled>
                                    </td>
                                    <td>
                                        <input formControlName="tk">
                                    </td>
                                    <td>
                                        <input type="text" formControlName="tn" (keypress)="numberOnly($event, true)"/>                                    
                                    </td>
                                    <td>
                                        <select formControlName='materialPuerto' [compareWith]='compareLineaItem' class="control-bloqueado">
                                            <option [value]='0'></option>
                                            <option *ngFor='let producto of productos' [ngValue]='producto'>{{producto.descripcionCorta}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="datetime-local" formControlName='fechaComienzoCarga' >
                                    </td>
                                    <td>
                                        <input type="datetime-local" formControlName='fechaFinalizacionCarga' [value]="fechaFinalizacionCarga">
                                    </td>
                                    <td style="padding: 0 !important;" class="btn-eliminar">
                                        <img src='assets/trashIcon-no-border.svg' (click)='eliminarObjPlanilla(i)' style="margin-top: 3px">
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="col">
        <div class="row referencias">
            <span>REFERENCIAS</span>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <span><b>CSBO=</b> Aceite crudo de soja</span>
                </div>
                <div class="row">
                    <span><b>CSFO=</b> Aceite crudo de girasol</span>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span><b>RSBO=</b> Aceite refinado de soja</span>
                </div>
                <div class="row">
                    <span><b>RSFO=</b> Aceite refinado de girasol</span>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span><b>FAME=</b> Biodiesel</span>
                </div>
                <div class="row"></div>
            </div>

        </div>
    </div>
    <br/>
    <div class="text-center" id="guardarPlanillaEmbarque">
        <ng-container *ngIf="hasPermisoLiquido_PlanillaEmbarque_Editar()">
            <button type="button" class="btn btn-primary" [disabled]="this.guardando" (click)="guardar()">GUARDAR</button>
        </ng-container>
    </div>

</div>
