<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
<app-collapse-button collapseSelectorId='planillaEmbarque' id="collPlanillaEmbarque"></app-collapse-button>
<h4 class='colorTitle py-4'>Planilla de embarque</h4>

<div id='planillaEmbarque' class='pb-5 collapse show'>
    <div fxLayout='row wrap'>
        <div fxFlex='100' class='pr-4'>
            <form [formGroup]='lineasEmbarque'>
                <table class='table table-bordered turnos w-auto'>
                    <thead>
                        <tr class='table-active'>
                            <th style="width: 15%;">Exportador</th>
                            <th>Partida</th>
                            <th>Tks de abordo</th>
                            <th  style="width: 10%;">Destino</th>
                            <th>Tks de tierra</th>
                            <th  style="width: 8%;">Tn.</th>
                            <th style="width: 10%;">Producto</th>
                            <th style="width: 17%;">Fecha inicio</th>
                            <!--<th>Hora inicio</th>-->
                            <th style="width: 17%;">Fecha fin</th>
                            <!--<th>Hora fin</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName='linea'>
                            <ng-container *ngFor='let l of linea.controls; let i = index' [formGroupName]='i'>
                                <tr>
                                    <td scope="row">
                                        <select formControlName='exportador' [compareWith]='compareLineaItem'>
                                            <option [value]='0'></option>
                                            <option *ngFor='let exportador of exportadores' [ngValue]='exportador'>
                                                {{exportador.nombre}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select formControlName='bodegaParcel' [compareWith]='compareLineaItem' (change)='autoCompleteParcel($event.target.value, l)'>
                                            <option [value]='0'></option>
                                            <option *ngFor='let bodega of bodegas' [value]='bodega.bodegaParcel'>{{bodega.bodegaParcel}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input formControlName="tanqueDeAbordo" class="control-bloqueado">
                                        <!-- <select formControlName='tanqueDeAbordo' [compareWith]='compareLineaItem'>
                                            <option [value]='0'></option>
                                            <option *ngFor='let tanque of tanquesAbordo' [ngValue]='tanque'>{{tanque}}</option>
                                        </select> -->
                                    </td>
                                    <td>
                                        <select formControlName='destino' [compareWith]='compareLineaItem' class="control-bloqueado">
                                            <option [value]='0'></option>
                                            <option *ngFor='let bodega of bodegas' [ngValue]='bodega.destino ? bodega.destino : ""'>{{bodega.destino ? bodega.destino.nombre : ''}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select formControlName='tk' [compareWith]='compareLineaItem'>
                                            <option [value]='0'></option>
                                            <option *ngFor='let linea of lineas' [value]='linea.tkInicial'>{{linea.tkInicial}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input formControlName='tn'  class="control-bloqueado">
                                    </td>
                                    <td>
                                        <select formControlName='materialPuerto' [compareWith]='compareLineaItem' class="control-bloqueado">
                                            <option [value]='0'></option>
                                            <option *ngFor='let producto of productos' [ngValue]='producto'>{{producto.descripcionCorta}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="datetime-local" formControlName='fechaComienzoCarga' >
                                    </td>
                                    <!--
                                    <td>
                                        <div>
                                            <input formControlName='horaComienzoCarga' placeholder="00:00" [ngxTimepicker]='horaComienzo'
                                                [format]='24' class='w-100'>
                                            <img src='assets/reloj.svg' class='imgClockInput1'>
                                            <ngx-material-timepicker #horaComienzo></ngx-material-timepicker>
                                        </div>                                        
                                    </td>
                                    -->
                                    <td>
                                        <input type="datetime-local" formControlName='fechaFinalizacionCarga' [value]="fechaFinalizacionCarga">
                                    </td>
                                    <!--
                                    <td >
                                        <div >
                                            <input formControlName='horaFinalizacionCarga' placeholder="00:00" [ngxTimepicker]='horaFinalizacion'
                                                [format]='24' class='w-100'>
                                            <img src='assets/reloj.svg' class='imgClockInput1'>
                                            <ngx-material-timepicker #horaFinalizacion></ngx-material-timepicker>
                                        </div>
                                    </td>
                                    -->
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- <div fxFlex='20' class='referencias'>
            <span>REFERENCIAS</span>
            <span><b>CSBO=</b> Aceite crudo de soja</span>
            <span><b>CSFO=</b> Aceite crudo de girasol</span>
            <span><b>RSBO=</b> Aceite refinado de soja</span>
            <span><b>RSFO=</b> Aceite refinado de girasol</span>
            <span><b>FAME=</b> Biodiesel</span>
        </div> -->
    </div>

    <div class="col">
        <div class="row referencias">
            <span>REFERENCIAS</span>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <span><b>CSBO=</b> Aceite crudo de soja</span>
                </div>
                <div class="row">
                    <span><b>CSFO=</b> Aceite crudo de girasol</span>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span><b>RSBO=</b> Aceite refinado de soja</span>
                </div>
                <div class="row">
                    <span><b>RSFO=</b> Aceite refinado de girasol</span>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <span><b>FAME=</b> Biodiesel</span>
                </div>
                <div class="row"></div>
            </div>
            
        </div>
    </div>
    <br/>
    
</div>
<div class="text-center">
	<ng-container *ngIf="hasPermisoLiquido_PlanillaEmbarque_Editar()">
    	<button type="button" class="btn btn-primary" [disabled]="this.guardando" (click)="guardar()">GUARDAR</button>
    </ng-container>
</div>
