<div class="mt-4 shadow" style="background-color: white; min-height: 5rem" *ngIf="formTurnos">
    <app-collapse-button collapseSelectorId="collapseTurnosSolidos"></app-collapse-button>

    <h4 class="colorTitle px-4 pt-4">
        {{
        esLiquido
        ? "Planilla de turnos líquidos Recibidores"
        : "Planilla de turnos sólidos Recibidores"
        }}
    </h4>

    <div id="collapseTurnosSolidos" class="container-fluid mt-4">
        <form [formGroup]="formTurnos">

            <!-- BOTÓN AGREGAR TURNO -->
            <button type="button" class="btn btn-primary mb-3" (click)='openModalNuevoTurno(agregarTurno)'>
                Agregar Turno
            </button>

            <!-- ========================= -->
            <!-- TABLA PRINCIPAL -->
            <!-- ========================= -->
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>Día</th>
                            <th>Turno</th>
                            <th>Exportador</th>
                            <th class="text-right">Celda / Silo</th>
                            <th>Producto</th>
                            <th>Destino</th>
                            <th class="text-right">Bodega</th>
                            <th class="text-right">Cant. Tn</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th style="width: 100px"></th>
                        </tr>
                    </thead>

                    <tbody formArrayName="dias">
                        <!-- DÍAS -->
                        <ng-container *ngFor="let dia of dias.controls; let d = index; trackBy: trackByIndex"
                            [formGroupName]="d">
                            <ng-container formArrayName="turnos">
                                <!-- TURNOS -->
                                <ng-container *ngFor="
                                    let turno of getTurnos(d).controls;
                                    let t = index;
                                    trackBy: trackByIndex
                                    " [formGroupName]="t">
                                    <!-- FILA TURNO -->
                                    <tr>
                                        <!-- COLUMNA DÍA -->
                                        <td *ngIf="t === 0" class="align-middle text-center"
                                            [attr.rowspan]="getRowSpanDia(d)">
                                            <div class="font-weight-bold">
                                                {{ formatearFechaFront(dia.value.fecha) }}
                                            </div>

                                            <div class="colortext font-weight-bold">
                                                0 Tn
                                            </div>

                                            <small class="colortext">por día</small>
                                        </td>

                                        <!-- COLUMNA TURNO -->
                                        <td class="turno align-middle" [attr.rowspan]="getRowSpanTurno(turno) + 1">
                                            <div class="p-2 text-center">

                                                <div class="d-flex align-items-center justify-content-center mb-1"
                                                    style="padding-left:23px;">
                                                    <h6 class="mb-0">
                                                        {{ turno.value.turnoPuerto?.nombre }}
                                                    </h6>

                                                    <img src="assets/trashIcon-no-border.svg" alt="Eliminar"
                                                        class="eliminar-turno" (click)="eliminarTurno(turno)" />
                                                </div>

                                                <div class="d-flex flex-column align-items-center">
                                                    <div class="colortext font-weight-bold text-center">
                                                        0 Tn
                                                        <div>
                                                            <small class="colortext">por turno</small>
                                                        </div>
                                                    </div>

                                                    <!-- BOTÓN CERRAR / REABRIR -->
                                                    <button type="button" class="btn btn-sm mb-2" [ngClass]="
                                                        turno.value.cerrado
                                                        ? 'btn-primary'
                                                        : 'btn-success'
                                                        " (click)="cerrarReabrirTurno(turno)">
                                                        {{
                                                        turno.value.cerrado
                                                        ? "Reabrir turno"
                                                        : "Cerrar turno"
                                                        }}
                                                    </button>

                                                    <button class="btn btn-outline-success btn-sm no-click"
                                                        [class.invisible]="!turno.value.cerrado">
                                                        Turno cerrado ✔
                                                    </button>
                                                </div>
                                            </div>
                                        </td>

                                        <!-- COLUMNAS VACÍAS <td colspan="8"></td> -->
                                        <ng-container *ngIf="getLineas(turno).length > 0; else sinLineas">
                                            <ng-container *ngIf="getLineas(turno)[0] as linea">
                                                <!--<td>{{ getNombreExportador(linea.exportador?.id) }}</td>-->
                                                <td>{{ linea.exportador?.nombre }}</td>
                                                <td>{{ esLiquido ? linea.linea?.linea : linea.siloCelda?.nombre }}</td>
                                                <td>{{ linea.materialPuerto?.descripcion }}</td>
                                                <td>{{ linea.destino?.nombre }}</td>
                                                <td>{{ esLiquido ? linea.parcel : linea.bodega }}</td>
                                                <td>{{ linea.cantidad }}</td>
                                                <td>{{ linea.horaInicio | date:'dd/MM HH:mm' }}</td>
                                                <td>{{ linea.horaFin | date:'dd/MM HH:mm' }}</td>
                                                <!-- EDITAR / ELIMINAR -->
                                                <td class="text-center" *ngIf="tieneLineas(turno)">
                                                    <button class="btn btn-sm mr-1">
                                                        <i class="fa fa-pencil"></i>
                                                    </button>

                                                    <img src="assets/trashIcon-no-border.svg" alt="Eliminar" style="
                                                        width: 20px;
                                                        height: 20px;
                                                        cursor: pointer;
                                                        margin-top: 4px;
                                                    " />
                                                </td>
                                            </ng-container>
                                        </ng-container>
                                    </tr>

                                    <!-- FILAS EXTRA: RESTO DE LÍNEAS -->
                                    <tr *ngFor="let linea of getLineas(turno); let i = index" [hidden]="i === 0">
                                        <!--<td>{{ getNombreExportador(linea.exportador?.id) }}</td> -->
                                        <td>{{ linea.exportador?.nombre }}</td>
                                        <td>{{ esLiquido ? linea.linea?.linea : linea.siloCelda?.nombre }}</td>
                                        <td>{{ linea.materialPuerto?.descripcion }}</td>
                                        <td>{{ linea.destino?.nombre }}</td>
                                        <td>{{ esLiquido ? linea.parcel : linea.bodega }}</td>
                                        <td>{{ linea.cantidad }}</td>
                                        <td>{{ linea.horaInicio | date:'dd/MM HH:mm' }}</td>
                                        <td>{{ linea.horaFin | date:'dd/MM HH:mm' }}</td>
                                        <td class="text-center" *ngIf="tieneLineas(turno)">
                                            <button class="btn btn-sm mr-1">
                                                <i class="fa fa-pencil"></i>
                                            </button>

                                            <img src="assets/trashIcon-no-border.svg" alt="Eliminar" style="
                                                        width: 20px;
                                                        height: 20px;
                                                        cursor: pointer;
                                                        margin-top: 4px;
                                                    " />
                                        </td>
                                    </tr>


                                    <!-- FILA AGREGAR LÍNEA -->
                                    <tr>
                                        <td colspan="9" class="bg-light">
                                            <button type="button" class="btn btn-primary btn-sm mt-2"
                                                [disabled]="turno.value.cerrado"
                                                (click)='openModalNuevaLinea(altaCarga, turno, d)'>
                                                Agregar Línea
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <!-- ========================= -->
            <!-- TOTALES + GUARDAR -->
            <!-- ========================= -->
            <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
                <div [class.invisible]="!esLiquido" class="text-left">
                    <div class="row mb-1">
                        <div class="col-auto font-weight-bold colortext">
                            Línea vieja:
                        </div>
                        <div class="col colortext">0 Tn.</div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-auto font-weight-bold colortext">
                            Línea nueva:
                        </div>
                        <div class="col colortext">1000 Tn.</div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-auto font-weight-bold colortext">
                            Línea Vicentín:
                        </div>
                        <div class="col colortext">0 Tn.</div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-auto font-weight-bold colortext">
                            Línea Nouryon:
                        </div>
                        <div class="col colortext">0 Tn.</div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-auto font-weight-bold colortext">
                            Línea Biodiesel:
                        </div>
                        <div class="col colortext">0 Tn.</div>
                    </div>
                </div>

                <button class="btn btn-primary px-4 mr-2">
                    Guardar
                </button>

                <div class="right-side">
                    <div class="bt-total">
                        Total a bordo: 1000
                        <div class="img-tn"></div>
                    </div>
                </div>
            </div>

            <!-- ========================= -->
            <!-- HORARIOS DE CARGA -->
            <!-- ========================= -->
            <h4 class="mb-3">Horarios de carga</h4>

            <div class="table-responsive">
                <table class="table table-bordered table-sm mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Día / Turno</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Tiempo</th>
                            <th>Producto</th>
                            <th>Exportador</th>
                            <th>Destino</th>
                            <th class="text-right">Cantidad</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>13-06 / 06-12</td>
                            <td class="text-center">—</td>
                            <td class="text-center">—</td>
                            <td class="text-center">00:00</td>
                            <td>CORN</td>
                            <td>MOLINOS AGRO S.A.</td>
                            <td>INDIA</td>
                            <td class="text-right">
                                5.000,000 TN
                            </td>
                            <td class="text-center">
                                <button class="btn btn-sm">
                                    <i class="fa fa-pencil"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>

        <!-- BOTONES FINALES -->
        <div class="d-flex justify-content-center align-items-center mt-5 p-4">
            <button class="btn btn-primary mr-2">
                Exportar planilla
            </button>
            <button class="btn btn-success">
                Enviar planilla
            </button>
        </div>


    </div>

    <ng-template #agregarTurno let-modal>
        <div class='modal-body' style="height: 230px; z-index: 200">
            <!--<form [formGroup]='formNuevoTurno' fxLayout='row wrap'>-->
            <form *ngIf="formNuevoTurno" [formGroup]="formNuevoTurno" fxLayout="row wrap">
                <div class='pr-10 mt-2'>
                    <label>Fecha</label>
                    <div class="input_img">
                        <input type="date" formControlName="fecha" class="form-control" style="width: 160px;">
                    </div>

                    <div class="row mt-3">
                        <div class="col flex-between">
                            <button type="button" class='btn btn-primary m-2 ' (click)='addTurno(1)'>
                                00-06
                            </button>
                            <button type="button" class='btn btn-primary m-2' (click)="addTurno(2)">
                                06-12
                            </button>
                            <button type="button" class='btn btn-primary m-2' (click)="addTurno(3)">
                                12-18
                            </button>
                            <button type="button" class='btn btn-primary m-2' (click)="addTurno(4)">
                                18-24
                            </button>
                        </div>
                    </div>
                    <ngx-material-timepicker #inicioTime></ngx-material-timepicker>
                </div>
                <div fxFlex='100' class='right-buttons-turnos'>
                    <button class='btn btn-outline-danger' (click)='modal.dismiss("Cross click")'>Cancelar</button>
                    <!-- <button class='btn btn-primary' (click)='modal.close("save")'>Guardar</button> -->
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #altaCarga let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Alta de Carga</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form [formGroup]="formAltaCarga">
            <div class="modal-body">

                <!-- INICIO -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Inicio</label>
                        <input type="date" class="form-control" formControlName="fechaInicio">
                    </div>
                    <div class="form-group col-md-6">
                        <label>&nbsp;</label>
                        <input type="time" class="form-control" formControlName="horaInicio">
                    </div>
                </div>

                <!-- FIN -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fin</label>
                        <input type="date" class="form-control" formControlName="fechaFin">
                    </div>
                    <div class="form-group col-md-6">
                        <label>&nbsp;</label>
                        <input type="time" class="form-control" formControlName="horaFin">
                    </div>
                </div>

                <!-- EXPORTADOR -->
                <div class="form-group">
                    <label>Exportador</label>
                    <select class="form-control" formControlName="exportador">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let e of exportadores" [value]="e.id">
                            {{ e.nombre }}
                        </option>
                    </select>
                </div>

                <!-- PRODUCTO -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Producto</label>
                        <select class="form-control" formControlName="producto">
                            <option value="">Seleccionar</option>
                            <option *ngFor="let p of productos" [value]="p.id">
                                {{ p.descripcion }}
                            </option>
                        </select>
                    </div>

                    <!-- CANTIDAD -->
                    <div class="form-group col-md-6">
                        <label>TN / MT</label>
                        <input type="number" step="0.001" class="form-control" formControlName="cantidad">
                    </div>
                </div>

                <!-- LINEA / CELDA -->
                <div class="form-group">
                    <label>{{esLiquido ? "Línea":"Celda-Silo"}}</label>
                    <select class="form-control" formControlName="linea">
                        <option value="">Seleccionar</option>
                        <!-- LIQUIDO -->
                        <ng-container *ngIf="esLiquido">
                            <option *ngFor="let l of tipoLineasEmbarques" [ngValue]="l">
                                {{ l.linea }}
                            </option>
                        </ng-container>

                        <!-- SOLIDO -->
                        <ng-container *ngIf="!esLiquido">
                            <option *ngFor="let s of silosCeldas" [ngValue]="s">
                                {{ s.nombre }}
                            </option>
                        </ng-container>
                    </select>
                </div>

                <!-- DESTINO -->
                <div class="form-group">
                    <label>Destino</label>
                    <select class="form-control" formControlName="destino">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let d of destinos" [value]="d.id">
                            {{ d.nombre }}
                        </option>
                    </select>
                </div>

                <!-- BODEGA -->
                <div class="form-group">
                    <label> {{esLiquido ? "Parcel":"Bodega"}}</label>
                    <select class="form-control" formControlName="bodega">
                        <option value="">Seleccionar</option>
                        <option *ngFor="let b of bodegas" [value]="b">
                            {{ b }}
                        </option>
                    </select>
                </div>

                <!-- OBSERVACIONES -->
                <div class="form-group">
                    <label>Observaciones</label>
                    <textarea class="form-control" rows="3" formControlName="observaciones">
                </textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" (click)="modal.dismiss()">
                    Cancelar
                </button>
                <button type="button" class="btn btn-primary" [disabled]="formAltaCarga.invalid"
                    (click)="guardarAltaCarga(modal)">
                    Guardar
                </button>
            </div>
        </form>
    </ng-template>

</div>