<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="CommonBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
          <security mode="None" />
        </binding><binding name="CTGServiceBinding" maxReceivedMessageSize="2147483647" sendTimeout="00:25:00">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ZSDWS_SCATO">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="2000000000"/>
        </binding>
        <binding name="CustomSoapBinding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
        
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://scatoqa.molinosagro.com.ar/Scato.serviciosWeb/ServicioRepositorio.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioRepositorio" name="ServicioRepositorio" />
      <endpoint address="http://scatoqa.molinosagro.com.ar/Scato.serviciosWeb/ServicioComandos.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioComandos" name="ServicioComandos" />
      <endpoint address="http://scatoqa.molinosagro.com.ar/Scato.workflow/ListaDeWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Actividades.Interfaces.IListaDeWorkflows" name="ListaDeWorkflows" />
      <endpoint address="http://beta.webcompliance.com.ar/webcompliance/webservice/agroacopios" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="ComplianceWebServiceV2.DatosPort" name="DatosPort" />
      <endpoint address="http://gviceccqa.molinosagro.ad:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato" binding="customBinding" bindingConfiguration="ZSDWS_SCATO" contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO" />

      <!--<endpoint address="http://gvicsapa4.ar.molinos.local:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato" binding="customBinding" bindingConfiguration="ZSDWS_SCATO" contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO" />-->

      
      <endpoint address="https://serviciosjava.afip.gob.ar/wsctg/services/CTGService_v4.0" binding="basicHttpBinding" bindingConfiguration="CTGServiceBinding" contract="AfipCTGWebService.CTGServicePortType" name="CTGServiceHttpSoap11Endpoint" />
    </client>
  </system.serviceModel>
</configuration>