<ship-spinner [message]="'Cargando Historial de CODE. Por favor, espere...'"
    *ngIf='buscarHistorialCode'></ship-spinner>

<div style="overflow-x:auto;" class="table-responsive">
    <table class='table table-bordered lista-code-table'>
        <thead class="lista-code-header">

            <th>Id CODE</th>
            <th>Id Caratula</th>
            <th>Id de Viaje</th>
            <th>Id COEMs</th>
            <th>Estado</th>
        </thead>
        <tbody *ngFor="let historial of getListaHistorialCode()">
            <tr class="lista-code-row" *ngIf="historial.numeroPaginado == getPaginaActual()">
                <td class="lista-code-row-item">{{historial.idCode}}</td>
                <td class="lista-code-row-item">{{historial.idCaratula}}</td>
                <td class="lista-code-row-item">{{historial.idViaje}}</td>
                <td class="lista-code-row-item">{{historial.idCoems}}</td>
                <td class="lista-code-row-item">{{historial.estadoCode}}</td>
            </tr>
            <div class="lista-code-espacio" *ngIf="historial.numeroPaginado == getPaginaActual()">
            </div>
        </tbody>
    </table>
<!-- 
  <nav aria-label="Page navigation example" class="centrado"
        *ngIf="getListaHistorialCaratula()?.length > 0">
        <ul class="pagination justify-content-center paginado-buque-fondo">
            <li [ngClass]="{'page-item disabled': getPaginaActual() == 1 }">
                <a class="page-link" href="javascript:void(0);" (click)="setPaginaActual(getPaginaActual() - 1)">
                 << </a>
            </li>
            <li *ngFor="let pagina of getListaPaginas(); let index = index"
                [ngClass]="{'page-item disabled': getPaginaActual() == (index + 1)}">
                <a class="page-link" [ngClass]="{'paginado-buque-activo': getPaginaActual() == (index + 1)}"
                    href="javascript:void(0);" (click)="setPaginaActual(index + 1)">{{index + 1}}</a>
            </li>
            <li [ngClass]="{'page-item disabled': getPaginaActual() >= getTotalPaginas() }">
                <a class="page-link" href="javascript:void(0);" (click)="setPaginaActual(getPaginaActual() + 1)"> >>
                </a>
            </li>
        </ul>
    </nav>  -->
    <!-- <div *ngIf="esNoExisteRegistros && !esResumenOperatoria">
        No se encontraron registros para los filtros ingresados.
    </div>  -->



</div>

<!-- <ng-template #editCaratula let-modal>
    <app-modal-crear-caratula (actualizarListaVapores)="actualizarListaDeVapores($event)" [id]="caratulaId" [title]="'Rectificar Caratula Nro '+ caratulaImo"></app-modal-crear-caratula>
</ng-template> -->
