<div class='modal-header'>
  <h4 class="modal-title">Comentarios del Documento: {{nombreDocumento}}</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCerrarModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class='modal-body'>
  <div class="table-responsive table-scroll">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comentario of comentarios">
          <td>{{comentario.usuario}}</td>
          <td>{{comentario.fecha}}</td>
          <td class="cursiva">{{comentario.comentario}}</td>
        </tr>
        <tr *ngIf="comentarios?.length == 0">
          <td colspan="3">
            <span>Aún no hay comentarios para este documento.</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Área para agregar nuevo comentario -->
  <div class="form-group mt-3">
    <label for="nuevoComentario">Ingrese comentario:</label>
    <div class="input-group">
      <textarea class="form-control" id="nuevoComentario" rows="3" placeholder="Escriba su comentario aquí..."
        maxlength="256" [(ngModel)]="texto"></textarea>
      <button class="btn btn-primary ml-2 btn-agregar" type="button" (click)="onAgregarComentario()">Agregar</button>
    </div>
  </div>
</div>