<div class="row aduana-links mb-2">
  <div class="col-6 text-left">
    <a [routerLink]="linkIzquierdoUrl" class="aduana-link">{{ linkIzquierdoTexto }}</a>
  </div>
  <div class="col-6 text-right">
    <a [routerLink]="linkDerechoUrl" class="aduana-link">{{ linkDerechoTexto }}</a>
  </div>
</div>

<div class="row" *ngIf="mostrarTotales">
  <div class="col-12 col-lg-7 offset-lg-3">
    <div class="aduana-resumen">
      <div class="aduana-resumen-titulo">{{ tituloResumen }}</div>

      <div class="aduana-total-item" *ngFor="let item of totales">
        <div class="row">
          <div class="col-6">
            <strong>Balanza</strong> {{ item.balanza }}<br>
            <span>Material</span> {{ item.material }}
          </div>
          <div class="col-6 text-right">
            <span class="d-block">Embarcando</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="item.embarcadoPorcentaje + '%'" aria-valuenow="{{item.embarcadoPorcentaje}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="text-right">{{ item.embarcadoPorcentaje | number : '1.0-0' }}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
