div.container.unified_container {
  background: url(assets/login/puerto.jpg) center center no-repeat fixed;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}

.unified_container>.row>.col-md-4 {
  padding-right: 0;
}

@media (min-width: 992px) {
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
}

img {
  max-width: 100%;
  background: white;
  width: 210px;
  height: 100px;
}

.panel-body {
  height: auto;
  overflow: auto;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 14px;
}

div#api {
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}

.intro {
  margin: 30px;
  text-align: center;
  font-size: 12px;
  width: 267px;
  color: #5e645f;
}

.login {
  margin-bottom: 0px !important;
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

/* #next {
  border-radius: 2px;
  border: none;
  background-color: #009688;
  color: white;
  margin: 10px 0px 0px 30px;
  width: 135px;
  height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

#next:hover {
  background-color: #008e80;
}
*/
label,
div.divider,
div.password-label {
  display: none !important;
}

input#logonIdentifier {
  border-radius: 5px;
}

.entry-item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

a#createAccount {
  background: #959595 !important;
  text-align: center;
  padding-top: 8px !important;
}

a#createAccount,
#emailVerificationControl_but_send_code {
  background: #337ab7;
  color: white;
  border-radius: 2px;
  padding: 5px;
  width: 145px;
  height: 36px;
  margin: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
}

button#email_ver_but_send {
  border-radius: 5px;
}

body>div.container.self_asserted_container>div {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  height: 100% !important;
  background-color: rgba(255, 255, 255, 1);
}

body>div.container.self_asserted_container {
  background: url(https://b2cmoagro.blob.core.windows.net/moaoperaciones/login.jpg) center center no-repeat fixed;
  background-size: cover;
  width: 100%;
}

body>div.container.unified_container>div {
  display: flex;
  justify-content: left;
  align-items: center;
}

#background_branding_container {
  background: url(https://b2cmoagro.blob.core.windows.net/moaoperaciones/login.jpg);
}

#background_branding_container>img {
  display: none !important;
}

#api>div>div.intro>h2 {
  font-size: 20px !important;
}

body>div.container.unified_container>div>div>div>div {
  color: #172f8f;
}

#attributeList>ul {
  list-style: none !important;
}

#email {
  margin: 10px 0;
}

/* input {
  width: 100%;
  border-radius: 0px;
  border: none;
  color: black;
  font-size: 16px;
  border-bottom: #00000061 1px solid;
} */

#api>div>div.entry>div.rememberMe {
  display: flex;
}

#rememberMe {
  width: 10%;
}

#api>div>div.divider>h2 {
  display: none;
}

#api>div>div.create {
  margin-top: 15px;
}

#attributeList>ul {
  padding: 0 !important;
}

#emailVerificationControl>ul {
  padding-left: 0;
}

label,
input,
select {
  margin-bottom: 5px;
}

li {
  margin-bottom: 10px;
}

#localAccountForm>div.entry>div.buttons,
#localAccountForm>div.create {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 50px;
}

.error {
  color: #dd441e;
  font-weight: bold;
}

div.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.roles {
  position: relative;
  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: 1rem;
}

div.roles label.titulo-roles {
  display: block !important;
  position: absolute;
  background: white;
  padding-inline: .5rem;
  top: 0;
  transform: translateY(-50%);
}

div.roles label:not(.titulo-roles) {
  display: flex !important;
  gap: 5px;
}

div.roles label:not(.titulo-roles):last-child {
  margin: 0;
}

div.roles input {
  margin: 0;
}
