<ship-spinner *ngIf='iniciandoSession' [message]="'Iniciando Sesión...'"></ship-spinner>
<div class="container unified_container">
  <div class="row">
    <div class="col-md-4 col-md-offset-8 col-xs-12">
      <div class="login panel panel-default">
        <div class="panel-body">
          <!-- <img alt="Company Logo" class="companyLogo" src="https://b2cmoagro.blob.core.windows.net/moaoperaciones/logo.png" /> -->
          <img alt="Company Logo" class="companyLogo" src="assets/logoInicio.png" />
          <form [formGroup]="frmLogin">
            <div id="api" data-name="Unified">
              <div class="intro">
                SISTEMA DE GESTION DEL PUERTO
              </div>
              <div class="error pageLevel" aria-hidden="true" role="alert" id="error"  style="text-align:center; display: none">
                <p>{{mensajeError}}</p>
              </div>
              <div class="entry">
                <div class="entry-item">
                  <label for="company">Compañia</label>
                  <select class="custom-select" id="inputGroupSelect01" formControlName="company" (change)="selectCompany($event.target.value)">
                    <option selected value="0">(Elija una opción)</option>
                    <option value="1">MOA</option>
                    <option value="2">MOC</option>
                  </select>

                  <div class="error itemLevel" aria-hidden="true" style="display: none">
                    <p role="alert"></p>
                  </div>
                </div>

                <div class="entry-item roles" *ngIf="verPermisos">
                  <label class="titulo-roles">Roles</label>
                  <label *ngFor="let rol of permisosRoles">
                    <input type="checkbox" [(ngModel)]="rol.checked" [ngModelOptions]="{standalone: true}">{{rol.nombre}}
                  </label>
                </div>

                <div class="buttons">
                  <button id="next" class="btn ml-2" [ngClass]="[loginBtnClass]" type="button" (click)="login()">
                    {{loginBtnTxt}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
