.botones-registro-centrado{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-loca{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
}

.row-loca{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.basurerito { 
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-top: 26px;
}

.basurero-right {
    display: flex;
    justify-content: flex-end;
}

.botones-registro-custom{ 
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
.input-error {
    border: red 1px solid;
}
.color-linea-division{ 
    background-color: #707070;
}