<div *ngIf="mostrarInformacion">
  <div>
    <div class="row m-1 mt-3">
      <div class="col-4">
        <button *ngIf="!otrasOperacionesBuque" class="btn btn-outline-secondary" (click)="onVolver()">
          < Volver </button>
            <button *ngIf="otrasOperacionesBuque" class="btn btn-outline-secondary" (click)="onVolverOtrasOperaciones()">
              < Volver </button>
      </div>
      <div class="col-4 centrarOp2">
        <button class="btn btn-outline-secondary" (click)="onVerOtrasOperaciones()">
          Ver otras operaciones de {{ embarqueOp.patente }}
        </button>
      </div>
      <div class="col-4"></div>
    </div>
  </div>


  <!-- CARD CON INFORMACION DEL BUQUE -->

  <div class="bg-white shadow m-4 px-4 pt-4 d-flex">
    <div class="seccionesShipImage d-flex">
      <img class="imgBuque" src="../../../../assets/ShipAzul.svg" alt="" />
    </div>
    <div class="seccionesB d-flex">
      <div class="dentro borde">
        <p>
          <span class="colorTitle">{{ embarqueOp.patente }}</span> <br /><span>
            <b>Capitan:</b>Jhonny Deep</span>
        </p>
      </div>
      <div class="line"></div>
      <div class="dentro">
        <p>
          <b>IMO: </b>{{
          vaporInformacion == null || vaporInformacion.imoVapor == null
          ? "-"
          : vaporInformacion.imoVapor
          }}<br /><b>Eslora: </b>{{ vaporInformacion == null ? "-" : vaporInformacion.eslora }}
        </p>
      </div>
      <div class="dentro">
        <p>
          <b>Bandera: </b>{{
            banderasBuque == null || banderasBuque == undefined
          ? "-"
          : banderasBuque.nombre
          }}<br />
          <b>Freeboard: </b>{{
          vaporInformacion == null || vaporInformacion.freeboard == null
          ? "-"
          : vaporInformacion.freeboard
          }}
        </p>
      </div>
      <div class="dentro tipoBuque">
        <p>
          <b>Tipo de buque: </b>{{
          vaporInformacion == null || vaporInformacion.tipoBuque == null
          ? "-"
          : vaporInformacion.tipoBuque
          }}<br />
          <b>Cant.bodegas/tanques:</b>{{
          vaporInformacion == null ||
          vaporInformacion.cantidadBodegasTks == null
          ? "-"
          : vaporInformacion.cantidadBodegasTks
          }}
        </p>
      </div>
      <div class="dentro">
        <p><b>TRN: </b>XXXX<br /></p>
      </div>
      <div class="dentro">
        <button type="button" class="btn btn-outline-secondary" (click)="openModalShipParticular(addGeo)">
          Ver ship particular
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white shadow m-4 px-4 pt-4 d-flex" >
    <div class="historial-buque-contenido-modulo">
      <app-historial-buques></app-historial-buques>
    </div>
  </div>

  <div class="container-fluid fondo" id="buque-body" *ngIf="!otrasOperacionesBuque">
    <div class="mt-5">
      <app-navtabs-buque [esEmbarqueLiquido]="esEmbarqueLiquido" [paramEmbarqueSel]="paramEmbarqueSel" *ngIf="paramEmbarqueSel">
      </app-navtabs-buque>
    </div>
  </div>
</div>

<!-- ↓ MODAL SHIP PARTICULAR ↓ -->

<ng-template #addGeo let-modal>
  <app-card-buque [buque]="buque" (cerrar)="modal.dismiss()" class="card-buque"></app-card-buque>
</ng-template>



<!-- <ng-template #shipParticularCard let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">
      X
    </button>
    <p>
      IMAGEN
      <br />
      <br />
      <b>{{ embarqueOp.patente.toUpperCase() }}</b>
    </p>
  </div>
  <div class="modal-body">
    <div class="row ml-2">
      <span class="color font-weight-bold mr-1">IMO:</span>{{ vaporInformacion.imoVapor }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Bandera:</span>{{ vaporInformacion.imoVapor }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Tipo de buque:</span>{{ vaporInformacion.tipoBuque }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Porte Bruto:</span>{{ vaporInformacion.porteBruto }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Porte Neto:</span>{{ vaporInformacion.porteNeto }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Eslora x manga:</span>{{ vaporInformacion.eslora }} x {{
      vaporInformacion.manga }}m
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Puntual:</span>{{ vaporInformacion.puntual }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1">Freeboard:</span>{{ vaporInformacion.freeboard }}
    </div>
    <div class="row mt-2 ml-2">
      <span class="color font-weight-bold mr-1 mb-4">Cant. Bodegas/tks:</span>{{ vaporInformacion.cantidadBodegasTks }}
    </div>
  </div>
</ng-template> -->