<div class="container-fluid mt-4 fondo">
  <div class="row">
    <div class="col-12 text-center">
      <h1  style="font-size: 36px;">Pesadas Online</h1>
    </div>
  </div>

  <app-aduana-panel
    [mostrarTotales]="true"
    [tituloResumen]="''"
    [linkIzquierdoTexto]="'IR A PESADAS HISTÓRICA'"
    [linkIzquierdoUrl]="'/aduana/pesadas-historicas'"
    [linkDerechoTexto]="'IR A CÁMARAS'"
    [linkDerechoUrl]="'/aduana/camaras'"
    [totales]="totales">
  </app-aduana-panel>

  <app-pesadas
    [titulo]="''"
    [mostrarFechaHasta]="false"
    [usarDatePicker]="false"
    [fechaDesdeReadonly]="true"
    [fechaDesde]="fechaDesde"
    [horaDesde]="horaDesde"
    [horaHasta]="horaHasta"
    [items]="items"
    [paginaActual]="paginaActual"
    [itemsPorPagina]="itemsPorPagina"
    [totalItems]="totalItems"
    [sortColumn]="ordenarPor"
    [sortDirection]="direccionOrden"
    [itemsPorPaginaOpciones]="[10, 20, 50, 100]"
    (horaDesdeChange)="onHoraDesdeChange($event)"
    (horaHastaChange)="onHoraHastaChange($event)"
    (itemsPorPaginaChange)="onItemsPorPaginaChange($event)"
    (cambiarPagina)="cambiarPagina($event)"
    (ordenarColumna)="onOrdenarColumna($event)"
    (aceptar)="onAceptar()">
  </app-pesadas>
</div>
