<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ZebraPrinterIp" value="10.10.103.25" />
  </appSettings>
    
  <system.serviceModel>
    <services>
      <service name="Molinos.Scato.ModuloImpresor.Impl.ServicioImpresion" behaviorConfiguration="Autenticacion">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.ModuloImpresor.IServicioImpresion"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosScatoBinding" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <extensions>
      <behaviorExtensions>
        <add name="internacionalizacion"
          type="Molinos.Scato.ModuloImpresor.Behavior.InternacionalizacionBehavior, Molinos.Scato.ModuloImpresor, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="Autenticacion">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="false"/>
          </serviceCredentials>
          <serviceAuthorization
              serviceAuthorizationManagerType="Molinos.Scato.Servicios.Seguridad.AuthorizationManager, Molinos.Scato.Servicios">
          </serviceAuthorization>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <internacionalizacion/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
