<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SapServiceUsername" value="GWEBSRV_SCA" />
    <add key="SapServicePassword" value="h88WYKNtezwGAqJMt205vw==" />
    <add key="SapServiceDomain" value="MOLINOSSA" />
    <add key="MonsantoServiceUsername" value="test_ws_molinos" />
    <add key="MonsantoServicePassword" value="/kcpPHeKQI8DKpibwlX00g==" />
    <add key="Impresora" value="SnagIt 8" />
    <add key="ImpresoraTicket" value="SnagIt 8" />
    <add key="Path" value="C:\Compliance\Compliance.txt"/>
    <add key="LoguearRequestsSap" value="1" />
    <add key="UrlBaseWorkflow" value="http://localhost/Scato.workflow/xaml/" />
    <add key="UsarServicioComplianceV2" value="1" />
    <add key="SepararAlmacenSustentable" value="false" />
    <add key="WebMobile" value="http://localhost/Scato.WebMobile/"/>
  </appSettings>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\ScatoLogs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.web>
    <sessionState mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <machineKey decryptionKey="AB143DE214E11304211FF9ED618F02EAF879A68904F00FE6" validationKey="C1696CEFF00B69BD5481C0BFA6852EA13E0B245E8E9631E3DAAAF7E6C6C05ADA3281449FB39E5687CE5D73212964570A754AE76FBA460BC8625A656B4B21F903" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="jenkinsgy@baufest.com" deliveryMethod="Network">
        <network host="pod51009.outlook.com" port="587" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <sqlWorkflowInstanceStore instanceCompletionAction="DeleteAll" instanceEncodingOption="None" instanceLockedExceptionAction="AggressiveRetry" connectionStringName="ApplicationServerWorkflowInstanceStoreConnectionString" hostLockRenewalPeriod="00:00:30" runnableInstancesDetectionPeriod="00:00:05" />          
          <workflowUnhandledException action="AbandonAndSuspend" />
          <workflowIdle timeToPersist="00:00:00" timeToUnload="00:00:00" />
          <promoteProperties />
          <serviciosScato />
          <workflowTracking />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <internacionalizacion />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="promoteProperties" type="Molinos.Scato.Actividades.Behaviour.PromotePropertiesBehaviorElement, Molinos.Scato.Actividades, Version=1.0.0.0, Culture=neutral" />
        <add name="serviciosScato" type="Molinos.Scato.Actividades.Behaviour.ServiciosScatoBehaviorElement, Molinos.Scato.Actividades, Version=1.0.0.0, Culture=neutral" />
        <add name="internacionalizacion" type="Molinos.Scato.Servicios.Behavior.InternacionalizacionBehavior, Molinos.Scato.Servicios, Version=1.0.0.0, Culture=neutral" />
        <add name="workflowTracking" type="Molinos.Scato.Actividades.Behaviour.WorkflowTrackingBehaviorElement, Molinos.Scato.Actividades, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosScatoBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true">
          <security mode="None" />
        </binding>
        <binding name="CommonBinding" openTimeout="00:10:00" closeTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="CommonBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
      </basicHttpsBinding>
      <netMsmqBinding>
        <binding name="NetMsmqCommonBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
      <customBinding>
        <binding name="ZSDWS_SCATO">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport authenticationScheme="Basic" />
        </binding>
        <binding name="CustomSoapBinding">
          <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
                    requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport maxReceivedMessageSize="2000000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflows" />
      <endpoint address="http://localhost/Scato.serviciosWeb/ServicioRepositorio.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioRepositorio" name="ServicioRepositorio" />
      <endpoint address="http://localhost/Scato.serviciosWeb/ServicioComandos.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioComandos" name="ServicioComandos" />
      <endpoint address="http://localhost/Scato.serviciosWeb/FirmaProvider.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IFirmaProvider" name="FirmaProvider" />

      <endpoint address="http://localhost/Scato.Web/ServicioHub/ServicioNotificarUsuario.svc" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioNotificarUsuario" name="ServicioNotificarUsuario" />
      <endpoint address="net.msmq://localhost/private/Scato.serviciosWeb/ServicioSapAsincronico.svc" binding="netMsmqBinding" bindingConfiguration="NetMsmqCommonBinding" contract="Molinos.Scato.Servicios.IServicioSapAsincronico" name="ServicioSapAsincronico" />
      <endpoint address="http://GVICECCQA.ar.molinos.local:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato" binding="customBinding" bindingConfiguration="ZSDWS_SCATO" contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO" />
      <endpoint address="http://www.webcompliance.com.ar/webservice/soap-graneles" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="ComplianceWebService.DatosPort" name="DatosPort" />
      <endpoint address="http://beta.webcompliance.com.ar/webcompliance/webservice/agroacopios" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="ComplianceWebServiceV2.DatosPort" name="DatosPortV2" />
      <endpoint address="https://industriatest.com.ar/industrysystem-ws-ar/services/GestionarCartasDePortePE/v2" binding="customBinding" bindingConfiguration="CustomSoapBinding" contract="GestionarCartasDePortePE.WaybillManagementPODv2" name="WaybillManagementPODImplPort" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
    </modules>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
</configuration>
