.unselected{
    display: none;
}

.head{
    cursor: pointer;
    text-align: center;
}

.fa{
    margin-right: -7.5px;
    font-size: 13px;
}

.lista-pe-header {
    border: 0;
    border-radius: 4px 4px 0px 0px;
    background-color: #666666;
    color:white;
    font-size: 14px;
}

.noBorder{
    border: none;
}

.anchoDeFila{
width: 10px;
}

