.unselected{
    display: none;
}

.head{
    cursor: pointer;
    text-align: center;
}

.fa{
    margin-right: -7.5px;
    font-size: 13px;
}

.lista-pe-header {
    border: 0;
    border-radius: 4px 4px 0px 0px;
    background-color: #666666;
    color:white;
    font-size: 11.5px;
}

.noBorder{
    border-right: none;
    border-left: none;
}

.centradoHorizontal{
    vertical-align: inherit;
}

.anchoDeFila{
width: 10px;
}

.icon-fumigador{
    /* -webkit-mask: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center; */
    -webkit-mask: url('assets/fumigadorProgramaEmbarque.svg') no-repeat center;
    mask-image: url('assets/fumigadorProgramaEmbarque.svg') no-repeat center;
    width: 27px;
    height: 27px;
}

.icon-surveyor{
    /* -webkit-mask: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center; */
    -webkit-mask: url('assets/surveyorProgramaEmbarque.svg') no-repeat center;
    mask-image: url('assets/surveyorProgramaEmbarque.svg') no-repeat center;
    width: 27px;
    height: 27px;    
}

.icon-carga {
    -webkit-mask: url('assets/sidebar-icons/buques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/buques.svg') no-repeat center;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.icon-editar{
     /* -webkit-mask: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center;
    mask-image: url('assets/sidebar-icons/HistorialDeBuques.svg') no-repeat center; */
    -webkit-mask: url('assets/iconoEditar.svg') no-repeat center;
    mask-image: url('assets/iconoEditar.svg') no-repeat center;
    width: 27px;
    height: 27px;  
    background-color: rgb(153, 153, 153);
}

.icon-eliminar{
    color: #f57875;
    font-size: 21px;
    margin-top: 4px;
    height: 30px !important
}

.noBorder-rigth{
    border-right: none;
}

.noBorder-left{
    border-left: none;
}

.cursor{
    cursor: pointer !important;
}

.tableFixHead          { overflow: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 13px; }
th     { background:#666666; }

.alinearJustificado{
    text-align: justify;
}

.alinearCentro{
    text-align: center;
}

.estiloBoton{
    border-color: #999999;
    color: #1cba63;
}

.color-azul {
  background-color: #4D60A8;
}

.color-gris {
  background-color: #999999;
}

.color-verde {
    background-color: #1cba63;
}
