<ship-spinner [message]="'Cargando Programa de Embarque. Por favor, espere...'" *ngIf='estaCargando'></ship-spinner>


<div style="overflow-x:auto; " class="table-responsive tableFixHead">
    <table class='table table-bordered lista-pe-table'>
        <thead class="lista-pe-header tamanioHeader">
            <tr>
            <th class="noBorder"></th>          
            <th tabindex="0" rowspan="1" colspan="1" class="noBorder" (click)="orderColumnBy('producto')">
                <div class="head noBorder">
                    Producto
                    <span><i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'producto' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'producto' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('estado')">
                <div class="head">
                    Estado
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'estado' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'estado' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('nombreBuque')">
                <div class="head">
                    Buque
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'nombreBuque' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'nombreBuque' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('muelleDeCarga')">
                <div class="head">
                    Muelle de carga
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'muelleDeCarga' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'muelleDeCarga' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1"
                (click)="orderColumnBy('cargadores.nombreExportador')">
                <div class="head">
                    Cargador
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'cargadores.nombreExportador' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'cargadores.nombreExportador' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('cargadores.toneladas')">
                <div class="head">
                    Cantidad (Tn)
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'cargadores.toneladas' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'cargadores.toneladas' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('contrato')">
                <div class="head">
                    Contrato
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'contrato' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'contrato' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder" tabindex="0" rowspan="1" colspan="1" (click)="orderColumnBy('etaRecalada')">
                <div class="head">
                    ETA Recalada
                    <span>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-up': true, 'arrow': true, 'unselected': orderedByColumn === 'etaRecalada' && orderDirection > 0 }"></i>
                        <i
                            [ngClass]="{'fa': true, 'fa-solid fa-sort-down': true, 'arrow': true, 'unselected': orderedByColumn === 'etaRecalada' && orderDirection < 0 }"></i>
                    </span>
                </div>
            </th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
            <th class="noBorder"></th>
        </tr>
        </thead>
        <tbody *ngFor="let historial of getListaProgramaEmbarque()" style="text-align: center;">
            <tr class="lista-buque-row">
                <td [ngStyle]="{ 'background-color': retornarColor(historial.productoColor) }"
                    class="noBorder anchoDeFila"></td>
                <td class="lista-buque-row-item cursor noBorder" 
                (click)="seleccionarNominacion(historial.id, addPE)" style="font-size: 20px;">
                    <strong>{{historial.producto}}
                    </strong>
                </td>
                <td class="noBorder"><i style="font-size: 25px;cursor:pointer"
                        [ngbTooltip]="devolverMensajeDeEstados(historial.estado)"
                        [ngStyle]="{ 'color': devolverColorEstado(historial.estado) }"
                        class="fa fa-duotone fa-circle"></i></td>
                <td class="noBorder">{{historial.nombreBuque}}</td>
                <td class="noBorder-rigth">{{historial.muelleDeCarga}}</td>
                <td class="lista-buque-row-item noBorder">
                    <div *ngFor="let exportador of historial.cargadores">{{ exportador.nombreExportador }}</div>
                </td>
                <td class="lista-buque-row-item noBorder">
                    <div *ngFor="let exportador of historial.cargadores">{{ exportador.toneladas |
                        number:'0.0-0' }} tn</div>
                </td>
                <td class="lista-buque-row-item celda-nombre-buque noBorder-left">{{historial.contrato}}</td>
                <td class="lista-buque-row-item noBorder-rigth">{{historial.etaRecalada | date:'dd/MM/yyyy HH:mm'}}</td>
                <td style="text-align: center;" class="noBorder">
                    <div class='icon-fumigador'
                        [ngStyle]="{ 'background-color': retornarColorEnvioMail(historial.enviadoFumigador) }"></div>
                </td>
                <td style="text-align: center;" class="noBorder">
                    <div class='icon-surveyor'
                        [ngStyle]="{ 'background-color': retornarColorEnvioMail(historial.enviadoSurveyor) }"></div>
                </td>
                <td class="noBorder">
                    <div class='icon-editar cursor' (click)="onEditarNominacion(historial.id)"></div>
                </td>
                <td class="noBorder-left">
                    <img src="assets/trashIcon-no-border.svg" class="eliminar cursor">
                </td>

            </tr>
        </tbody>

    </table>
    </div>
    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>

<ng-template #addPE let-modal>
    <app-modal-programa-embarque (cerrar)="modal.dismiss()"></app-modal-programa-embarque>
</ng-template>
 