<ship-spinner [message]="mensajeDatoTecnico" *ngIf='cargandoDatoTecnico'></ship-spinner>

<div class="margenes-nominacion">
    <form [formGroup]="datoTecnicoForm" class="mt-4">
        <div class="row form-row">
            <div class="form-group col-md-6">
                <label for="materialPuerto" class="font-weight-bold">Producto</label>
                <select formControlName="materialPuerto" 
                        class="custom-select" 
                        [ngClass]="{'input-error': grabarNominacion && frmDatosTecnicos.materialPuerto.invalid}" 
                        required 
                        (change)="onCargarTipoCalidad()">
                    <option value="">Seleccione</option>
                    <option *ngFor="let material of listaMaterialPuerto" [ngValue]="material" >{{material.descripcionCorta}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="cantidadTotal" class="font-weight-bold">Cantidad Total</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ingrese la cantidad"
                        formControlName="cantidadTotal"
                        [ngClass]="{'input-error': grabarNominacion && frmDatosTecnicos.cantidadTotal.invalid}" 
                        required
                        (keypress)="numberOnly($event)">
                    <div class="input-group-append">
                        <span class="input-group-text">Tn</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="tolerancia" class="font-weight-bold">Tolerencia</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ingrese la tolerancia"
                        formControlName="tolerancia"
                        (keypress)="numberOnly($event)">
                    <div class="input-group-append">
                        <span class="input-group-text">Tn</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-row" *ngIf="datoTecnicoForm.controls['materialPuerto'].value !=''">
            <div class="form-group col-md-6">
                <label for="tipoDeCalidad" class="font-weight-bold">Calidad</label>
                <select formControlName="tipoDeCalidad" class="custom-select" (change)="onActualizarListaCalidadValor(datoTecnicoForm.controls['tipoDeCalidad'].value)">
                    <option value="">Seleccione</option>
                    <option *ngFor="let calidad of listaTipoDeCalidadxMaterial(datoTecnicoForm.controls['materialPuerto'].value)" [ngValue]="calidad">{{calidad.descripcion}}</option>
                </select>
            </div>
            <div class="form-group col-md-4 botones-alineado-abajo">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onMostrarParametroCalidad()">{{mostrarParametroCalidad? 'Ocultar' : 'Mostrar'}} Parametros</button>
            </div>
        </div>
        <div class="row form-row" *ngIf="datoTecnicoForm.controls['materialPuerto'].value !='' && mostrarParametroCalidad">
            <div class="form-group col-md-6">
                <table class='table table-bordered'>
                    <thead class="header-calida-valor" >
                        <tr>
                            <th width="30%">
                                <input type="checkbox" class="largerCheckbox" (change)="onSeleccionarTodos($event)"/>
                                Párametros
                            </th>
                            <th width="70%">Valores</th>
                        </tr> 
                    </thead>
                    <tbody *ngFor="let calidad of listaNominacionDatoTecnicoCalidad">
                        <tr>
                            <td>
                                <input class="largerCheckbox" 
                                       type="checkbox" 
                                       [checked]="calidad.esSeleccionado"
                                       (change)="onSeleccionarParametro(calidad.calidadValor)"/>
                                {{calidad.calidadValor.parametro}}
                            </td>
                            <td>{{calidad.calidadValor.valor}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row form-row">
            <div class="form-group col-md-12">
                <label for="observaciones" class="font-weight-bold">Observaciones</label>
                <textarea class="form-control" placeholder="Ingrese las observaciones" rows="4" maxlength="250"
                    formControlName="observaciones"></textarea>
            </div>
        </div>

        <hr class="color-linea-division"/>
        <div class="row form-row">
            <div class="form-group col-md-5">
                <div class='btn-add-container' (click)="onAgregarDatoTecnicoDestino()">
                    <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                    <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nuevo destino</span>
                </div>
                <div formArrayName="nominacionDatoTecnicoDestino">
                    <div class="input-group quitar-margen-detalles margen-superior-detalle" *ngFor="let destino of datoTecnicoForm.get('nominacionDatoTecnicoDestino').value; let i = index; trackBy:trackByFn">
                        <div [formGroupName]="i" class="input-group">
                                <div class="form-group col-6">
                                    <label *ngIf="i==0" for="destino" class="font-weight-bold">Destino</label>
                                    <input *ngIf="listaDestino"
                                        type="text"
                                        class="form-control"
                                        formControlName="destino"
                                        maxlength="50"
                                        placeholder="Seleccione un destino"
                                        [ngbTypeahead]="buscarDestino"
                                        [inputFormatter]="formatoDestino"
                                        [resultFormatter]="formatoDestino"
                                        />
                                </div>
                                <div class="form-group col-4">
                                    <label *ngIf="i==0" for="cantidad" class="font-weight-bold">Cantidad</label>
                                    <div class="input-group" >
                                        <input type="text" class="form-control"
                                                formControlName="cantidad"
                                                (keypress)="numberOnly($event)">
                                        <div class="input-group-append">
                                            <span class="input-group-text">Tn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-1 botones-alineado-abajo">
                                    <img src="assets/trashIcon-no-border.svg" class="cursorPointer" (click)="onEliminarDatoTecnicoDestino(i)">
                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group col-md-7">
                <div class='btn-add-container' (click)="onAgregarDatoTecnicoExportador()">
                    <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                    <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nuevo cargador</span>
                </div>
                <div formArrayName="nominacionDatoTecnicoExportador">
                    <div class="input-group quitar-margen-detalles margen-superior-detalle" *ngFor="let exportador of datoTecnicoForm.get('nominacionDatoTecnicoExportador').value; let i = index; trackBy:trackByFn">
                        <div [formGroupName]="i" class="input-group">
                            <div class="form-group col-5">
                                <label *ngIf="i==0" for="exportador" class="font-weight-bold">Exportador</label>
                                <input *ngIf="listaExportador"
                                    type="text"
                                    class="form-control"
                                    formControlName="exportador"
                                    maxlength="50"
                                    placeholder="Seleccione un exportador"
                                    [ngbTypeahead]="buscarExportador"
                                    [inputFormatter]="formatoExportador"
                                    [resultFormatter]="formatoExportador"
                                    />
                            </div>
                            <div class="form-group col-3">
                                <label *ngIf="i==0" for="cantidad" class="font-weight-bold">Cantidad</label>
                                <div class="input-group" >
                                <input type="text" 
                                       class="form-control"
                                       formControlName="cantidad"
                                       [ngClass]="{'input-error': grabarNominacion && exportador.cantidad.invalid}"
                                       required
                                       (keypress)="numberOnly($event)">
                                <div class="input-group-append">
                                    <span class="input-group-text">Tn</span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <label *ngIf="i==0" for="tolerancia" class="font-weight-bold">Tolerancia</label>
                                <div class="input-group" >
                                <input type="text" class="form-control"
                                        formControlName="tolerancia"
                                        (keypress)="numberOnly($event)">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                                </div>
                            </div>
                            <div class="form-group col-1 botones-alineado-abajo">
                                <img src="assets/trashIcon-no-border.svg" class="cursorPointer" (click)="onEliminarDatoTecnicoExportador(i)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-row">
            <div class="form-group col-md-5">
                <div class='btn-add-container' (click)="onAgregarDatoTecnicoCoordinador()">
                    <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                    <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nuevo cliente</span>
                </div>
                <div formArrayName="nominacionDatoTecnicoCoordinadorPuerto">
                    <div class="input-group quitar-margen-detalles margen-superior-detalle" *ngFor="let coordinador of datoTecnicoForm.get('nominacionDatoTecnicoCoordinadorPuerto').value; let i = index; trackBy:trackByFn">
                        <div [formGroupName]="i" class="input-group">                       
                            <div class="form-group col-6">
                                <label *ngIf="i==0" for="coordinadorPuerto" class="font-weight-bold">Cliente</label>
                                <input *ngIf="listaCoordinadorPuerto"
                                    type="text"
                                    class="form-control"
                                    formControlName="coordinadorPuerto"
                                    maxlength="50"
                                    placeholder="Seleccione un cliente"
                                    [ngbTypeahead]="buscarCoordinadorPuerto"
                                    [inputFormatter]="formatoCoordinadorPuerto"
                                    [resultFormatter]="formatoCoordinadorPuerto"
                                    
                                    />
                            </div>
                            <div class="form-group col-4">
                                <label *ngIf="i==0" for="coordinador" class="font-weight-bold">Cantidad</label>
                                <div class="input-group" >
                                    <input type="text" 
                                           class="form-control"
                                           formControlName="cantidad"
                                           [ngClass]="{'input-error': grabarNominacion && coordinador.cantidad.invalid}"
                                           required
                                           (keypress)="numberOnly($event)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Tn</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-1 botones-alineado-abajo">
                                <img src="assets/trashIcon-no-border.svg" class="cursorPointer" (click)="onEliminarDatoTecnicoCoordinador(i)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr class="color-linea-division"/>
        <div class="row form-row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Nombre buque</label>
                <input *ngIf="listaVapor" 
                       type="text" 
                       class="form-control" 
                       formControlName="vaporInformacion" 
                       maxlength="50"
                       placeholder="Ingrese nombre del buque" 
                       [ngbTypeahead]="buscarVapor"
                       (selectItem)="seleccionVapor($event)"
                       [inputFormatter]="formatoVapor"
                       [resultFormatter]="formatoVapor"
                       [ngClass]="{'input-error': grabarNominacion && frmDatosTecnicos.vaporInformacion.invalid}" 
                       required />
            </div>
            <div class="form-group col-md-4">
                <label for="bandera" class="font-weight-bold">Bandera</label>
                <select class="custom-select" 
                        [disabled]="true"
                        formControlName="bandera">
                    <option value=""></option>
                    <option *ngFor="let bandera of listaBanderas" [ngValue]="bandera">{{bandera.nombre}}</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="etaRecalada" class="font-weight-bold">ETA Recalada</label>
                <div class="input_img">
                    <input type="date" 
                           max="3000-12-31" 
                           min="1000-01-01" 
                           class="form-control"
                           [ngClass]="{'input-error': grabarNominacion && frmDatosTecnicos.etaRecalada.invalid}" required
                           formControlName="etaRecalada">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="obligacionDeCarga" class="font-weight-bold">Obligación de carga</label>
                <div class="input_img">
                    <input type="date" 
                           max="3000-12-31" 
                           min="1000-01-01" 
                           class="form-control"
                           [ngClass]="{'input-error': grabarNominacion && frmDatosTecnicos.obligacionDeCarga.invalid}" required
                           formControlName="obligacionDeCarga">
                </div>
            </div>
        </div>

        <hr class="color-linea-division"/>

        <div class="row form-row">
            <div class="input-group col-md-4">
                <div class="form-group columa-ancho-total">
                    <label for="muelleDeCarga" class="font-weight-bold">Muelle de carga</label>
                    <select class="custom-select" formControlName="muelleDeCarga" [ngClass]="{'input-error': grabarNominacion && frmDatosTecnicos.muelleDeCarga.invalid}" required>
                        <option value=""></option>
                        <option *ngFor="let muelleDeCarga of listaMuelleDeCarga" [ngValue]="muelleDeCarga">{{muelleDeCarga.descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="input-group col-md-4">
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">Loading</label>
                    <input type="text" class="form-control" 
                           formControlName="tasaDeCargaValor" 
                           maxlength="10"
                           placeholder="" 
                           (keypress)="numberOnly($event)"
                            />
                </div>
                <div class="form-group col-md-9">
                    <label class="font-weight-bold">Rate</label>
                    <select class="custom-select" formControlName="tasaDeCarga" >
                        <option value=""></option>
                        <option *ngFor="let tasaDeCarga of listaTasaDeCarga" [ngValue]="tasaDeCarga">{{tasaDeCarga.descripcion}}</option>
                    </select>
                </div>
            </div>
            <div class="input-group col-md-4">
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">DEM</label>
                    <input type="text" class="form-control" 
                           formControlName="dem" maxlength="10" 
                           (keypress)="decimalOnly($event)"
                            />
                </div>
                <div class="form-group col-md-3">
                    <label class="font-weight-bold">DES</label>
                    <input type="text" class="form-control" 
                           formControlName="des" 
                           maxlength="50" 
                           placeholder=""
                           (keypress)="decimalOnly($event)"
                            />
                </div>
                <div class="form-group col-md-6">
                    <label class="font-weight-bold">Tipo contrato</label>
                    <select class="custom-select" formControlName="tipoDeContrato" >
                        <option value=""></option>
                        <option *ngFor="let tipoDeContrato of listaTipoDeContrato" [ngValue]="tipoDeContrato">{{tipoDeContrato.descripcion}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row form-row">
            <div class="input-group col-md-4">
                <div class="form-group columa-ancho-total">
                    <label class="font-weight-bold">ATA</label>
                    <div class="alinear-controles">
                        <tag-input *ngIf="listaATAPuerto"
                                   formControlName="ataPuerto" 
                                   [placeholder]="'Ingrese el A.T.A'"
                                   [secondaryPlaceholder]="'Ingrese el A.T.A'"
                                   [identifyBy]="'id'" 
                                   [displayBy]="'nombre'" 
                                   [maxItems]="1">
                            <tag-input-dropdown 
                                    [showDropdownIfEmpty]="true" 
                                    [autocompleteItems]="listaATAPuerto"
                                    [identifyBy]="'id'" 
                                    [displayBy]="'nombre'">
                            </tag-input-dropdown>
                        </tag-input>
                        <img src="assets/Mas.svg" class="cursorPointer float-right ml-2">
                    </div>
                </div>
            </div>
            <div class="input-group col-md-4">
                <div class="form-group columa-ancho-total">
                    <label class="font-weight-bold">Agencia maritima</label>
                    <div class="alinear-controles">
                        <tag-input *ngIf="listaAgenciaMaritimaPuerto"
                                   formControlName="agenciaMaritimaPuerto" 
                                   [placeholder]="'Ingrese la Agencia'"
                                   [secondaryPlaceholder]="'Ingrese la Agencia'"
                                   [identifyBy]="'id'" 
                                   [displayBy]="'nombre'" 
                                   [maxItems]="1">
                            <tag-input-dropdown 
                                    [showDropdownIfEmpty]="true" 
                                    [autocompleteItems]="listaAgenciaMaritimaPuerto"
                                    [identifyBy]="'id'" 
                                    [displayBy]="'nombre'">
                            </tag-input-dropdown>
                        </tag-input>
                        <img src="assets/Mas.svg" class="cursorPointer float-right ml-2">
                    </div>
                </div>
            </div>
            <div class="input-group col-md-4">
                <div class="form-group columa-ancho-total">
                    <label class="font-weight-bold">Surveyor</label>
                    <div class="alinear-controles">
                        <tag-input formControlName="surveyor" 
                                   [placeholder]="'Ingrese el Surveyor'"
                                   [secondaryPlaceholder]="'Ingrese el Surveyor'"
                                   [identifyBy]="'id'" 
                                   [displayBy]="'descripcion'" 
                                   [maxItems]="1">
                            <tag-input-dropdown [showDropdownIfEmpty]="true" 
                                                [autocompleteItems]="listaSurveyor"
                                                [identifyBy]="'id'" 
                                                [displayBy]="'descripcion'">
                            </tag-input-dropdown>
                        </tag-input>
                        <img src="assets/Mas.svg" class="cursorPointer float-right ml-2">
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-row">
            <div class="form-group col-md-12">
                <label for="observacionesSurveyor" class="font-weight-bold">Observaciones surveyor</label>
                <textarea class="form-control" placeholder="Ingrese las observaciones surveyor" rows="4" maxlength="250"
                    formControlName="observacionesSurveyor"></textarea>
            </div>
        </div>
    </form>
    <div class="row form-row">
        <div class="col-md-12 botones-registro-centrado">
            <button class="btn btn-danger botones-registro-custom" (click)="onCancelarDatoTecnico()">Cancelar</button>
            <button class="btn btn-primary botones-registro-custom" (click)="onGuardarDatoTecnico()">Guardar</button>
        </div>
    </div>
</div>