.columa-ancho-total{ 
    width: 100%;
}
.alinear-controles{
    width: 100% !important;
}
.color-linea-division{ 
    background-color: #707070;
}
.quitar-margen-detalles{ 
    margin-left: -15px;
}
.margen-superior-detalle{ 
    margin-top: 10px;
}
.header-calida-valor{
    font-weight: bold;
    font-size: 14px;
    background-color: #E8E8E8;
}
input.largerCheckbox {
    transform : scale(1.2);
    margin-right: 5px;
}
.botones-registro-centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones-registro-custom{ 
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}
.boton-eliminar {
    display: flex;
    align-items: flex-end;
}
.cursorPointer{
    cursor: pointer;

}