<ship-spinner [message]="'Cargando Historial de carátulas. Por favor, espere...'"
    *ngIf='cargarCaratulas'></ship-spinner>

<div style="overflow-x:auto;" class="table-responsive">
    <table class='table table-bordered lista-caratula-table'>
        <thead class="lista-caratula-header">

            <th>Id carátula AFIP</th>
            <th>Buque</th>
            <th>IMO</th>
            <th>Puerto Destino</th>
            <th>Fecha Arribo</th>
            <th>Fecha Zarpada</th>
            <th>Fecha Registro</th>
            <th>Rectificar</th>
            <th>Anular</th>
            <th>Estado</th>
        </thead>
        <tbody *ngFor="let historial of displayedItems">
            <tr class="lista-caratula-row" >
                <td class="lista-caratula-row-item">{{historial.identificadorCaratula}}</td>
                <td class="lista-caratula-row-item">{{historial.nombreMedioTransporte}}</td>
                <td class="lista-caratula-row-item">{{historial.identificadorBuque}}</td>
                <td class="lista-caratula-row-item">{{ historial.puertoDestino }}</td>
                <td class="lista-caratula-row-item">{{ historial.fechaArribo | date:'dd/MM/yyyy'}}</td>
                <td class="lista-caratula-row-item">{{ historial.fechaZarpada | date:'dd/MM/yyyy'}}</td>
                <td class="lista-caratula-row-item">{{ historial.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                <td class="lista-caratula-row-item" >
                    <div *ngIf="historial.afipCaratulaEstado != estados.Eliminado" (click)="editarCaratula(historial, editCaratula)" class='icon-editar cursor'></div>
                </td>
                <td class="lista-caratula-row-item">
                    <img *ngIf="historial.afipCaratulaEstado != estados.Eliminado" (click)="eliminarCaratula(historial.id, historial.identificadorCaratula)" src="assets/trashIcon-no-border.svg" class="eliminar cursor">
                </td>
                <td class="lista-caratula-row-item font-weight-bold" >{{historial.afipCaratulaEstado}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="esNoExisteRegistros">
    No se encontraron registros para los filtros ingresados.
</div>
<!--Paginado -->
<nav aria-label="Page navigation example" class="centrado" *ngIf="!esNoExisteRegistros">
    <ul class="pagination justify-content-center paginado-buque-fondo">
        <li [ngClass]="{'page-item disabled': currentPage === 1}">
            <a class="page-link" href="javascript:void(0);" (click)="goToPage(1)"></a>
        </li>
        <li class="page-item" *ngIf="showEllipsisStart"><a class="page-link">...</a></li>
        <li *ngFor="let page of visiblePages"
            [ngClass]="{'page-item disabled': page == currentPage}">
            <a class="page-link" href="javascript:void(0);" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" *ngIf="showEllipsisEnd"><a class="page-link">...</a></li>
        <li [ngClass]="{'page-item disabled': currentPage === totalPages}">
            <a class="page-link" href="javascript:void(0);" (click)="goToPage(totalPages)"></a>
        </li>
    </ul>
</nav>


<ng-template #editCaratula let-modal>
    <app-modal-crear-caratula (editFinish)="editFinish($event)" [id]="caratulaId" [title]="'Rectificar Caratula Nro '+ caratulaImo"></app-modal-crear-caratula>
</ng-template>
