<ship-spinner [message]="'Cargando Historial de carátulas. Por favor, espere...'"
    *ngIf='buscarHistorialCaratulas'></ship-spinner>

<div style="overflow-x:auto;" class="table-responsive">
    <table class='table table-bordered lista-caratula-table'>
        <thead class="lista-caratula-header">

            <th>Id carátula AFIP</th>
            <th>Buque</th>
            <th>IMO</th>
            <th>Puerto Destino</th>
            <th>Fecha Arribo</th>
            <th>Fecha Zarpada</th>
            <th>Fecha Registro</th>
            <th>Rectificar</th>
            <th>Anular</th>
            <th>Estados</th>
        </thead>
        <tbody *ngFor="let historial of tablaPaginada">
            <tr class="lista-caratula-row" >
                <td class="lista-caratula-row-item">{{historial.identificadorCaratula}}</td>
                <td class="lista-caratula-row-item">{{historial.nombreMedioTransporte}}</td>
                <td class="lista-caratula-row-item">{{historial.identificadorBuque}}</td>
                <td class="lista-caratula-row-item">{{ historial.puertoDestino }}</td>
                <td class="lista-caratula-row-item">{{ historial.fechaArribo | date:'dd/MM/yyyy'}}</td>
                <td class="lista-caratula-row-item">{{ historial.fechaZarpada | date:'dd/MM/yyyy'}}</td>
                <td class="lista-caratula-row-item">{{ historial.fechaRegistro | date:'dd/MM/yyyy'}}</td>
                <td class="lista-caratula-row-item" >
                    <div *ngIf="historial.afipCaratulaEstado.id!=4" (click)="editarCaratula(historial,editCaratula)" class='icon-editar cursor'></div>
                </td>
                <td class="lista-caratula-row-item">
                    <img *ngIf="historial.afipCaratulaEstado.id!=4" (click)="eliminarCaratula(historial.id,historial.identificadorCaratula)" src="assets/trashIcon-no-border.svg" class="eliminar cursor">
                </td>
                <td class="lista-caratula-row-item font-weight-bold" >{{historial.afipCaratulaEstado.estado}}</td>
            </tr>
            <!-- <div class="lista-caratula-espacio" *ngIf="historial.numeroPaginado == getPaginaActual()"> -->
            <!-- </div> -->
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example" class="centrado"
        >
        <ul class="pagination justify-content-center paginado-buque-fondo">
            <li (click)="paginaAnterior()" [class.disabled]="currentPage === 1">
                <a class="page-link"  >
                 << </a>
            </li>
            <li *ngFor="let page of paginas" (click)="irAPagina(page)" [class.active]="page === currentPage">
                <a class="page-link">{{ page }}</a>
              </li>
            <li (click)="paginaSiguiente()" [class.disabled]="currentPage === getTotalPages()">
                <a class="page-link"  > >>
                </a>
            </li>
        </ul>
    </nav>  
    <div *ngIf="esNoExisteRegistros">
        No se encontraron registros para los filtros ingresados.
    </div> 

<ng-template #editCaratula let-modal>
    <app-modal-crear-caratula (editFinish)="editFinish($event)" [id]="caratulaId" [title]="'Rectificar Caratula Nro '+ caratulaImo"></app-modal-crear-caratula>
</ng-template>
