body {
    /*font-size: .75em;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    color: #232323;
    background-color: #f7f7f7;
    background-image: url(images/fondo-header.png);
    background-repeat: repeat-x;
    padding: 0px;
}

.overlayFade {
    height: 100%;
    width: 100%;
    top: 0;
    left: 15px;
    background: #00b1bab8;
}
.overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    transition: 0.9s;
    background: #00b1bab8;
}

.btn-outline-success:hover, .btn-success {
    background-color: #5ba47d !important;
    border-color: #5ba47d !important;
}
.btn-success:hover {
   background-color: #1e9238 !important;
   border-color: #1e9238 !important;
}

a.link-white:hover, a.link-white:visited, a.link-white:link, a.link-white:active {
    text-decoration: none;
    color: white;
}

.fondo-blanco {
    background-color: #fff!important;
}

th a {
    color: #244232 !important;
}
td a {
    color: #244232 !important;
}

#backLink {
    color: white;
}

  .navbar-menu {
    border: transparent;
}
  .ancho-maximo {
      display: flex;
      width: 100%;
  }
  .menu-centrado {
    padding-top: 13px;
    font-size: 12px
}
  .navbar-default .navbar-form {
    margin-top: 0;
    border-top: 0;
}


    .borde-grafico {
        border-top-width: 1px;
        border-top-style: solid;
        border-color: #e7e7e7;
    }
    .menu-centrado {
    padding-top: 5px;
        font-size: 12px;
}
    


.colgrafico{
        padding-left: 0;
        padding-right: 0;
    }

.ui-autocomplete {
    max-height: 240px; 
    overflow-y: auto; 
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    cursor: pointer; cursor: hand;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.field-validation-error {
                  color: #b94a48;
                  font-size: 10px;
            }

/***********************/


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}


.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity:0.8;
    /*height:92%;*/
}

.panel-heading-Camiones {
     padding: 10px 15px 10px 15px;
}
.panel-margin {
    margin: 7px 1px 7px 1px;
}

.panel-default {
    border-color: #ddd;
    margin-left: 10px;
}

.panel-default > .panel-heading {
    color: black;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading > .icon  {
    text-align: center;
    padding: 0;
}


.panel-heading > .col-icon {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.12);
    text-align: center;
}

.panel-body { padding: 15px 15px 0 5px; }

.panel-green {
    border-color: #5cb85c;
    background-color: #5cb85c;
}

.panel-darkgreen {
    border-color: #244232;
    background-color: #244232;
}

.panel-olivegreen {
    border-color: #6B8E23;
    background-color: #6B8E23;
}

.panel-lightgreen {
    border-color: #5ba47d;
    background-color: #5ba47d;
}


.panel-palegreen {
    border-color: #488464;
    background-color: #488464;
}

.panel-flatgreen {
    border-color: #36634b;
    background-color: #36634b;
}

.panel-minigreen {
    border-color: #5ba47d;
    background-color: #5ba47d;
}

.panel-superminigreen {
    background-color: #6ab38c;
    border-color: #6ab38c;
}

.panel-darkblue {
    border-color: #00407f;
    background-color: #00407f;
}

.panel-flatblue {
    border-color: #004c99;
    background-color: #004c99;
}

.panel-paleblue {
    border-color: #0059b2;
    background-color: #0059b2;
}

.panel-lightblue {
    border-color: #0066cc;
    background-color: #0066cc;
}


.panel-miniblue {
    border-color: #0073e5;
    background-color: #0073e5;
}

.panel-superminiblue {
    background-color: #0080ff;
    border-color: #0080ff;
}

.opacity:hover {
    opacity: 1;
}

.panel-yellow {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
}

.panel-red {
    border-color: #d9534f;
    background-color: #d9534f;
}

.panel-cian {
    border-color: #00bfff;
    background-color: #00bfff;
}

.letra-comentario { font-size: 11px }

.letra-panel-azul-verde-amarillo {
    font-size: 38px;
    font-weight: bold;
}

.letra-panel-rojo-cian {
    font-size: 19px;
    line-height: normal;
    font-weight: bold;
}

.letra-panel-azul-verde-amarillo {
    line-height: normal;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.titulo-header {
   
    font-size: 12px;
    font-weight: bolder;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-top: 7px;
    padding-left: 9px;
    /*antes de las correciones solicitadas (borrar luego)
    font-size: 13px;
    font-weight: bolder;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-top: 7px;*/
}

.titulo-center {
    text-align: center;
}

.numero-tabla-negrita{
    font-weight:bold;
}
.fa {
    right: 8px;
    font-weight: 900;
    position: relative;
}

.icon-size {
    font-size: 3em;
}

.pull-right.numero-tabla, .pull-right.numero-tabla2, .pull-center.numero-tabla2{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 42px;
    display: inline-block;
}

.texto-tabla {
    font-size: 14px;
}

.label-darkgreen {
    border-color: #244232;
    background-color: #244232;
}

.label-lightgreen {
    border-color: #5ba47d;
    background-color: #5ba47d;
}
.label-palegreen {
    border-color: #488464;
    background-color: #488464;
}

.label-flatgreen {
    border-color: #36634b;
    background-color: #36634b;
}

.label-anothergreen {
    border-color: #7bb799;
    background-color: #7bb799;
}

.modal-dialog-FotoCamiones {
    width: 100%;
    margin-top: 0;
    max-width: 880px;
}


.modal-header-FotoCamiones{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.titulo-header-rechazados{
    font-size: 20px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .col-3-5 {
        width: 20% !important;
    }

    .col-unica {
        width: 20% !important;
    }
}

@media (max-width: 990px) {

    .titulo-header {
        font-size: 14px;
    }
    .col-right-1200 {
        left:0%;
    }
   
}


@media (max-width: 767px) {

    .panel-padding {
        padding: 0px 0px 0px 0px;
    }

    .panel-padding-ultimo {
        padding: 0px 0px 13px 0px;
    }

    .letra-panel-azul-verde-amarillo {
        line-height: 30px;
    }

    .modal-dialog-FotoCamiones {
        margin-left: 0;
    }

    .icon-size {
        font-size: 3em;
    }

    .titulo-header {
        font-size: 16px;
    }

    .fa {
        right: 0px;
    }

  .navbar-menu-header {
        background-image: url(images/barra-header.png);
        background-repeat: no-repeat;
        background-position-x: center;
    }
}

@media (min-width: 768px) {
    .navbar-menu {
        background-image: url(images/barra-header.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: transparent;
    }

    .panel-padding {
        padding: 0px 7px 0px 7px;
    }
}
@media only screen and (max-width: 540px), (min-device-width: 540px) and (max-device-width: 540px) {

 .editar-borrar-columna {
     width: 100%;
 }
   
    /* Force table to not be like tables anymore */
    #gridContainer > table, #gridContainer > table > thead, #gridContainer > table > tbody, #gridContainer > table > thead > tr > th, #gridContainer > table > tbody > tr > td, #gridContainer > table > tbody > tr, #gridContainer > table > thead > tr {
        display: block;
    }

     /* Hide table headers (but not display: none;, for accessibility) */
    #gridContainer > table > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #gridContainer > table > tbody > tr {
        margin: 0 0 1rem 0;
    }

    #gridContainer > table > tbody > tr >td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }
}
@media (min-device-width: 539px) and (max-device-width: 991px){
    .th-hide {
        display:none !important;
    }
}

  




