<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <label class="cargando-clientes">Clientes</label>
        </div> 
        <div class="col-md-2" *ngIf='tienePermisoCrearNuevoCliente()'>          
        <app-editar-crear-cliente></app-editar-crear-cliente>
        </div>    
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-filtro-clientes></app-filtro-clientes>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-listado-clientes ></app-listado-clientes>
        </div>
    </div>
</div>