<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <label class="cargando-clientes">Clientes</label>
        </div> 
        <!--<div class="col-md-2" *ngIf='tienePermisoCrearNuevoBuque()'>          
        <app-editar-crear-buques></app-editar-crear-buques>
        </div>-->      
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-filtro-clientes></app-filtro-clientes>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-listado-clientes ></app-listado-clientes>
        </div>
    </div>
</div>