.container-fluid {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Aumentar el tamaño del checkbox */
.form-check-input {
    width: 20px; /* Ajusta el ancho del checkbox */
    height: 20px; /* Ajusta la altura del checkbox */
    margin-right: 10px; /* Espaciado entre el checkbox y el texto */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}

.input-error {
    border-color: red;
}

.botones-alineado-abajo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-asociar {
    background-color: #fdb913;
    border-color: #fdb913;
    color: #333;
    font-weight: 500;
}

.btn-asociar:hover {
    background-color: #e0a800;
    border-color: #d39e00;
    color: #212529;
}

.btn-asociar:disabled {
    background-color: #ffeeba;
    border-color: #ffeeba;
    color: #818182;
    cursor: not-allowed;
}

.small-text {
    font-size: 14px;
}