

    
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titleCoem}}</h5>
          <button (click)="closeModalEditarCrearCoem()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
            <div class="modal-body">
              <form [formGroup]="crearEditarCoemForm">
                <div class="row margen ">
                    <div class="form-group col-md-12">
                      <label class="font-weight-bold">Id Carátula Afip</label>
                    </div>
                    <div class="form-group col-md-4">
                    <select class="custom-select" id="inputGroupSelect01" formControlName="identificadorCaratula" [ngClass]="{ 'input-error': submitted && crearEditarCoemForm.get('identificadorCaratula').invalid }" required>
                      <option selected value="" disabled>Selecciona</option>
                      <option *ngFor="let p of idsCaratula" [value]="p.identificadorCaratula" [selected]="p.identificadorCaratula==idCaratula">{{p.identificadorCaratula}}</option>
                    </select>
                  </div>
                </div>
                <div style="overflow-x:auto;" class="table-responsive">
                  <table class='table table-bordered lista-coem-table'>
                    <thead class="lista-coem-header">
                        <th>CUIT ATA</th>
                        <th>Código de Embalaje</th>
                        <th>Cant. de Bultos</th>
                        <th>Peso en kilos de la mercadería</th>
                        <th>Identificador de la declaración</th>
                        <th></th>
                    </thead>
                    <tbody formArrayName="mercaderiasSueltas">
                      <tr class="lista-coem-row" *ngFor="let mercaderia of mercaderiasSueltasFormArray.controls; let i = index;last as isLast" [formGroupName]="i">
                        <td class="lista-coem-row-item"><input type="text" class="form-control" formControlName="cuitATA" placeholder="" [ngClass]="{'input-error': submitted && mercaderia.get('cuitATA').invalid}" maxlength="11" ></td>
                        <td class="lista-coem-row-item"><input type="text" class="form-control" formControlName="codigoEmbalaje" placeholder="" [ngClass]="{'input-error': submitted && mercaderia.get('codigoEmbalaje').invalid}" maxlength="2" required></td>
                        <td class="lista-coem-row-item"><input type="number" class="form-control" formControlName="cantidadBultos" placeholder="" [ngClass]="{'input-error': submitted && mercaderia.get('cantidadBultos').invalid}" required></td>
                        <td class="lista-coem-row-item"><input type="number" class="form-control" formControlName="peso" placeholder="" [ngClass]="{'input-error': submitted && mercaderia.get('peso').invalid}" required></td>
                        <td class="lista-coem-row-item"><input type="text" class="form-control" formControlName="identificadorDeclaracion" placeholder="" [ngClass]="{'input-error': submitted && mercaderia.get('identificadorDeclaracion').invalid}"  mask="[00000]EMBA[000000]" maxlength="16" required></td>
                        <td class="lista-coem-row-item">
                          <img *ngIf="!isLast" src="assets/trashIcon-no-border.svg" class="cursorPointer"
                                (click)="eliminarNuevoCoem(i)"    alt="Eliminar">
                          <button *ngIf="isLast" type="button" class="btn btn-dark bt-circle" (click)="agregarNuevoCoem()">+</button>
                        </td>
                    </tr>
                  </tbody>
                  </table>
                </div>
              </form> 
            
            </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onCrearCoem()">Guardar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </div>