<ul class="nav nav-tabs nav-tab-fondo" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="programa-embarque-tab" data-bs-toggle="tab" data-bs-target="#programa-embarque"
      type="button" role="tab" aria-controls="programa-embarque" aria-selected="true"
      (click)="onClickHandlerClient('programa-embarque-tab')">Programa de Embarque</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="lineup-tab" data-bs-toggle="tab" data-bs-target="#lineup" type="button"
      role="tab" aria-controls="lineup" aria-selected="false" (click)="onClickHandlerClient('lineup-tab')">Line
      up</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="fechas-ritmos-tab" data-bs-toggle="tab" data-bs-target="#fechas-ritmos" type="button"
      role="tab" aria-controls="fechas-ritmos" aria-selected="false"
      (click)="onClickHandlerClient('fechas-ritmos-tab')">Fechas y Ritmos</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="op-tablero-tab" data-bs-toggle="tab" data-bs-target="#op-tablero" type="button"
      role="tab" aria-controls="op-tablero" aria-selected="false" (click)="onClickHandlerClient('op-tablero-tab')">Op. y
      Tablero</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="recibidores-tab" data-bs-toggle="tab" data-bs-target="#recibidores" type="button"
      role="tab" aria-controls="recibidores" aria-selected="false"
      (click)="onClickHandlerClient('recibidores-tab')">Recibidores</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="actores-tab" data-bs-toggle="tab" data-bs-target="#actores" type="button" role="tab"
      aria-controls="actores" aria-selected="false" (click)="onClickHandlerClient('actores-tab')">Actores</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="archivos-tab" data-bs-toggle="tab" data-bs-target="#archivos" type="button" role="tab"
      aria-controls="archivos" aria-selected="false" (click)="onClickHandlerClient('archivos-tab')">Archivos</button>
  </li>
</ul>
<div class="tab-content nav-tab-item-fondo" id="myTabContent">

    <div class="tab-pane fade nav-tab-item-fondo" id="programa-embarque" role="tabpanel" aria-labelledby="programa-embarque-tab">
      <div *ngIf="vistaSeleccionada == 'programa-embarque-tab'">
        Programa de Embarque
      </div>
    </div>

    <div class="tab-pane fade show active nav-tab-item-fondo" id="lineup" role="tabpanel" aria-labelledby="lineup-tab">
      <div *ngIf="vistaSeleccionada == 'lineup-tab'">
        <app-lineup-buque></app-lineup-buque>
      </div>
    </div>

    <div class="tab-pane fade nav-tab-item-fondo" id="fechas-ritmos" role="tabpanel" aria-labelledby="fechas-ritmos-tab">
      <div *ngIf="vistaSeleccionada == 'fechas-ritmos-tab'">
        <app-fechas-ritmos></app-fechas-ritmos>
      </div>
    </div>
    
    <div class="tab-pane fade nav-tab-item-fondo" id="op-tablero" role="tabpanel" aria-labelledby="op-tablero-tab">
      <div *ngIf="vistaSeleccionada == 'op-tablero-tab'">
        <app-clima></app-clima>
        <!-- LIQUIDO : amarre -->
        <app-periodo-carga [esSoloLectura]="true" *ngIf="esEmbarqueLiquido"></app-periodo-carga>

        <!-- SOLIDO : amarre y umap -->
        <div id="umap" class="mt-4 px-4 pb-4 shadow" style="background-color: white;" *ngIf="!esEmbarqueLiquido">
          <app-umap [esSoloLectura]="true"></app-umap>
        </div>
        <!-- balanzadas ==> pasar a shared o componente nuevo -->
        <div *ngIf="!esEmbarqueLiquido && paramEmbarqueSel">
          <app-balanzas [esSoloLectura]="true">
          </app-balanzas>
          <!-- bodegas =====> pasar a shared o componente nuevo -->
          <app-bodegas [esSoloLectura]="true">
          </app-bodegas>
          <br/><br/>
        </div>
      </div>
    </div>
    
    <div class="tab-pane fade nav-tab-item-fondo" id="recibidores" role="tabpanel" aria-labelledby="recibidores-tab">
      <div *ngIf="vistaSeleccionada == 'recibidores-tab'">
        <app-recibidores-buque *ngIf="paramEmbarqueSel" [esEmbarqueLiquido]="esEmbarqueLiquido">

        </app-recibidores-buque>
      </div>
    </div>

    <div class="tab-pane fade nav-tab-item-fondo" id="actores" role="tabpanel" aria-labelledby="actores-tab">
      <div *ngIf="vistaSeleccionada == 'actores-tab'">
        <app-resumen-actores></app-resumen-actores>
      </div>
    </div>

    <div class="tab-pane fade nav-tab-item-fondo" id="archivos" role="tabpanel" aria-labelledby="archivos-tab">
      <div *ngIf="vistaSeleccionada == 'archivos-tab'">
        <app-archivos></app-archivos>
      </div>
    </div>

</div>
<ship-spinner [message]="'Cargando Historial de buque. Por favor, espere...'" *ngIf='cargandoInformacion'></ship-spinner>
