<div class='bg-white shadow mt-4 px-4 pb-4'>
  <h4 class="info-header colorTitle pt-4">Cargas por Bodega</h4>
  <div fxLayout='row wrap' class='info-desc'>

    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th> Bodega </th>
          <th> Producto </th>
          <th> Cargó (Kg) </th>
          <th> Resta cargar (Kg) </th>
          <th> Excedente (Kg) </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bodegas of bodegasProductosTn">
          <td> {{ bodegas.bodega }} </td>
          <td> {{ bodegas.producto }} </td>
          <td> {{ bodegas.kilos }} Kg </td>
          <td> {{ bodegas.restaCargar }} Kg </td>
          <td> {{ bodegas.excedente }} Kg </td>
        </tr>
      </tbody>
    </table>
        
  </div>
</div>