<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
  <app-collapse-button collapseSelectorId="collapseLineasEmbarque"></app-collapse-button>

  <h4 class="colorTitle pt-4">NIR</h4>
  <div id="collapseLineasEmbarque" class="collapse show">
    <div class="row">
      <div class="col-7 pl-4" *ngIf="conTrigo">
        <h4 class='colorTitle py-2'>Trigo</h4>

        <div class="row textoChico">
          <div fxLayout='row wrap' class="mt-3">
            <div fxFlex='100'>
              <div class='btn-add-container pt-btn-add' (click)="agregarLineasEmbarqueTrigo(1)" >
                <span class="font-weight-bold mr-4">Mano 1</span>
                <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nueva fila</span>
              </div>
            </div>
          </div>
          <table class="claseTable" >
            <div fxLayout='row wrap' class="mt-4">
              <div fxFlex='100'>
                <div fxLayout='row wrap' class="tituloCentrado" >
                  <tr class="claseTr" >
                    <th>
                      <div class="form-group div-active pl-2" fxFlex='25'>
                        <label>Fecha-Hora</label>
                      </div>
                      <div class="form-group div-active pl-2" fxFlex='8'>
                        <label>Ritmo Tn/h</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>%HD</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Prot. Base 13;50</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Prot. B/S</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>PH</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Origen</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Bodega</label>
                      </div>
                        <div fxFlex='4' class='full-center' >
                      </div>
                    </th>
                  </tr>
                </div>
              </div>
            </div>
  
            <div class='max-5vh'>
              <perfect-scrollbar>
                <form id="lineasDeEmbaque" [formGroup]="forms">
                  <ng-container formArrayName="trigoMano1">
                    <ng-container *ngFor="let l of forms.get('trigoMano1')['controls']; let i = index"
                                  [formGroupName]="i" >
                      <div fxLayout='row wrap' class="distancia-filas" >
                        <div fxFlex='100'>
                          <div fxLayout='row wrap'>
  
                            <tbody>
                              <tr class="claseTr">
                                <td>
  
                                  <div class="form-group" fxFlex='25'>
                                      <input type="datetime-local" class="inputLineasEmbarque" formControlName='fecha' [value]="fecha">
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="ritmo"/>
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="hd"/>
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="protBase"/>
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="prot_BS" />
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="ph" />
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="origen" />
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <select class="custom-select" 
                                          formControlName="bodega"
                                          [compareWith]="compareBodega">
                                      <option value="" selected disabled>Selecciona una Bodega</option>
                                      <option *ngFor="let b of bodegas" 
                                              [ngValue]="b"> {{ b.nombre }} </option>
                                    </select>
                                  </div>
                                  <div fxFlex='4' class='full-center btn-eliminar' *ngIf='i != 0'>
                                      <img src="assets/trashIcon.svg" class="basurerito" (click)="eliminarLineasEmbarque(i, 'trigoMano1')">
                                  </div>
  
                                </td>
                              </tr>
                            </tbody>
  
                          </div>
                        </div>
                        <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 7'></i>
                      </div>
                    </ng-container>
                  </ng-container>
                </form>
              </perfect-scrollbar>
            </div>
          </table>
        </div>

        <div class="row textoChico">
          <div fxLayout='row wrap' class="mt-3">
            <div fxFlex='100'>
              <div class='btn-add-container pt-btn-add' (click)="agregarLineasEmbarqueTrigo(2)" >
                <span class="font-weight-bold mr-4">Mano 2</span>
                <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nueva fila</span>
              </div>
            </div>
          </div>
          <table class="claseTable" >
            <div fxLayout='row wrap' class="mt-4">
              <div fxFlex='100'>
                <div fxLayout='row wrap' class="tituloCentrado" >
                  <tr class="claseTr" >
                    <th>
                      <div class="form-group div-active pl-2" fxFlex='25'>
                        <label>Fecha-Hora</label>
                      </div>
                      <div class="form-group div-active pl-2" fxFlex='8'>
                        <label>Ritmo Tn/h</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>%HD</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Prot. Base 13;50</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Prot. B/S</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>PH</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Origen</label>
                      </div>
                      <div class="form-group div-active" fxFlex='8'>
                        <label>Bodega</label>
                      </div>
                        <div fxFlex='4' class='full-center' >
                      </div>
                    </th>
                  </tr>
                </div>
              </div>
            </div>
  
            <div class='max-5vh'>
              <perfect-scrollbar>
                <form id="lineasDeEmbaque" [formGroup]="forms">
                  <ng-container formArrayName="trigoMano2">
                    <ng-container *ngFor="let l of forms.get('trigoMano2')['controls']; let i = index"
                                  [formGroupName]="i" >
                      <div fxLayout='row wrap' class="distancia-filas" >
                        <div fxFlex='100'>
                          <div fxLayout='row wrap'>
  
                            <tbody>
                              <tr class="claseTr">
                                <td>
  
                                  <div class="form-group" fxFlex='25'>
                                      <input type="datetime-local" class="inputLineasEmbarque" formControlName='fecha' [value]="fecha">
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="ritmo"/>
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="hd"/>
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="protBase"/>
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="prot_BS" />
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="ph" />
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="origen" />
                                  </div>
                                  <div class="form-group" fxFlex='8'>
                                    <select class="custom-select" 
                                          formControlName="bodega"
                                          [compareWith]="compareBodega">
                                      <option value="" selected disabled>Selecciona una Bodega</option>
                                      <option *ngFor="let b of bodegas" 
                                              [ngValue]="b"> {{ b.nombre }} </option>
                                    </select>
                                  </div>
                                  <div fxFlex='4' class='full-center btn-eliminar' *ngIf='i != 0'>
                                      <img src="assets/trashIcon.svg" class="basurerito" (click)="eliminarLineasEmbarque(i, 'trigoMano2')">
                                  </div>
  
                                </td>
                              </tr>
                            </tbody>
  
                          </div>
                        </div>
                        <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 7'></i>
                      </div>
                    </ng-container>
                  </ng-container>
                </form>
              </perfect-scrollbar>
            </div>
          </table>
        </div>
        <div>Total Ponderado Prot. B/S:</div>
      </div>

      <div class="col-4 ml-3 pr-4" *ngIf="conMaiz">
        <h4 class='colorTitle py-2'>Maíz</h4>

        <div class="row textoChico">
          <div fxLayout='row wrap' class="mt-3">
            <div fxFlex='100'>
              <div class='btn-add-container pt-btn-add' (click)="agregarLineasEmbarqueMaiz(1)" >
                <span class="font-weight-bold mr-4">Mano 1</span>
                <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nueva fila</span>
              </div>
            </div>
          </div>
          <table class="claseTable" >
            <div fxLayout='row wrap' class="mt-4">
              <div fxFlex='100'>
                <div fxLayout='row wrap' class="tituloCentrado" >
                  <tr class="claseTr" >
                    <th>
                      <div class="form-group div-active pl-2" fxFlex='35'>
                        <label>Fecha-Hora</label>
                      </div>
                      <div class="form-group div-active" fxFlex='10'>
                        <label>%HD</label>
                      </div>
                      <div class="form-group div-active" fxFlex='10'>
                        <label>PH</label>
                      </div>
                      <div class="form-group div-active" fxFlex='15'>
                        <label>Origen</label>
                      </div>
                      <div class="form-group div-active" fxFlex='15'>
                        <label>Bodega</label>
                      </div>
                        <div fxFlex='4' class='full-center' >
                      </div>
                    </th>
                  </tr>
                </div>
              </div>
            </div>
  
            <div class='max-5vh'>
              <perfect-scrollbar>
                <form id="lineasDeEmbaque" [formGroup]="forms">
                  <ng-container formArrayName="maizMano1">
                    <ng-container *ngFor="let l of forms.get('maizMano1')['controls']; let i = index"
                                  [formGroupName]="i" >
                      <div fxLayout='row wrap' class="distancia-filas" >
                        <div fxFlex='100'>
                          <div fxLayout='row wrap'>
  
                            <tbody>
                              <tr class="claseTr">
                                <td>
  
                                  <div class="form-group" fxFlex='35'>
                                      <input type="datetime-local" class="inputLineasEmbarque" formControlName='fecha' [value]="fecha">
                                  </div>
                                  <div class="form-group" fxFlex='10'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="hd"/>
                                  </div>
                                  <div class="form-group" fxFlex='10'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="ph" />
                                  </div>
                                  <div class="form-group" fxFlex='15'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="origen" />
                                  </div>
                                  <div class="form-group" fxFlex='15'>
                                    <select class="custom-select" 
                                          formControlName="bodega"
                                          [compareWith]="compareBodega">
                                      <option value="" selected disabled>Selecciona una Bodega</option>
                                      <option *ngFor="let b of bodegas" 
                                              [ngValue]="b"> {{ b.nombre }} </option>
                                    </select>
                                  </div>
                                  <div fxFlex='4' class='full-center btn-eliminar' *ngIf='i != 0'>
                                      <img src="assets/trashIcon.svg" class="basurerito" (click)="eliminarLineasEmbarque(i, 'maizMano1')">
                                  </div>
  
                                </td>
                              </tr>
                            </tbody>
  
                          </div>
                        </div>
                        <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 7'></i>
                      </div>
                    </ng-container>
                  </ng-container>
                </form>
              </perfect-scrollbar>
            </div>
          </table>
        </div>

        <div class="row textoChico">
          <div fxLayout='row wrap' class="mt-3">
            <div fxFlex='100'>
              <div class='btn-add-container pt-btn-add' (click)="agregarLineasEmbarqueMaiz(2)" >
                <span class="font-weight-bold mr-4">Mano 2</span>
                <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
                <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nueva fila</span>
              </div>
            </div>
          </div>
          <table class="claseTable" >
            <div fxLayout='row wrap' class="mt-4">
              <div fxFlex='100'>
                <div fxLayout='row wrap' class="tituloCentrado" >
                  <tr class="claseTr" >
                    <th>
                      <div class="form-group div-active pl-2" fxFlex='35'>
                        <label>Fecha-Hora</label>
                      </div>
                      <div class="form-group div-active" fxFlex='10'>
                        <label>%HD</label>
                      </div>
                      <div class="form-group div-active" fxFlex='10'>
                        <label>PH</label>
                      </div>
                      <div class="form-group div-active" fxFlex='15'>
                        <label>Origen</label>
                      </div>
                      <div class="form-group div-active" fxFlex='15'>
                        <label>Bodega</label>
                      </div>
                        <div fxFlex='4' class='full-center' >
                      </div>
                    </th>
                  </tr>
                </div>
              </div>
            </div>
  
            <div class='max-5vh'>
              <perfect-scrollbar>
                <form id="lineasDeEmbaque" [formGroup]="forms">
                  <ng-container formArrayName="maizMano2">
                    <ng-container *ngFor="let l of forms['controls']['maizMano2']['controls']; let i = index"
                                  [formGroupName]="i" >
                      <div fxLayout='row wrap' class="distancia-filas" >
                        <div fxFlex='100'>
                          <div fxLayout='row wrap'>
  
                            <tbody>
                              <tr class="claseTr">
                                <td>
  
                                  <div class="form-group" fxFlex='35'>
                                      <input type="datetime-local" class="inputLineasEmbarque" formControlName='fecha' [value]="fecha">
                                  </div>
                                  <div class="form-group" fxFlex='10'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="hd"/>
                                  </div>
                                  <div class="form-group" fxFlex='10'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="ph" />
                                  </div>
                                  <div class="form-group" fxFlex='15'>
                                    <input type="text" class="inputLineasEmbarque" formControlName="origen" />
                                  </div>
                                  <div class="form-group" fxFlex='15'>
                                    <select class="custom-select" 
                                          formControlName="bodega"
                                          [compareWith]="compareBodega">
                                      <option value="" selected disabled>Selecciona una Bodega</option>
                                      <option *ngFor="let b of bodegas" 
                                              [ngValue]="b"> {{ b.nombre }} </option>
                                    </select>
                                  </div>                                    
                                  <div fxFlex='4' class='full-center btn-eliminar' *ngIf='i != 0'>
                                      <img src="assets/trashIcon.svg" class="basurerito" (click)="eliminarLineasEmbarque(i, 'maizMano2')">
                                  </div>
  
                                </td>
                              </tr>
                            </tbody>
  
                          </div>
                        </div>
                        <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 7'></i>
                      </div>
                    </ng-container>
                  </ng-container>
                </form>
              </perfect-scrollbar>
            </div>
          </table>
        </div>
      </div>
    </div>


      <button id="btn-enviar-nir" class="btn btn-primary" (click)="enviarNir()">ENVIAR NIR</button>
    </div>

    <button class="btn btn-primary" (click)="enviarNir()">ENVIAR NIR</button>
  </div>

