
<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
  <div class="mb-1">
    <h4 class="colorTitle pt-4">NIR</h4>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="this.nir.tipoNir == 0">
    El buque no posee ni trigo ni maíz.
  </div>
  <app-nir-mano #mano1 *ngIf="isLoaded && Mano1Visible" [queMano]="1" [mano]="nir.mano1"></app-nir-mano>
  <app-nir-mano #mano2 *ngIf="isLoaded && Mano2Visible" [queMano]="2" [mano]="nir.mano2"></app-nir-mano>
    <!-- Promedios TOTALES -->
    <div *ngIf='this.nir.tipoNir == 3 || this.nir.tipoNir == 4'  class="promediosJustificados">
      <a><b>Promedio HD TOTAL:</b>{{promedioTotalHD() | number : '1.2-2'}}</a>
      <a><b>Promedio PH TOTAL:</b>{{promedioTotalPH() | number : '1.2-2'}}</a>
      <a *ngIf='this.nir.tipoNir == 3'><b>Promedio Prot (13,5%) TOTAL:</b> {{promedioTotalProtBase() | number : '1.2-2'}}</a>
      <a *ngIf='this.nir.tipoNir == 3'><b>Promedio Prot. Base seca TOTAL:</b>{{promedioTotalProtBS() | number : '1.2-2'}}</a>
      <hr class="hrCustom">
    </div>
    <div class="rowBotonesCentrados" *ngIf="this.nir.tipoNir != 0">
      <button data-html2canvas-ignore="true" class="btn btn-primary mr-2" [disabled]="this.guardando" (click)="enviarNir()">GUARDAR</button>
      <button data-html2canvas-ignore="true" class="btn btn-success ml-2" (click)="enviarNir(true)">ENVIAR NIR</button>
    </div>    
</div>
