<div class="row" *ngIf="!muellesOperativos()">
    <div class="alert alert-warning" role="alert">
        No hay barcos en estado operativo en este momento.
    </div>
    <div class='btn-add-container ml-3' id='addButton' (click)='openModalAddBuque(addBuque)'>
        <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
        <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nuevo buque</span>
    </div>
</div>

<div class="row" *ngIf="!buqueSanBenito && muellesOperativos()">
    <div class='btn-add-container ml-3' id='addButton' (click)='openModalAddBuque(addBuque)'>
        <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
        <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nuevo buque</span>
    </div>
</div>

<div class="row ml-1" *ngIf="muellesOperativos()">
    <div class="col">
        <div class="row tituloMuelle mb-2">Muelle San Benito</div>
        <div class="row">
            <button #listadoBotones class="btn btn-sm boton-listado btn-cargado" type="button"
                id="{{buqueSanBenito2.id}}" (click)="onClickHandlerClient(buqueSanBenito2)">
                <div class="icono-seleccionado" [ngClass]="imgSolidoLiquido(buqueSanBenito)"></div>
                {{estadoSanBenito()}}
            </button>
        </div>
    </div>
    <div class="col">
        <div class="row tituloMuelle mb-2">Muelle Vicentin </div>
        <div class="row">
            <button #listadoBotones class="btn btn-sm boton-listado btn-cargado" type="button"
                id="{{buqueVicentin2?.id}}" (click)="onClickHandlerClient(buqueVicentin2)">
                <div class="icono-noSeleccionado" [ngClass]="imgSolidoLiquido(buqueVicentin)"></div>
                {{estadoVicentin()}}
            </button>
        </div>
    </div>
    <div class="col">
        <div class="row tituloMuelle mb-2">Muelle Nouryon </div>
        <div class="row">
            <button #listadoBotones class="btn btn-sm boton-listado btn-cargado" type="button" id="{{buqueNoryon2?.id}}"
                (click)="onClickHandlerClient(buqueNoryon2)">
                <div class="icono-noSeleccionado" [ngClass]="imgSolidoLiquido(buqueNoryon)"></div>
                {{estadoNoryon()}}
            </button>
        </div>
    </div>
    <div class="col mr-1">
        <div class="row tituloMuelle mb-2">Otro muelle </div>
        <div class="row">
            <button #listadoBotones class="btn btn-sm boton-listado btn-cargado" type="button">
                <div class="icono-noSeleccionado" [ngClass]="imgSolidoLiquido(buqueOtrosMuelles)"></div>
                {{estadoOtros()}}
            </button>
        </div>
    </div>
</div>

<ng-template #addBuque let-modal>
    <div class='modal-header'>
        <h6 class='modal-title txt-center' id='add-buque-title'><b>Agregar buque para Control de Calidad</b></h6>
    </div>
    <div class='modal-body'>
        <form>
            <div class='form-group col-10 w-70 p-0'>
                <label for='buque-select'><b>Buque</b></label>
                <select class='form-control' id='buque-select' #selectBuque>
                    <option value='0' selected>Seleccione buque que está cargando</option>
                    <option *ngFor='let element of elementosSinPlano; let i = index' [value]='element.id'>
                        {{element.nombreBuque}}
                    </option>
                </select>
                <div *ngIf='errorMessage' class='txt-red mt-2'>El embarque es <strong>requerido</strong></div>
            </div>
        </form>
        <div class='flex-between w-100 pt-10'>
            <button type='button' class='btn btn-outline-danger'
                (click)="modal.dismiss('Cross click')">Cancelar</button>
            <button type='button' class='btn btn-primary' (click)='agregarEmbarque(selectBuque.value)'>Agregar</button>
        </div>
    </div>
</ng-template>
