<div id="imprimirRecibidoresLiquido">
  <div id="grafico-liquidos" class="mt-4 shadow bg-white min-h5">
    <app-tanques [esCalidad]="true" class="break"></app-tanques>
  </div>

  <div id="element-to-hide" data-html2canvas-ignore="true">
    <ship-spinner *ngIf='RecibidoresPdf' [src]='"pdf"'></ship-spinner>
  </div>

  <div class="row mt-4" id='lineas-embarque-print'>
    <div class="col">
      <div id="lineasEmbarque" class="shadow" style="background-color: white; min-height: 5rem;">
        <app-lineas [esCalidad]="true" class="break"></app-lineas>
      </div>
    </div>
  </div>

  <app-obs-calidad></app-obs-calidad>

  <div class="bg-white px-4 min-h5 shadow mt-4 break">
    <app-planilla-turnos-liquidos-calidad></app-planilla-turnos-liquidos-calidad>
  </div>

  <div class="col text-center">
    <app-modal-recibo></app-modal-recibo>
  </div>

  <app-registro-recibos class="break"></app-registro-recibos>

  <!--
  <div class='mt-5' style='margin-left: 25%; width: 50%;'>
      <app-graficos-ritmos [liquido]='true'></app-graficos-ritmos>
  </div>
  -->

  <div data-html2canvas-ignore="true" class="d-flex justify-content-center my-5">
    <ng-container *ngIf="hasPermisoRecibidores_Imprimir()">
      <img src="./assets/boton_imprimir.svg" (click)="imprimir()" style="cursor: pointer;"/>
    </ng-container>
    <!-- <button type="button" class="btn btn-success mx-5" (click)="finalizaCalidad()">FINALIZAR</button> -->
    <ng-container *ngIf="hasPermisoRecibidores_Finalizar()">
      <button type="button" class="btn btn-success mx-5" (click)="openModalCargarAmarre(CargarAmarre)">FINALIZAR</button>
    </ng-container>

  </div>

  <ng-template #CargarAmarre let-modal >
    <!-- <div class='container'> -->
      <form [formGroup]="amarreForm">
     <div class="form-row" style="margin-top:4px">
            <div class="form-group  col-6" style="padding-left:30px;">
                <label>Amarró</label>
                <input formControlName="fechaAmarro" type="date" max="3000-12-31" min="1000-01-01" class="form-control fecha" />
            </div>
            <div class="form-group col-6" style="padding-right:30px;">
              <label>&nbsp;</label>
              <div class="input_img">
                  <input class="form-control hora" formControlName="horaAmarro" placeholder="00:00" [ngxTimepicker]="fullTimeAmarro"
                      [format]="24" >
                  <img name="relojPeriodo" src="assets/reloj.svg" class="imgClockInput1">
              </div>
              <ngx-material-timepicker #fullTimeAmarro style="z-index: 1000000 !important;" >
              </ngx-material-timepicker>
          </div>

      </div>
      <div class="form-row">
        <div class="form-group  col-6" style="padding-left:30px;">
                <label>Desamarró</label>
                <input formControlName="fechaDesamarro" type="date" max="3000-12-31" min="1000-01-01" class="form-control fecha" />
            </div>
            <div class="form-group col-6" style="padding-right:30px;">
              <label>&nbsp;</label>
              <div class="input_img">
                  <input class="form-control hora" formControlName="horaDesamarro" placeholder="00:00" [ngxTimepicker]="fullTimeDesamarro"
                      [format]="24" >
                  <img name="relojPeriodo" src="assets/reloj.svg" class="imgClockInput1">
              </div>
              <ngx-material-timepicker #fullTimeDesamarro>
              </ngx-material-timepicker>
            </div>
      </div>
      <div class="form-row">

        <div class="form-group col-6" style="padding-right:30px;text-align:center">
          <button style="margin-top: 18px;" type="button" class="btn btn-danger" [disabled]="" (click)="modal.dismiss('Cross click')" >CANCELAR</button>
        </div>
        <div class="form-group  col-6" style="padding-left:30px;text-align:center">
          <button  style="margin-top: 18px;" type="button" class="btn btn-primary" [disabled]="" (click)="guardarAmarre()" >GUARDAR</button>
        </div>
      </div>

      </form>
    <!-- </div> -->
  </ng-template>
</div>
