<div id="grafico-liquidos" class="mt-4 shadow bg-white min-h5">
    <app-tanques></app-tanques>
</div>

<div class="row mt-4" id='lineas-embarque-print'>
  <div class="col">
    <div id="lineasEmbarque" class="shadow" style="background-color: white; min-height: 5rem;">
      <app-lineas></app-lineas>
    </div>
  </div>
</div>

<!-- <div class='bg-white px-4 min-h5 shadow mt-4'>
    <app-planilla-turnos-liquidos-calidad></app-planilla-turnos-liquidos-calidad>
</div> -->

<div class='mt-5' style='margin-left: 25%; width: 50%;'>
    <app-graficos-ritmos [liquido]='true'></app-graficos-ritmos>
</div>