<ship-spinner *ngIf='exportaPlanilla' [src]='"pdf"'></ship-spinner>

<app-collapse-button collapseSelectorId='collapsePlanillaTurnosLiquidos'></app-collapse-button>
<div class="divHeaderRightLeft">
    <h4 *ngIf="tablerista" class='colorTitle pt-4 divHeaderLeft'>Planilla de turnos líquidos Tablerista</h4>
    <h4 *ngIf="!tablerista" class='colorTitle pt-4 divHeaderLeft'>Planilla de turnos líquidos Recibidores</h4>
    <!-- <button class='btn btn-primary' (click)="fillPlanilla()">Cargar turnos </button> -->
</div>
<div id="collapsePlanillaTurnosLiquidos" class="collapse show">
    <button *ngIf="tablerista" id="btn-agregar-turnos-liquidos" class='btn btn-success divHeaderRight'
        (click)='openModalNuevoTurno(agregarTurno)'>Agregar turno</button>
    <br>
    <br>

    <form [formGroup]='formTurnos' *ngIf='turnoPuerto' id="formGroup">

        <div id="scroll-bar-turnos-liquidos" class='mt-4 px-4 pb-4'
            [ngStyle]="{'height': cantidadTurnos >= 3 ? '800px' : 'auto' }">
            <!-- ACA VA LA SCROLLBAR -->
            <perfect-scrollbar [config]="{suppressScrollX: true, wheelSpeed: 0.4}">
                <table class='table table-bordered turnos'>
                    <thead class="header-fijo">
                        <tr>
                            <th class="header-fijo">Día</th>
                            <th class="header-fijo">Turno</th>
                            <th class="header-fijo" width="12%">Exportador</th>
                            <th class="header-fijo">Línea</th>
                            <th class="header-fijo" width="5%">Partida</th>
                            <th class="header-fijo" width="12%">Producto</th>
                            <th class="header-fijo" width="4%">Tk</th>
                            <th class="header-fijo" width="4%">°C</th>
                            <th class="header-fijo">Med.Ini. CM</th>
                            <th class="header-fijo">Med.Ini. MM</th>
                            <th class="header-fijo">Med.fin. CM</th>
                            <th class="header-fijo">Med.fin. MM</th>
                            <th class="header-fijo">Destino</th>
                            <th class="header-fijo" width="5%">Cant.</th>
                            <th class="header-fijo" width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName='diasTurno'>
                            <ng-container *ngFor='let dia of diasTurno.controls; let d = index' [formGroupName]='d'>
                                <tr>
                                    <td [attr.rowspan]='getRowSpan(dia) + 1'>

                                        <div class='column-center'>
                                            <span><b>{{ getDia(d) }}</b></span>
                                            <span class='toneladas'>{{ getCantDia(dia) }}</span>
                                            <span class='turno'>por día</span>
                                            <span *ngFor='let bodega of bodegas' class='parcel-cantidad'><b>Parcel
                                                    {{bodega.bodegaParcel}}:</b>
                                                {{ getToneladasParcelDia(bodega.bodegaParcel, d) }}
                                                Tn.</span>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container formArrayName='turnos'>
                                    <ng-container *ngFor='let turno of getTurnos(d).controls; let t = index'
                                        [formGroupName]='t'>
                                        <tr disabled="true">
                                            <td [attr.rowspan]='getRowSpanTurno(turno) + 2'>
                                                <div class="column-center">
                                                    <span><b>{{turno.value.turnoPuerto ?
                                                            turno.value.turnoPuerto.turnoPuerto ?
                                                            turno.value.turnoPuerto.turnoPuerto.nombre : ' ' :
                                                            ''}}</b></span>
                                                    <span class='toneladas'>{{ getCantTurno(turno) }}</span>
                                                    <span class='turno'>por turno</span>
                                                    <span *ngFor='let bodega of bodegas'
                                                        class='parcel-cantidad'><b>Parcel {{bodega.bodegaParcel}}:</b>
                                                        {{ getToneladasParcelTurno(bodega.bodegaParcel, d, t) }} Tn.</span><br>
                                                    <button id="btn-guardar-turno-liquidos" class='btn btn btn-success'
                                                        style="margin-top: 5px; margin-bottom: 5px"
                                                        (click)='guardarTurnoGeneral(d,t)'
                                                        [disabled]="!bGrabandoTurnoActivo">
                                                        {{!turno.value.guardadoPorTablerista ? 'Guardar turno' : 'Guardar turno'}}
                                                    </button>
                                                    <span class='parcel-cantidad' *ngIf="turno.value.guardadoPorTablerista"><b>Turno en recibidores</b></span>

                                                    <button id="btn-turno-enviado-liquidos" *ngIf="!turno.value.guardadoPorTablerista"
                                                        (click)='guardarTurnoGeneral(d,t,true)'
                                                        [ngClass]='!turno.value.guardadoPorTablerista ? "btn btn-primary" : "btn btn-outline-primary"'>
                                                        {{!turno.value.guardadoPorTablerista ? 'Enviar a Recibidores' :
                                                        'Turno enviado'}}
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <ng-container formArrayName='moduloDeCargaPlanillaDeTurnosDetallesLiquido'>
                                            <ng-container
                                                *ngFor='let result of getTurnoDetalles(d, t).controls; let i = index'
                                                [formGroupName]='i'>
                                                <tr disabled="true">
                                                    <!-- EXPORTADOR -->
                                                    <td>
                                                        <!-- <ng-container formGroupName="exportador"> -->
                                                        <select formControlName='exportador'[compareWith]='compareFields'>
                                                            <option [value]='0'></option>
                                                            <option *ngFor='let exportador of exportadores'
                                                                [ngValue]='exportador'>{{exportador.nombre}}</option>
                                                        </select>
                                                        <!-- </ng-container> -->
                                                    </td>
                                                    <!-- LINEA -->
                                                    <td>
                                                        <select formControlName='tipoLineaEmbarque'
                                                                (change)="onLineaChange(result,d,t, i)"
                                                                [compareWith]='compareFieldLineas'>
                                                            <option [value]='0'></option>
                                                            <option *ngFor='let linea of tipoLineaEmbarque' [ngValue]='linea'>
                                                                {{linea.linea}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <!-- PARTIDA -->
                                                    <td>
                                                        <select formControlName='bodegaParcel' style="text-align: right">
                                                            <option [value]='0'></option>
                                                            <option *ngFor='let bodega of bodegas'
                                                                [ngValue]='bodega.bodegaParcel'>{{bodega.bodegaParcel}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <!-- PRODUCTO -->
                                                    <td>
                                                        <select formControlName='materialPuerto'
                                                            [compareWith]='compareFields'
                                                            (change)='getCantidadLinea(result)'>
                                                            <option [value]='0'></option>
                                                            <option *ngFor='let producto of obtenerMaterialxLinea(result)'
                                                                [ngValue]='producto'>{{producto.descripcionCorta}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <!-- TK -->
                                                    <td>
                                                        <!-- <input type="text" formControlName='tk' disabled> -->
                                                        <select formControlName='tk'
                                                            (change)='getCantidadLinea(result)' class='planilla-text-derecha'>
                                                            <option [value]='0'></option>
                                                            <option *ngFor='let linea of obtenerTkxLinea(result)'
                                                                [ngValue]='linea.tkInicial'>{{linea.tkInicial}}</option>
                                                        </select>
                                                    </td>
                                                    <!-- °C -->
                                                    <td><input type="number" formControlName='temperatura'
                                                            (change)='getCantidadLinea(result)' class='planilla-text-derecha'></td>
                                                    <td><input type="number" formControlName='medidaInicialCM'
                                                            (focusout)='getCantidadLinea(result)' class='planilla-text-derecha'></td>
                                                    <td><input type="number" formControlName='medidaInicialMM'
                                                            (focusout)='getCantidadLinea(result)' class='planilla-text-derecha'></td>
                                                    <td><input type="number" formControlName='medidaFinalCM'
                                                            (focusout)='getCantidadLinea(result)' class='planilla-text-derecha'></td>
                                                    <td><input type="number" formControlName='medidaFinalMM'
                                                            (focusout)='getCantidadLinea(result)' class='planilla-text-derecha'></td>
                                                    <!-- DESTINO -->
                                                    <td>
                                                        <select formControlName='destino'>
                                                            <option [value]='0'></option>
                                                            <option *ngFor='let destino of destinos'
                                                                [ngValue]='destino.id'>{{destino.nombre}}</option>
                                                        </select>
                                                    </td>
                                                    <td><input type="number" formControlName='cantidad' class='planilla-text-derecha'></td>
                                                    <td>
                                                        <div fxFlex='2' class='full-left' *ngIf='i == 0 && !turno.value.guardadoPorTablerista' >
                                                            <img src="assets/Mas.svg" class="adicionar" (click)="onAgregarDetalleTurno(turno, d)"  alt="Añadir Detalle">
                                                        </div>
                                                        <div fxFlex='2' class='full-right'  *ngIf="!turno.value.guardadoPorTablerista">
                                                            <img src="assets/trashIcon.svg" class="basurerito" (click)="onEliminarDetalleTurno(result)" alt="Eliminar Detalle">
                                                        </div>
                                                    </td>

                                                </tr>
                                            </ng-container>
                                        </ng-container>
                                        <tr>
                                            <td colspan="12" class='btn-add-cell'>
                                                <div class='btn-add-container center-bt' *ngIf="mostrarBtn"
                                                    (click)='openModalCorte(addCorte, d, t)' #addButton>
                                                    <button type='button' class='btn btn-primary bt-circle'
                                                        style='margin-top: -5px;'>+</button>
                                                    <span class='txt-primary pl-10 mt-5 txt-action'>Agregar corte</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf='getCorteTurnos(d, t).controls.length > 0'>
                                            <td colspan="12" class='p-0'>
                                                <table class='tabla table-bordered tabla-embebida'>
                                                    <thead>
                                                        <tr class='table-active'>
                                                            <th colspan="4">Motivo</th>
                                                            <th colspan="1">Inicio</th>
                                                            <th colspan="1">Fin</th>
                                                            <th colspan="1">Tiempo total</th>
                                                            <th colspan="5">Observaciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <ng-container
                                                            formArrayName='moduloDeCargaPlanillaDeTurnosCortes'>
                                                            <ng-container
                                                                *ngFor='let corte of getCorteTurnos(d, t).controls; let y = index'
                                                                [formGroupName]='y'>
                                                                <tr class='tabla-fila-corte'>
                                                                    <td colspan="4">
                                                                        {{corte.controls.motivosDeCorte.value.siglas}} -
                                                                        {{corte.controls.motivosDeCorte.value.nombre}}
                                                                    </td>
                                                                    <td colspan="1">
                                                                        {{corte.controls.horaInicio.value}} hs
                                                                    </td>
                                                                    <td colspan="1">
                                                                        {{corte.controls.horaFin.value}} hs
                                                                    </td>
                                                                    <td colspan="1">
                                                                        {{corte.controls.tiempoTotal.value}} hs
                                                                    </td>
                                                                    <td colspan="5">
                                                                        {{corte.controls.observaciones.value}}
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </ng-container>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
    </form>

    <div fxLayout='row wrap' class='px-4 pb-4' *ngIf='turnoPuerto'>
        <div fxFlex='50'>
            <div fxLayout='row wrap'>
                <div fxFlex='100'>
                    <span class='txt-blue'><b>Línea vieja:</b> {{getToneladasLinea('vieja')}}
                        Tn.</span>
                </div>
                <div fxFlex='100'>
                    <span class='txt-blue'><b>Línea nueva:</b> {{getToneladasLinea('nueva')}}
                        Tn.</span>
                </div>
                <div fxFlex='100'>
                    <span class='txt-blue'><b>Línea Vicentin:</b> {{getToneladasLinea('vicentin')}}
                        Tn.</span>
                </div>
                <div fxFlex='100'>
                    <span class='txt-blue'><b>Línea Biodiesel:</b> {{getToneladasLinea('biodiesel')}}
                        Tn.</span>
                </div>
            </div>
        </div>
        <div fxFlex='50' class='right-side'>
            <div class='bt-total'>Total a bordo: {{ getCantTotalABordo() }}<div class='img-tn'></div>
            </div>
        </div>
    </div>

    <div fxLayout='row wrap' class='px-4 pb-4' *ngIf='turnoPuerto'>
        <form [formGroup]="formShipParticular">
            <div class="form-row">
                <div class="form-group col" fxFlex='20'>
                    <label for="destinoPuerto" class="font-weight-bold">Bandera</label>
                    <select class="custom-select bandera" formControlName="destino" [attr.disabled]="true">
                        <option value=""></option>
                        <option *ngFor="let t of destinoPuerto" [ngValue]="t">{{ t.nombre }}</option>
                    </select>
                </div>

                <div class="form-group col" fxFlex='10'>
                    <label for="porteNeto" class="font-weight-bold">Porte Neto</label>
                    <input type="text" class="form-control" formControlName="porteNeto" [attr.disabled]="true">
                </div>

                <div class="form-group col" fxFlex='10'>
                    <label for="porteBruto" class="font-weight-bold">Porte Bruto</label>
                    <input type="text" class="form-control" formControlName="porteBruto" [attr.disabled]="true">
                </div>

                <div class="form-group col" fxFlex='10'>
                    <label for="eslora" class="font-weight-bold">Eslora</label>
                    <input type="text" class="form-control" formControlName="eslora" [attr.disabled]="true">
                </div>

                <div class="form-group col" fxFlex='10'>
                    <label for="manga" class="font-weight-bold">Manga</label>
                    <input type="text" class="form-control" formControlName="manga" [attr.disabled]="true">
                </div>

                <div class="form-group col" fxFlex='10'>
                    <label for="puntal" class="font-weight-bold">Puntal</label>
                    <input type="text" class="form-control" formControlName="puntal" [attr.disabled]="true">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col" fxFlex='15'>
                    <label for="fechaLibrePlatica" class="font-weight-bold">Fecha Libre Platica</label>
                    <div class="input_img">
                        <input type="date" max="3000-12-31" min="1000-01-01" class="form-control"
                            formControlName="fechaLibrePlatica" [attr.disabled]="true">
                    </div>
                </div>

                <div class="form-group col" fxFlex='7'>
                    <label class="font-weight-bold">Hora</label>
                    <div class="input_img">
                        <input class="form-control" formControlName="horaLibrePlatica" [attr.disabled]="true">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <ng-template #addCorte let-modal>
        <div class='modal-body'>
            <form [formGroup]='formCorte' fxLayout='row wrap'>
                <div fxFlex='100' class='label-float'>
                    <label>Motivo</label>
                    <select formControlName='motivosDeCorte'>
                        <option *ngFor='let motivo of motivosCorte' [ngValue]='motivo'>
                            {{motivo.siglas}} - {{motivo.nombre}}
                        </option>
                    </select>
                </div>
                <div fxFlex='33' class='pr-10 mt-2'>
                    <label>Inicio</label>
                    <div class='input_img'>
                        <input formControlName='horaInicio' #inicioCorteInput placeholder="00:00"
                            [ngxTimepicker]='inicioTime' [format]='24' class='w-100' (focusout)='calcularTotal()'>
                        <img src='assets/reloj.svg' class='imgClockInput1'>
                    </div>
                    <ngx-material-timepicker #inicioTime></ngx-material-timepicker>
                </div>
                <div fxFlex='33' class='pr-10 pl-10 mt-2'>
                    <label>Fin</label>
                    <div class='input_img'>
                        <input formControlName='horaFin' placeholder="00:00" [ngxTimepicker]='finTime' [format]='24'
                            class='w-100' (focusout)='calcularTotal()'>
                        <img src='assets/reloj.svg' class='imgClockInput1'>
                    </div>
                    <ngx-material-timepicker #finTime></ngx-material-timepicker>
                </div>
                <div fxFlex='33' class='pl-10 mt-2'>
                    <label>Tiempo Total</label>
                    <div class='input_img'>
                        <input formControlName='tiempoTotal' placeholder="00:00" [ngxTimepicker]='totalTime'
                            [format]='24' class='w-100'>
                        <img src='assets/reloj.svg' class='imgClockInput1'>
                    </div>
                    <ngx-material-timepicker #totalTime></ngx-material-timepicker>
                </div>
                <div fxFlex='100' class='label-float mt-3'>
                    <label>Observaciones</label>
                    <textarea rows='5' formControlName='observaciones'></textarea>
                </div>
                <div fxFlex='100' class='right-buttons-turnos'>
                    <button class='btn btn-outline-danger' (click)='modal.dismiss("Cross click")'>Cancelar</button>
                    <button class='btn btn-primary' (click)='modal.close("save")'>Guardar</button>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #agregarTurno let-modal>
        <div class='modal-body' style="height: 230px; z-index: 200">
            <form [formGroup]='formNuevoTurno' fxLayout='row wrap'>|
                <div class='pr-10 mt-2'>
                    <label>Fecha</label>
                    <div class="input_img">
                        <input type="date" formControlName="fecha" class="form-control" style="width: 160px;">
                    </div>

                    <div class="row mt-3">
                        <div class="col flex-between">
                            <button class='btn btn-primary m-2 ' (click)='addTurno(1)'>
                                00-06
                            </button>
                            <button class='btn btn-primary m-2' (click)="addTurno(2)">
                                06-12
                            </button>
                            <button class='btn btn-primary m-2' (click)="addTurno(3)">
                                12-18
                            </button>
                            <button class='btn btn-primary m-2' (click)="addTurno(4)">
                                18-24
                            </button>
                        </div>
                    </div>
                    <ngx-material-timepicker #inicioTime></ngx-material-timepicker>
                </div>
                <div fxFlex='100' class='right-buttons-turnos'>
                    <button class='btn btn-outline-danger' (click)='modal.dismiss("Cross click")'>Cancelar</button>
                    <!-- <button class='btn btn-primary' (click)='modal.close("save")'>Guardar</button> -->
                </div>
            </form>
        </div>
    </ng-template>


    <p-toast position='top-center' key='enviar-turno'></p-toast>

    <div class="mt-4 text-center">
        <button id="btn-exportar-planilla-liquidos" *ngIf='turnoPuerto' class="btn btn-success m-2"
            (click)='generarExcelPorParcel()'>Exportar planilla</button>
    </div>
</div>

<ng-template #exportarParcel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Exportar parcel</h5>
        </div>
        <div class="modal-body">
            <form [formGroup]='formExportarExcel'>
                <div class="row">
                    <div class="col-6">
                        <div>Seleccione parcel</div>
                        <div class="parcelChecks">
                            <label formArrayName="parcelSeleccionados"
                                *ngFor="let parcel of parcelSeleccionados.controls; let i = index">
                                <input type="checkbox" [formControlName]="i">
                                {{bodegas[i].bodegaParcel}}
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>Turnos</div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="filtroTurnos" id="filtroTurnosTodos"
                                formControlName="filtroTurnos" value="Todos">
                            <label class="form-check-label" for="filtroTurnosTodos">Todos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="filtroTurnos" id="filtroTurnosCerrados"
                                formControlName="filtroTurnos" value="Cerrados">
                            <label class="form-check-label" for="filtroTurnosCerrados">Cerrados</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="filtroTurnos" id="filtroTurnosAbiertos"
                                formControlName="filtroTurnos" value="Abiertos">
                            <label class="form-check-label" for="filtroTurnosAbiertos">Abiertos</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="modal.close('cancelar')">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="generarExcelPorParcel()">Enviar</button>
        </div>
    </div>
</ng-template>