<ship-spinner *ngIf="loading">{{mensaje}}</ship-spinner>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h1>Destinos</h1>
        </div>
        <div class="col-md-2 ng-star-inserted">
            <button class="btn btn-success" (click)="onCrear()">CREAR DESTINO</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form [formGroup]="filtros" class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control" placeholder="Nombre Destino" formControlName="nombre">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" (click)="onBuscar()">Buscar</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-outline-primary" (click)="limpiarFiltros()">Limpiar Búsqueda</button>
                    <button class="btn btn-outline-success ml-4" (click)="exportar()">Exportar EXCEL</button>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre Destino</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let destino of destinos">
                    <td>{{destino.nombre}}</td>
                    <td>
                        <button class="btn" (click)="onModificar(destino)">
                            <i class="fa fa-pencil fs-icon text-warning" aria-hidden="true" title="MODIFICAR"></i>
                        </button>
                        <button class="btn" (click)="onEliminar(destino)">
                            <i class="fa fa-trash-o fs-icon text-danger" aria-hidden="true" title="ELIMINAR"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <mat-paginator (page)="onBuscar($event)" [length]="itemsTotales" [showFirstLastButtons]="true"
        [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
</div>

<ng-template #modalDestino let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{titulo}}</h4>
            <button type="button" class="close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="destinoForm">
                <div class="form-group">
                    <label><strong><span class="text-danger">*</span> Código SAP (Máx 3):</strong></label>
                    <input type="text" class="form-control" formControlName="codigoSap" maxlength="3">
                </div>

                <div class="form-group">
                    <label><strong><span class="text-danger">*</span> Descripción:</strong></label>
                    <input type="text" class="form-control" formControlName="nombre" maxlength="40" style="text-transform: uppercase;">
                </div>

                <div class="form-group">
                    <label><strong><span class="text-danger">*</span> Nacionalidad:</strong></label>
                    <input type="text" class="form-control" formControlName="nacionalidad" maxlength="40">
                </div>

                <div class="form-group">
                    <label><strong><span class="text-danger">*</span> Bandera:</strong></label>
                    <input type="text" class="form-control" formControlName="bandera" 
                        maxlength="50" placeholder="Escriba para buscar bandera..."
                        [ngbTypeahead]="searchBanderas" [editable]="false" 
                        [inputFormatter]="formatterBanderas" [resultFormatter]="formatterBanderas"
                        (blur)="onBlurBandera()">
                </div>

                <div class="form-group"><label><strong>Documentos asociados:</strong></label></div>
                <div class="row margen">
                    <ng-container *ngFor="let doc of documentos">
                      <div class="col-md-4">
                        <div class="d-flex align-items-center">
                          <input id="doc-{{doc?.id}}" type="checkbox" class="form-check-input me-2" 
                          [checked]="doc?.seleccionado" (click)="onCheckDocumento(doc, $event)"/>
                          <span>{{doc?.documento?.nombre}}</span>
                        </div>
                      </div>
                    </ng-container>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-success" (click)="onGuardar()">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</ng-template>