<ship-spinner *ngIf='mostrarSpinner' [message]="'Cargando Modulo de carga.\n Por favor espere...'"></ship-spinner>
<div class="container-fluid fondo" id='carga-body'>
    <div class="pt-4">
        <div class="row">
            <div class="col pt-4">
                <h1>Módulo de Carga</h1>
            </div>
            <div class="col-5 mr-3">
                <app-estados-puerto-content></app-estados-puerto-content>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <app-navtabs mostrarBoton='true' *ngIf='mostrarTabs' (showPlano)='showPlano($event)'
            (changeEmbarque)='changeEmbarque()'></app-navtabs>
    </div>
    <!-- Utilizar un ngcontainer con ngIf para cambiar entre carga-solidos y carga-liquidos -->
    <ng-container *ngIf='mostrarPlano'>
        <app-plano-content (showCargas)='showCargas($event)'></app-plano-content>
    </ng-container>
    <ng-container *ngIf='mostrarCargas'>

        <!--Modulos Solidos-->
        <ng-container *ngIf='!embarqueSelected.esLiquido'>
            <app-carga-solidos *ngIf='!embarqueSelected.esLiquido' (hideSpinner)='hideSpinner($event)'>
            </app-carga-solidos>
            <!-- <div fxLayout='row wrap'>
                <div fxFlex='50'>
                    <app-graficos-ritmos [liquido]='embarqueSelected.esLiquido'></app-graficos-ritmos>
                </div>
                <div fxFlex='50' class='pb-3'>
                    <app-info-adicional></app-info-adicional>
                </div>
            </div> -->
        </ng-container>

        <!--Modulos Liquidos-->
        <ng-container *ngIf='embarqueSelected.esLiquido'>
            <app-carga-liquidos (hideSpinner)='hideSpinner($event)'></app-carga-liquidos>

            <!-- Rol Tablerista -->
            <!-- <ng-container *ngIf='embarqueSelected.nombreUbicacion.toLowerCase() == "muelle de carga"'> -->

            <!-- <ng-container>
                <div class='bg-white px-4 min-h5 shadow mt-4'>
                    <app-planilla-embarque></app-planilla-embarque>
                </div>
                <div class='bg-white px-4 min-h5 shadow mt-4'>
                    <app-planilla-turno-liquidos></app-planilla-turno-liquidos>
                </div>
                <div class='mt-5' style='margin-left: 25%; width: 50%;'>
                    <app-graficos-ritmos [liquido]='embarqueSelected.esLiquido'></app-graficos-ritmos>
                </div>
            </ng-container> -->

            <!-- -->
        </ng-container>
    </ng-container>
</div>