.line {  
    height: 7px;
    width: 100%;
}

.tabs{
    width: 33%;
    text-align: center;
    color: black !important;
    font-weight: bold;

}

.labelTabs{
    cursor: pointer;
}

.margenes {
    margin-left: 12px;
    margin-top: 16px;
}

.titulo{
    font-size: 20px;
}

.nav-link.labelTabs.active{
    border-bottom: 2px solid #4461a8;
}

.tamanioLetraModal{
    font-size: 14px;
}

.cursor{
    cursor: pointer;
}

.header{
    text-align: center;
    background-color: #d8d8d8;
}

.tableFixHead          { overflow-y: auto; height: 360px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }


.calendario{
    font-size: 45px;
    position: absolute;
}

.margen{
    margin-left: 50px;
}

.centradoHorizontal{
    vertical-align: inherit;
}

.margenIzquiera5px{
    margin-left: 5px;
}

.cierre{
 margin-right: 10px;   
}

.texto-rojo {
    color: red;
}

