<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioOrquestador">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="CTGServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding1" />
                <binding name="CTGServiceBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding3" />
                <binding name="CTGServiceBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="CTGServiceBinding5" />
                <binding name="DatosBinding" />
                <binding name="calpesSoap" />
                <binding name="BasicHttpBinding_IServicioImpresion" />
                <binding name="wscpeSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="wscpeSOAP1" />
                <binding name="LoginCmsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCmsSoapBinding1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ZSDWS_SCATO">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='ZSDWS_SCATO'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="ZSDWS_SCATO_soap12">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='ZSDWS_SCATO_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioOrquestador">
                    <security>
                        <transport protectionLevel="None" sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://beta.webcompliance.com.ar/webcompliance/webservice/agroacopios"
                binding="basicHttpBinding" bindingConfiguration="DatosBinding"
                contract="ComplianceWebServiceV2.DatosPort" name="DatosPort" />
            <endpoint address="http://imgup.entreganet.com/calpes.asmx" binding="basicHttpBinding"
                bindingConfiguration="calpesSoap" contract="Urenport.calpesSoap"
                name="calpesSoap" />
            <endpoint address="http://localhost/Scato.ModuloImpresor/ServicioImpresion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioImpresion"
                contract="ServicioImpresion.IServicioImpresion" name="BasicHttpBinding_IServicioImpresion" />
            <endpoint address="http://gviceccqa.molinosagro.ad:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato"
                binding="customBinding" bindingConfiguration="ZSDWS_SCATO"
                contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO" />
            <endpoint address="http://gviceccqa.molinosagro.ad:8000/sap/bc/srt/rfc/sap/zsdws_scato/400/zsdws_scato/zsdws_scato"
                binding="customBinding" bindingConfiguration="ZSDWS_SCATO_soap12"
                contract="ServiciosSap.ZSDWS_SCATO" name="ZSDWS_SCATO_soap12" />
            <endpoint address="http://nbar14939:8080/ServicioOrquestador"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioOrquestador"
                contract="Orquestador.IServicioOrquestador" name="BasicHttpBinding_IServicioOrquestador" />
            <endpoint address="net.tcp://nbar14939:8081/ServicioOrquestador"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioOrquestador"
                contract="Orquestador.IServicioOrquestador" name="NetTcpBinding_IServicioOrquestador">
                <identity>
                    <userPrincipalName value="BAUNET\dsanchez" />
                </identity>
            </endpoint>
            <endpoint address="https://fwshomo.afip.gov.ar/wscpe/services/soap"
                binding="basicHttpBinding" bindingConfiguration="wscpeSOAP"
                contract="AfipCPDigitalService.CpePortType" name="CpeEndPoint" />
            <endpoint address="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"
                binding="basicHttpBinding" bindingConfiguration="LoginCmsSoapBinding"
                contract="AfipWebService.LoginCMS" name="LoginCms" />
        </client>
    </system.serviceModel>
</configuration>