<div class='bg-white shadow'>
    <div class="row" style="justify-content: space-evenly">
        <app-reloj-balanzas [titulo]='liquido? "Ritmo acumulado" : "Ritmo de carga"' [valor]="valorRitmo" [maximo]="valorRitmo" [color]="colorRitmo" [descripcion]='liquido? "por hora" : "por hora por mano"' [footer]='""'></app-reloj-balanzas>
        <app-reloj-balanzas [titulo]='"Llevas cargando"' [valor]="valorCargando" [maximo]='tnTotales > valorCargando ? tnTotales : valorCargando'  [color]='"#5CB85C"' [descripcion]= '"de " + tnTotales + " Tn totales"' [footer]='!liquido? "Balanza 7 + Balanza 8" : ""'></app-reloj-balanzas>
        <app-reloj-balanzas [titulo]='"Ritmo Carga NETO"' [valor]="valorNeto" [maximo]="valorRitmo" [color]="colorValorNeto" [descripcion]='liquido? "por hora" : "por hora por mano"' [footer]='"Este ritmo no contempla fuleos ni bajas cargas a pedido del buque"'></app-reloj-balanzas>
    </div>
</div>