<ship-spinner *ngIf='mostrarSpinner' [message]="'Cargando Modulo de Calidad.\n Por favor espere...'"></ship-spinner>

<div class="container-fluid fondo" id='carga-body'>

    <div class="pt-4">
        <div class="row">
            <div class="col pt-4">
                <h1>Módulo de Calidad</h1>
            </div>
            <div class="col-5 mr-3">
                <app-estados-puerto-content></app-estados-puerto-content>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <app-navtabs-calidad *ngIf='mostrarTabs' (showPlano)='showPlano($event)' (changeEmbarque)='changeEmbarque()'>
        </app-navtabs-calidad>
    </div>

    <!-- Utilizar un ngcontainer con ngIf para cambiar entre carga-solidos y carga-liquidos -->
    <ng-container *ngIf='mostrarPlano'>
        <app-plano-content (showCargas)='showCargas($event)'></app-plano-content>
    </ng-container>

    <ng-container *ngIf='mostrarCargas'>
        <!--Modulos Solidos-->
        <app-solidos *ngIf='!embarqueSelected.esLiquido' (hideSpinner)='hideSpinner($event)' ></app-solidos>
        <!--Modulos Liquidos-->
        <app-liquidos *ngIf='embarqueSelected.esLiquido' (hideSpinner)='hideSpinner($event)' ></app-liquidos>
    </ng-container>

    <!-- <app-obs-calidad></app-obs-calidad> -->

    <div class="col text-center" *ngIf='mostrarPlano'>
        <button (click)='openModalEmitirRecibo(emitirRecibo)' class="btn btn-primary m-4" >EMITIR RECIBO</button>
    </div>
</div>

<ng-template #emitirRecibo let-modal>
        
    <div class='modal-header'>
        <label><b>Por favor, verifique los datos del recibo.</b></label>
    </div>
    <div class='modal-body '>
        <div class="row">
            <div class="col">
                <label for="recipient-name" class="col-form-label"><b>Port of</b><span class="Traduccion">(puerto de)</span></label>
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.nombrePuertoOrigen.toUpperCase()}}">
            </div>
            <div class="col">
                <label for="recipient-name" class="col-form-label"><b>Date</b><span class="Traduccion"> (fecha)</span></label>
                <input type="text" class="form-control" disabled value="{{
                    this.reciboBuque.fechaRecibo.toDateString().split(' ')[1] + ' ' + this.reciboBuque.fechaRecibo.toDateString().split(' ')[2] + ' ' + this.reciboBuque.fechaRecibo.toDateString().split(' ')[3] 
                }}">
            </div>    
        </div>

        <div><label></label></div>

        <div class="row">
            <div class="col">
                <label for="recipient-name" class="col-form-label"><b>Recived, in board the M/V/</b><span class="Traduccion"> (Recibido a bordo del vapor)</span></label>
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.nombreVapor.toUpperCase()}}">
            </div>
            <div class="col">
                
            </div>    
        </div>

        <div><label></label></div>

        <div><label for="recipient-name" ><b>the under noted goods in apparent good order and confition form/</b><span class="Traduccion"> (las mercaderías abajo mencionadas en aparente buen orden y condcion de)</span></label></div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.nombreEmpresaRemitente.toUpperCase()}}">
            </div>
            <div class="col">
                
            </div>    
        </div>

        <div><label></label></div>
        
        <div class="row">
            <div class="col">
                <label for="recipient-name" class="col-form-label"><b>for the Port of</b><span class="Traduccion"> (para el puerto de)</span></label>
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.nombrePuertoDestino.toUpperCase()}}">
            </div>
            <div class="col">
                
            </div>    
        </div>

        <div><label></label></div>

        <div><label for="recipient-name" class="col-form-label"><small>(Quantity to be stated ind Figures and also in Words).(Cantidades establecidas en números y tambien en letras)</small></label></div>

        <div><label></label></div>

        <div class="row">
            <div class="col">
                <label for="recipient-name" class="col-form-label"><b>QUANTITY</b><span class="Traduccion"><br> (CANTIDAD)</span></label>
                
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.cantidad}}">
            </div>
            <div class="col">
                <label for="recipient-name" class="col-form-label"><b>QUANTITY IN WORDS AND CLASS OF CARGO</b><span class="Traduccion"> (CANTIDAD EN LETRAS Y CLASE DE CARGA)</span></label>
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.cantidadEnLetras.toUpperCase()}}">
            </div>    
        </div>

        <div><label></label></div>

        <div class="row">
            <div class="col">
                <div><label for="recipient-name" class="col-form-label"><b>Stowed </b><span class="Traduccion">(Estibado en bodega)</span></label></div>
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.estibadoEnBodega.toUpperCase()}}">
            </div>
            <div class="col">
                
            </div>    
        </div>

        <div><label></label></div>

        <div class="row">
            <div class="col">
                <div><label for="recipient-name" class="col-form-label"><b>Quality and Quantity unknown Said to Weigh:</b><span class="Traduccion"> (Calidad y cantidad desconocidas que se dice pasar)</span></label></div>
                <input type="text" class="form-control" disabled value="{{this.reciboBuque.calidadYCantidadDesconocidas.toUpperCase()}}">
            </div>
            <div class="col">
                <div><label for="recipient-name" class="col-form-label"><b>Incluir para impresión</b></label></div>
                <div class='custom-control custom-switch'>
                <input type='checkbox' class='custom-control-input' id='customSwitch32' checked value="{{this.reciboBuque.incluirParaImpresion}}">
                <label class='custom-control-label' for='customSwitch32'></label></div>
            </div>    
        </div>
    </div>
    
    <div class='modal-footer'>
        <button type='button' class='btn btn-danger mx-5' (click)="modal.dismiss('Cross click')" >CANCELAR</button>
        <button type="button" class="btn btn-success" (click)="generarPDF()" (click)="modal.dismiss('Cross click')">CONFIRMAR DATOS</button>
    </div>
</ng-template>

<app-testpdf [recibo]="reciboBuque"></app-testpdf>

