<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CodigoSapSemillaSoja" value="19908017" />
    <add key="CodigoSapSanLorenzo" value="1029" />
    <add key="ida:FederationMetadataLocation" value="https://bfdev271/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Issuer" value="https://bfdev271.baunet.local/adfs/ls/" />
    <add key="ida:ProviderSelection" value="productionSTS" />
    <add key="UrlBaseWorkflow" value="http://localhost/Scato.workflow/xaml/" />
    <add key="CodigoHidraulicaVagon" value="HIDV" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <machineKey decryptionKey="1B7D8E36A2395286CE2A12DBB49BE7C473A2A649FF6338A8" validationKey="3C9A82D7B7538BF92AED4C960C2EDF4AE317A1C6273CDD821013476397B0ADEE8F4104F5083AC297BD84E2DF62F8EEED0FCAB0677E19895F734D4BD3E643E6B8" />
    
    <compilation debug="true" targetFramework="4.5" />
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="None" />
    <globalization uiCulture="es-AR" culture="es-AR" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
     <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="Molinos.Scato.WebMobile.Seguridad.FixedWsFederationAuthenticationModule, Molinos.Scato.WebMobile" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <httpProtocol>
    <customHeaders>
      <add name="X-UA-Compatible" value="IE=edge" />
    </customHeaders>
  </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosScatoBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
          <security mode="None" />
        </binding>
        <binding name="CommonBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
          <security mode="None" />
        </binding>
	  <!--<binding name="OrquestadorBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Scato.serviciosWeb/ServicioRepositorio.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioRepositorio" name="ServicioRepositorio" />
      <endpoint address="http://localhost/Scato.serviciosWeb/ServicioComandos.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IServicioComandos" name="ServicioComandos" />
      <endpoint address="http://localhost/Scato.workflow/ListaDeWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Actividades.Servicios.IListaDeWorkflows" name="ListaDeWorkflows" />
      <endpoint address="http://localhost/Scato.serviciosWeb/FirmaProvider.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="ServiciosScatoBinding" contract="Molinos.Scato.Servicios.IFirmaProvider" name="FirmaProvider" />
	  <!--<endpoint address="http://bfdev260:8080/ServicioOrquestador" binding="basicHttpBinding" bindingConfiguration="OrquestadorBinding" contract="Orquestador.IServicioOrquestador" name="Orquestador" />-->
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="wcfProfiling" type="Molinos.Scato.WebMobile.Helpers.WcfProfiling.WcfMiniProfilerClientBehavior, Molinos.Scato.WebMobile, Version=1.0.0.0, Culture=neutral" />
        <add name="internacionalizacion" type="Molinos.Scato.Servicios.Behavior.InternacionalizacionBehavior, Molinos.Scato.Servicios, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <wcfProfiling />
          <internacionalizacion />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="http://localhost/Scato.WebMobile/" />
      </audienceUris>
      <!--Commented by Identity and Access VS Package-->
      <!--<issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"><trustedIssuers><add thumbprint="3baa5c7d76c5665915215be30dc2f83aa154c628" name="TestIssuer" /></trustedIssuers></issuerNameRegistry>-->
      <!--certificationValidationMode set to "None" by the the Identity and Access Tool for Visual Studio. For development purposes.-->
      <certificateValidation certificateValidationMode="None" />
      <claimsAuthenticationManager type="Molinos.Scato.WebMobile.Seguridad.ScatoClaimsAuthenticationManager, Molinos.Scato.WebMobile, Version=1.0.0.0, Culture=neutral" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://BFDEV271.baunet.local/adfs/services/trust">
          <keys>
            <add thumbprint="e3d6a33f3f6ca09010fbfa2b5d272e00254f133c" />
          </keys>
          <validIssuers>
            <add name="http://BFDEV271.baunet.local/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false" persistentSessionLifetime="365.0:0:0" />
      <wsFederation persistentCookiesOnPassiveRedirects="true" passiveRedirectEnabled="true" issuer="https://bfdev271.baunet.local/adfs/ls/" realm="http://localhost/Scato.WebMobile/" reply="http://localhost/Scato.WebMobile/" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>