.margen-boton{ 
    margin-top: 20px;
}

.cargando-programa-embarque{
    font-family: roboto;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: #1A1A1A;
}
.nominacion {
    background-color: #1C7CD5;
    border-color: #1C7CD5;
    color: white;
    width: 100%;
    margin-top: 19px;
}

.enviarLineUp {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: white;
    width: 85%;    
}


.container-fluid{
    padding: 25px;
}

.alinearAlFinal {
    text-align: end;
}
