.static {
    cursor: not-allowed;
}

/*Estilos del grafico*/
.brujulaA,
.brujulaF {
fill: none;
}

.brujulaA {
stroke: #707070;
stroke-width: 0.5px;
}

.brujulaB {
font-size: 14px;
}

.brujulaB,
.brujulaC {
font-family: Roboto-Bold, Roboto;
font-weight: 700;
}

.brujulaC {
font-size: 15px;
}

.brujulaD {
fill: #5b5a5d;
}

.brujulaE {
fill: #515151;
}

.brujulaG {
fill: #7b7b7b;
}

.brujulaH {
fill: #74c5d9;
}

.brujulaI {
fill: #6a6a6a;
}

.brujulaJ {
fill: #fff;
}

.brujulaK {
stroke: none;
}

.celda7A,
.celda7e,
.celda7g {
fill: none;
}
.celda7A {
stroke: #707070;
}
.celda7b,
.celda7c {
fill: #1a1a1a;
font-size: 6px;
font-family: Roboto-Bold, Roboto;
font-weight: 700;
}
.celda7b {
letter-spacing: 2em;
}
.celda7d {
fill: #707070;
}
.celda7e {
stroke: #000;
}
.celda7f {
stroke: none;
}
.a,
.e,
.g {
fill: none;
}
.a {
stroke: #707070;
}
.b,
.c {
fill: #1a1a1a;
font-family: Roboto-Bold, Roboto;
font-weight: 700;
}
.b {
font-size: 7px;
}
.c {
font-size: 6px;
}
.d {
fill: #707070;
}
.e {
stroke: #000;
}
.f {
stroke: none;
}
.tabique {
    stroke-width: 5;
}
/*Estilos del grafico*/
.text-datos-buque{
    font-size: 19px;
    fill: #3376A1;
}
.text-buque-bold{
    stroke-width: 1px; stroke: #3376A1;
}
.nombre-buque{
    stroke: #3376A1;
    stroke-width: 1px;
    font-size: 29px;
}

.fillFlecha{
    fill: #4d60a8;
    fill-opacity: 1;
}

svg{
    -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.elementoColor{
    fill: #D87621;
    cursor: pointer;
}

.elementoProd{
    fill: #FF9880;
    cursor: pointer;
}

.toggleForma{
    fill: #D87621;
    cursor: pointer;
}

.opacidad{
    opacity: 0.85;
}

.colorTitle{
    color: #4D60A8;
}

.hideResize{
    visibility: hidden;
}

:host ::ng-deep g:focus{
    outline: none;
}

.siloResaltado {
    stroke: #3cd73c;
    stroke-width: 4;
}

#collapseGrafico {
    position: relative;
}

/* #region Controles Grafico */
.controles-grafico {
    position: absolute;
    bottom: 5rem;
    right: 2%;
    display: grid;
    justify-items: end;
    grid-template-columns: auto auto auto;
    column-gap: .5rem;
    row-gap: 1.5rem;
}

.controles-grafico .select-material-container {
    grid-column: 1/-1;
    padding-right: 1rem;
}

.controles-grafico #selectMateriales {
    padding: 0.1rem;
}

.controles-grafico div:not([class]) {
    font-weight: bold;
}

.controles-grafico div:nth-last-child(3) {
    justify-self: start;
}

.custom-switch {
    padding: 0;
}

.custom-control-label {
    width: 5rem;
    height: 1.7rem;
}

.custom-switch.tank-control .custom-control-label::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4rem;
    background-color: #4D60A8;
    border: none;
    font-size: 1.12rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.custom-switch.tank-control .custom-control-label::after {
    top: 3px;
    left: 3px;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.tank-control .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(3.35rem);
}

/* #endregion Controles Grafico */

#colorMateriales{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    margin-top: 1%;
}

.colorMaterial{
    flex: 0 0 21%;
    max-width: 21%;
    margin: 2%;
}

.descripcionMaterial{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 112px !important;
}
