<div class='bg-white shadow'>
    <h4 class="info-header colorTitle">Información adicional</h4>
    <div fxLayout='row wrap' class='info-desc'>
        <p fxFlex='100'><b>Ritmo a baja carga: </b>{{ ritmoBajaCarga }} tn/hs</p>
        <p fxFlex='100'><b>% cargado a baja carga: </b>{{ porcCargadoBajaCarga }} %</p>
        <p fxFlex='100'><b>Paradas operativas puerto: </b>{{ paradasOperativasPuerto }}</p>
        <p fxFlex='100'><b>Paradas operativas Buque: </b>{{ paradasOperativasBuque }}</p>
        <p fxFlex='100'><b>Paradas Mecanicas: </b>{{ paradasMecanicas }}</p>
        <p fxFlex='100'><b>Paradas eléctricas: </b>{{ paradasElectricas }}</p>
        <p fxFlex='100'><b>Paradas por habilitación: </b>{{ paradasPorHabilitacion }}</p>
        <p fxFlex='100'><b>Espera determinante: </b>{{ esperaDeterminante }}</p>
    </div>
</div>