<div class='bg-white shadow'>
    <h4 class="info-header colorTitle">Información adicional</h4>
    <div fxLayout='row wrap' class='info-desc'>
        <p fxFlex='100'><b>Ritmo a baja carga:</b></p>
        <p fxFlex='100'><b>% cargado a baja carga:</b></p>
        <p fxFlex='100'><b>Paradas operativas puerto:</b></p>
        <p fxFlex='100'><b>Paradas operativas Buque:</b></p>
        <p fxFlex='100'><b>Paradas Mecanicas:</b></p>
        <p fxFlex='100'><b>Paradas eléctricas:</b></p>
        <p fxFlex='100'><b>Paradas por habilitación:</b></p>
        <p fxFlex='100'><b>Espera determinante:</b></p>
    </div>
</div>