<ship-spinner [message]="'Cargando Historial de COEM. Por favor, espere...'"
    *ngIf='buscarHistorialCoem'></ship-spinner>

<div style="overflow-x:auto;" class="table-responsive">
    <table class='table table-bordered lista-coem-table'>
        <thead class="lista-coem-header">

            <th>Id COEM</th>
            <th>Caratula</th>
            <th>Mercaderías Sueltas</th>
            <th>Estados</th>
            <th>Rectificar COEM</th>
            <th>Anular COEM</th>
        </thead>
        <tbody *ngFor="let historial of getListaHistorialCoem()">
            <tr class="lista-coem-row" *ngIf="historial.numeroPaginado == getPaginaActual()">
                <td class="lista-coem-row-item">{{historial.idCoem}}</td>
                <td class="lista-coem-row-item">{{historial.caratulaCoem}}</td>
                <td class="lista-coem-row-item">{{historial.mercaderiasSueltasCoem}}</td>
                <td class="lista-coem-row-item">{{ historial.estadoCoem }}</td>
                <td class="lista-coem-row-item" (click)="editarCoem(historial,editCoem)">
                    <div class='icon-editar cursor'></div>
                </td>
                <td class="lista-coem-row-item">
                    <img src="assets/trashIcon-no-border.svg" class="eliminar cursor">
                </td>
            </tr>
            <div class="lista-coem-espacio" *ngIf="historial.numeroPaginado == getPaginaActual()">
            </div>
        </tbody>
    </table>
<!-- 
  <nav aria-label="Page navigation example" class="centrado"
        *ngIf="getListaHistorialCaratula()?.length > 0">
        <ul class="pagination justify-content-center paginado-buque-fondo">
            <li [ngClass]="{'page-item disabled': getPaginaActual() == 1 }">
                <a class="page-link" href="javascript:void(0);" (click)="setPaginaActual(getPaginaActual() - 1)">
                 << </a>
            </li>
            <li *ngFor="let pagina of getListaPaginas(); let index = index"
                [ngClass]="{'page-item disabled': getPaginaActual() == (index + 1)}">
                <a class="page-link" [ngClass]="{'paginado-buque-activo': getPaginaActual() == (index + 1)}"
                    href="javascript:void(0);" (click)="setPaginaActual(index + 1)">{{index + 1}}</a>
            </li>
            <li [ngClass]="{'page-item disabled': getPaginaActual() >= getTotalPaginas() }">
                <a class="page-link" href="javascript:void(0);" (click)="setPaginaActual(getPaginaActual() + 1)"> >>
                </a>
            </li>
        </ul>
    </nav>  -->
    <!-- <div *ngIf="esNoExisteRegistros && !esResumenOperatoria">
        No se encontraron registros para los filtros ingresados.
    </div>  -->



</div>

<ng-template #editCoem let-modal>
    <app-modal-crear-coem [id]="coemId" [title]="'Rectificar Coem Nro '+ coemId"></app-modal-crear-coem>
</ng-template>
