<div class='container mt-4 pr-1'>
    <div>
        <div class="form-row">
            <div class="form-group col-5">
                <label>Amarró</label>
                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" />
            </div>
            <div class="form-group col-3">
                <label>&nbsp;</label>
                <div class="input_img">
                    <input class="form-control" placeholder="00:00" [ngxTimepicker]="fullTimeAmarro" [format]="24" (change)="validarAMPM($event)">
                    <img src="assets/reloj.svg" class="imgClockInput1">
                </div>
                <ngx-material-timepicker #fullTimeAmarro (timeSet)="validarAMPM($event)"></ngx-material-timepicker>
            </div>
            <div class="form-group col-2">
                <label>Viento</label>
                <input class="form-control" />
            </div>
            <div class="form-group col-2">
                <label>Dirección</label>
                <input class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <label>Desamarró</label>
                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" />
            </div>
            <div class="form-group col-3">
                <label>&nbsp;</label>
                <div class="input_img">
                    <input class="form-control" placeholder="00:00" [ngxTimepicker]="fullTimeDesamarro" [format]="24" (change)="validarAMPM($event)">
                    <img src="assets/reloj.svg" class="imgClockInput1">
                </div>
                <ngx-material-timepicker #fullTimeDesamarro (timeSet)="validarAMPM($event)"></ngx-material-timepicker>
            </div>
            <div class="form-group col-2">
                <label>&nbsp;</label>
                <input class="form-control" />
            </div>
            <div class="form-group col-2">
                <label>&nbsp;</label>
                <input class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-5">
                <label>Habilitación</label>
                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" />
            </div>
            <div class="form-group col-3">
                <label>&nbsp;</label>
                <div class="input_img">
                    <input class="form-control" placeholder="00:00" [ngxTimepicker]="fullTimeHabilitacion" [format]="24" (change)="validarAMPM($event)">
                    <img src="assets/reloj.svg" class="imgClockInput1">
                </div>
                <ngx-material-timepicker #fullTimeHabilitacion (timeSet)="validarAMPM($event)"></ngx-material-timepicker>
            </div>
        </div>
        <div class='col mt-5 p-0'>
            <p>Velocidad Máxima del viento para amarre 35 Km/h</p>
        </div>
        <div class='col m-0 p-0'>
            <button class='btn btn-primary' type="button" (click)='guardarAmarre()'>GUARDAR</button>
        </div>
    </div>
</div>