/* Estilos para el formulario de filtros */
.bg-form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filtros-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filtros-form .form-control {
    margin-bottom: 15px;
  }
  
  button.btn-success {
    padding: 10px 20px;
    font-size: 16px;
  }

  button.btn-secondary {
    padding: 10px 20px;
    font-size: 16px;
  }

  .titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: left;
    color: #1A1A1A;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.2;
    transition: color 0.3s ease-in-out;
  }
  