<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="Dominio" value="BAUNET" />
        <add key="DominioBFDev" value="BAUNET" />
        <add key="DominioDev" value="MOLINOSAGRO.AD" />
        <add key="DominioQa" value="MOLINOSAGRO.AD" />
        <add key="DominioQa2" value="MOLINOSAGRO.AD" />
        <add key="DominioProd" value="MOLINOSAGRO.AD" />
        <add key="DominioCont" value="MOLINOSAGRO.AD" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
        <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    </appSettings>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <bindings>
            <basicHttpBinding>
                <binding name="CommonBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true">
                    <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>-->
                    <security mode="None" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <extensions>
            <behaviorExtensions>
                <add name="internacionalizacion" type="Molinos.Scato.Servicios.Behavior.InternacionalizacionBehavior, Molinos.Scato.Servicios, Version=1.0.0.0, Culture=neutral" />
            </behaviorExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior>
                    <internacionalizacion />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
          <endpoint address="http://localhost/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflows" />
          <endpoint address="http://bfdev260/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflowsBFDev" />
          <endpoint address="http://vicscatodev01/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflowsDev" />
          <endpoint address="http://gsloscatoapq01.molinosagro.ad/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflowsQa" />
          <endpoint address="http://gsloscatoapq01.molinosagro.ad/Scato.serviciosWeb/ServicioWorkflows.svc?singleWsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflowsQa2" />
          <endpoint address="http://scato.molinosagro.com.ar/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflowsProd" />
          <endpoint address="http://scatoluc.molinos.com.ar/Scato.serviciosWeb/ServicioWorkflows.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="Molinos.Scato.Servicios.IServicioWorkflows" name="ServicioWorkflowsCont" />
        </client>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
            </providers>
        </roleManager>
    </system.web>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    </connectionStrings>
</configuration>