.margen{
    margin-left:80px;
    margin-right: 80px;
    font-size: 17px;
}
.botones{
    display: flex;
    align-items: center;
}
.maxWidthIMO{
    max-width: 45%;
}
.posicion{
    position: relative;
}
.botonX{
    position: relative;
    right: 9.5rem;
    top: 2.45rem;
    max-height: 2.2rem;
}

.btn-success{
    width: 156px;
}

.input-error {
    border: 1px solid red;
}