.multiselect-dropdown{
    background-color: #ffffff !important;
}
.titulo-historial-buque-letra{
    font-family: roboto;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: #1A1A1A;
}