<!-- Plano Content PlaceHolder -->
<div id="imprimirCargaLiquidos">
  <ng-container *ngIf="mostrarTableristaOperando">
    <app-periodo-carga [ModuloDeCarga_Id]="this.embarqueSelected.moduloDeCargaId"></app-periodo-carga>
  </ng-container>

  <div id="element-to-hide" data-html2canvas-ignore="true">
    <ship-spinner *ngIf='cargaPdf' [src]='"pdf"'></ship-spinner>
  </div>

  <div *ngIf="mostrarTableristaOperando" class="html2pdf__page-break"></div>
  <div id="grafico-liquidos" class="mt-4 shadow bg-white min-h5">
    <app-tanques (tanquesSeleccionados)="onTanquesSeleccionados($event)"></app-tanques>
  </div>

  <div class="row mt-4" id='lineas-embarque-print'>
    <div class="col">
      <div id="lineasEmbarque" class="shadow" style="background-color: white; min-height: 5rem;" *ngIf="tanquesSeleccionados">
        <div *ngIf="mostrarTableristaOperando" class="html2pdf__page-break"></div>
        <app-lineas [tanquesSeleccionados]="tanquesSeleccionados"></app-lineas>
      </div>
    </div>
  </div>

  <div data-html2canvas-ignore="true" class="d-flex justify-content-center my-5" *ngIf="!mostrarTableristaOperando">
  	<ng-container *ngIf="hasPermisoPlanoDeCarga_Cancelar()">
	    <button type="button" class="btn btn-danger" [routerLink]="['/lineup']">CANCELAR</button>
	  </ng-container>
    <ng-container *ngIf="hasPermisoPlanoDeCarga_Guardar()">
    	<button type="button" class="btn btn-primary mx-5" [disabled]="estaGuardando" (click)="guardar(false)">GUARDAR</button>
    </ng-container>
    <ng-container *ngIf="hasPermisoPlanoDeCarga_Imprimir()">
	    <img src="./assets/boton_imprimir.svg" (click)='imprimir()' style="cursor: pointer;"/>
    </ng-container>
    <ng-container *ngIf="hasPermisoPlanoDeCarga_Finalizar()">
    	<button type="button" class="btn btn-success mx-5" [disabled]="estaGuardando" (click)='guardar(true)'>ENVIAR A TABLERISTA</button>
	  </ng-container>
  </div>

  <!-- Rol Tablerista -->
  <!-- <ng-container *ngIf='embarqueSelected.nombreUbicacion.toLowerCase() == "muelle de carga"'> -->

  <ng-container *ngIf="mostrarTableristaOperando">
    <div class='shadow' id="planilla-embarque" style="background-color: white; min-height: 5rem;">
      <div *ngIf="mostrarTableristaOperando" class="html2pdf__page-break"></div>
      <app-planilla-embarque></app-planilla-embarque>
    </div>
    <div class='bg-white px-4 min-h5 shadow mt-4' id="turno-liquidos">
      <div *ngIf="mostrarTableristaOperando" class="html2pdf__page-break"></div>
      <app-planilla-turno-liquidos [tablerista]='true' (recargarGraficos)="recargarGraficoRitmos($event)"></app-planilla-turno-liquidos>
    </div>
    <div class='mt-5' style='margin-left: 25%; width: 50%;' id="grafico-ritmo">
      <div *ngIf="mostrarTableristaOperando" class="html2pdf__page-break"></div>
      <app-graficos-ritmos [liquido]='true'></app-graficos-ritmos>
    </div>
  </ng-container>

  <div data-html2canvas-ignore="true" class="d-flex justify-content-center my-5" *ngIf="mostrarTableristaOperando">
  	<ng-container *ngIf="hasPermisoPlanoDeCarga_Cancelar()">
    	<button name="botonesTableristaLiquidos" id="btn-cancelar-tablerista" type="button" class="btn btn-danger ocultar" [routerLink]="['/lineup']">CANCELAR</button>
    </ng-container>
    <ng-container *ngIf="hasPermisoPlanoDeCarga_Guardar()">
    	<button name="botonesTableristaLiquidos" id="btn-guardar-tablerista" type="button" class="btn btn-primary mx-5 ocultar" [disabled]="estaGuardando" (click)="guardar(false)">GUARDAR</button>
    </ng-container>
    <ng-container *ngIf="hasPermisoPlanoDeCarga_Imprimir()">
	    <img src="./assets/boton_imprimir.svg" (click)='imprimir()' style="cursor: pointer;" name="botonesTableristaLiquidos" id="btn-imprimir-tablerista"/>
	  </ng-container>
    <ng-container *ngIf="hasPermisoPlanoDeCarga_Finalizar()">
    	<button name="botonesTableristaLiquidos" id="btn-finalizar-tablerista" type="button" class="btn btn-success mx-5" [disabled]="estaGuardando" (click)='guardar(true)'>FINALIZAR</button>
	  </ng-container>
  </div>
</div>
