<div class="container-fluid mt-3">

    <!-- SECCIÓN: PERÍODO DE CARGA -->
    <app-amarre-nuevo [esLiquido]="false"></app-amarre-nuevo>

    <!-- SECCIÓN: TURNOS RECIBIDORES -->
    <app-turnos-recibidores></app-turnos-recibidores>

    <!-- SECCIÓN: FUMIGACIONES -->
    <app-fumigacion-bodega [ModuloDeCargaId]="moduloDeCargaId" [esSoloLectura]="false" [forzarNueveBodegas]="true">
    </app-fumigacion-bodega>
    <!-- SECCIÓN: DATOS DE RECIBOS -->
    <app-registro-recibos></app-registro-recibos>
</div>

<div data-html2canvas-ignore="true" class="d-flex justify-content-center my-5">
    <ng-container>
        <img src="./assets/boton_imprimir.svg" (click)="imprimir()" style="cursor: pointer;" />
    </ng-container>
    <ng-container>
        <button type="button" class="btn btn-success ml-5" (click)="enviarMailFinalizacion()">ENVIAR MAIL FIN</button>
        <button type="button" class="btn btn-success mx-5"
            (click)='openModalCargarAmarre()'>FINALIZAR</button>
    </ng-container>
</div>