<div class="mt-4 px-4 pb-4 shadow fechas-ritmo-fondo">
  <div class="row">
    <div class="col-md-12">
      <div id="content">
        <ul class="timeline">
          <li class="event" data-date="Eta recalada">
            <h3>{{ registroFechas.etaRecalada }}hs</h3>
          </li>
          <li class="event" data-date="Obligacion carga">
            <h3>{{ registroFechas.obligacionCarga }}</h3>
          </li>
          <li class="event" data-date="Amarre">
            <h3>{{ registroFechas.amarre }}hs</h3>
          </li>
          <li class="event" data-date="Habilitación">
            <h3>{{ registroFechas.habilitacion }}hs</h3>
          </li>
          <li *ngIf="tieneLimpieza" class="event" data-date="Limpieza">
            <h3>
              Desde: {{ registroFechas.limpiezaDesde }}hs <br>Hasta:
              {{ registroFechas.limpiezaHasta }}hs
            </h3>            
          </li>
          <li *ngIf="tieneLimpieza" class="motivoYObservacion" data-date="Motivo">
            <h3> {{ registroFechas.motivoLimpieza }}</h3>
          </li>
          <li *ngIf="tieneLimpieza" class="motivoYObservacion" data-date="Observación">
            <h3> {{ registroFechas.obsLimpieza }}</h3>
          </li>
          <li class="event" data-date="Comienza Carga">
            <h3>{{ registroFechas.cominezoCarga }}hs</h3>
          </li>
          <li class="event" data-date="Finalizacion Carga">
            <h3>{{ registroFechas.finalizacionCarga }}hs</h3>
          </li>
          <li class="event" data-date="Desamarre">
            <h3>{{ registroFechas.desamarre }}hs</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="hspuerto">
    <h3 class="">
      HS EN PUERTO: {{ horasPuerto | number: "0.0-0" }} HORAS
    </h3>
  </div>
</div>