<div style="display: flex; flex-direction: row; justify-content:space-between;" >
    <div class="mt-4 px-4 pb-4 shadow" style="background-color: white;">
        <app-amarre [ModuloDeCargaId]="this.ModuloDeCargaId" [esSoloLectura]="esSoloLectura"></app-amarre>
    </div>
    <div  class="mt-4 px-4 pb-4 shadow ml-4" style="background-color: white; display: flex; flex-direction: column; justify-content: space-between;">
        <!-- Title -->
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <h4 class='colorTitle pt-3'>UMAP</h4>
            <div>
	            <ng-container *ngIf="hasPermisoUmap_AgregarEncendido() && !esSoloLectura">
	                <div class='btn-add-container pt-btn-add' style="margin-top: 8px" (click)='addUmap()'>
	                    <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
	                    <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nuevo encendido</span>
	                </div>
	            </ng-container>
            </div>
        </div>            
        <!-- Body -->
        <div class='container mt-1 pr-1' [formGroup]="forms">
            <perfect-scrollbar>
                <div fxLayout='row wrap'  style="height:288px; max-height: 288px;" formArrayName="umap">
                    <form *ngFor="let item of forms.get('umap')['controls']; let i=index" [formGroupName]="i">
                        <div fxFlex='100'>
                            <div fxLayout='row' style="margin-top: 10px">
                                <div class="form-group" fxFlex='20'>
                                    {{i+1}} -
                                    <label>Encendido</label>
                                    <input type="date" max="3000-12-31" min="1000-01-01" class="form-control fecha" formControlName='fechaEncendido' />
                                </div>
                                <div class="form-group" fxFlex='12'>
                                    <label>&nbsp;</label>
                                    <div class="input_img">
                                        <input class="form-control hora" formControlName='horaEncendido' placeholder="00:00" [ngxTimepicker]="encendidoTime"
                                            [format]="24">
                                        <img src="assets/reloj.svg" class="imgClockInput1">
                                    </div>
                                    <ngx-material-timepicker #encendidoTime>
                                    </ngx-material-timepicker>
                                </div>

                                <div class="form-group" fxFlex='20'>
                                    <label>Apagado</label>
                                    <input type="date" max="3000-12-31" min="1000-01-01" class="form-control fecha" formControlName='fechaApagado'/>
                                </div>
                                <div class="form-group" fxFlex='12'>
                                    <label>&nbsp;</label>
                                    <div class="input_img">
                                        <input class="form-control hora" placeholder="00:00" [ngxTimepicker]="apagadoTime"
                                            [format]="24" formControlName='horaApagado'>
                                        <img src="assets/reloj.svg" class="imgClockInput1">
                                    </div>
                                    <ngx-material-timepicker #apagadoTime>
                                    </ngx-material-timepicker>
                                </div>

                                <div class="form-group pl-1" fxFlex='10'>
                                    <label>Viento</label>
                                    <input type="number" class="form-control" placeholder="Km/h" formControlName='velocidadDelViento'/>
                                </div>
                                <div class="form-group pl-1" fxFlex='15'>
                                    <label>Dirección</label>
                                    <select class="form-control" formControlName="direccionDelViento">
                                        <option value="null"></option>
                                        <option value="norte">Norte</option>
                                        <option value="sur">Sur</option>
                                        <option value="este">Este</option>
                                        <option value="oeste">Oeste</option>
                                        <option value="noroeste">Noroeste</option>
                                        <option value="suroeste">Suroeste</option>
                                        <option value="noreste">Noreste</option>
                                        <option value="sureste">Sureste</option>
                                    </select>
                                </div>
                                <div fxFlex='4' class='full-center'>
                                	<ng-container *ngIf="hasPermisoUmap_EliminarRegistro() && !esSoloLectura">
                                    	<img src='assets/trashIcon-no-border.svg' (click)='deleteHorario(i)' style="margin-top: 14px">
									</ng-container>
                                </div>
                            </div>
                        </div>
                    </form>
                    <i class='fas fa-angle-down float-down-arrow' *ngIf="forms.get('umap')['controls'].length > 2"></i>
                </div>
            </perfect-scrollbar>            
        </div>

        <!-- Footer -->
        <ng-container *ngIf="hasPermisoTableroSolido_Umap_Modificar()">
            <div style="margin: 0 auto">
                <button *ngIf="!esSoloLectura" type="button" class="btn btn-primary" [disabled]="this.guardando"  (click)="guardarUMAP()" >GUARDAR</button>
            </div>
        </ng-container>
    </div>
</div>
