.listadoAcciones{
    position:absolute;
    background-color: #fff;
    z-index:5;
    width:100%;
  }
  
.fullwidth{
    position: relative;
    margin-left: -29%;
    margin-right: -29%;
}

.fullheight{
    height:100%;
}

.cursorPointer {
  cursor: pointer;
}
