<div class="row">
  <!-- Inicio BALANZA 7 -->
  <div class="col">
    <div id="balanza7" class="mt-4 px-4 pb-4 shadow" style="background-color: white; min-height: 5rem;">
      <app-collapse-button collapseSelectorId="collapseBalanza7"></app-collapse-button>
      <h4 class="colorTitulo pt-4">Balanza 7</h4>
      
      <div id="collapseBalanza7" class="collapse show textoChico">
        
        <div class="row">
          <div class="col">
            <h6 class="colorSubTitulo">Start: {{ this.startBalanza7 }}</h6>
          </div>
          <div class="col">
            <button class='btn btn-outline-primary' (click)='openModalCorte(addCorteManual, true, 7)'>Corte Manual</button>
          </div>
        </div>
  
        <div class="alert alert-warning" role="alert" *ngIf="balanza7DiferenteNombre" >
          El nombre del buque no coincide con el registrado en balanzadas.
        </div>

        <table class="claseTable" id="excel-table7">

          <div fxLayout='row wrap' class="mt-4">
            <div fxFlex='100'>
              <div fxLayout='row wrap' class="tituloCentrado" >
                <tr class="claseTr" >
                  <th>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='16'>
                      <label>Inicio</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='16'>
                      <label>Corte</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='15'>
                      <label>Motivo</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='15'>
                      <label>Kg/Tn</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='15'>
                      <label>Producto</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='18'>
                      <label>Bodega</label>
                    </div>
                  </th>
                </tr>
              </div>
            </div>
          </div>

          <div class='max-5vh'>
            <perfect-scrollbar id="scrollbar7">
              <form [formGroup]="balanza7Form">
                <ng-container formArrayName="balanzas7" >
                  <ng-container *ngFor="let balanza of balanza7Form.get('balanzas7')['controls']; let i = index"
                                [formGroupName]="i" >
                    
                    <div fxLayout='row wrap' class="distancia-filas" >
                      <div fxFlex='100'>
                        <div fxLayout='row wrap'>
                          
                          <tbody>
                            <tr class="claseTr" >
                              <td class="claseTd" >
                                
                                <div class="form-group borde-div" fxFlex='16'>
                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="fecha_Inicio_InicialHTML" 
                                        [attr.disabled]="true"/>

                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="hora_Inicio_Inicial" 
                                        [attr.disabled]="true"/>
                                </div>

                                <div class="form-group borde-div" fxFlex='16'>
                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="fecha_Corte_InicialHTML" 
                                        [attr.disabled]="true"/>

                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="hora_Corte_Inicial" 
                                        [attr.disabled]="true"/>
                                </div>

                                <!-- COLUMNA MOTIVO -->
                                <!-- CARGA NORMAL -->
                                <div class="form-group" fxFlex='15' *ngIf="balanza.value.tn>999">
                                  <input type="text"
                                        class="inputLineasEmbarque" 
                                        formControlName="kg"
                                        [attr.disabled]="true">
                                </div>
                                <!-- BAJA CARGA O STOP -->
                                <div class="form-group borde-div al-medio" fxFlex='15' *ngIf="balanza.value.tn<1000">
                                  <label *ngIf="balanza.value.observaciones" 
                                        class="m-1"
                                        [ngClass]="{'stop': balanza.value.tn==0, 'bajaCarga': (balanza.value.tn>0 && balanza.value.tn<1000)}" > 
                                        {{ balanza.value.listadoTotalBalanzadas.motivosFallasBalanza.siglas }}
                                  </label>

                                  <!-- ICONO BAJA CARGA -->
                                  <svg id="Componente_170_1" 
                                      *ngIf="balanza.value.tn>0 && !balanza.value.observaciones"
                                      data-name="Componente 170 – 1" 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      width="28" 
                                      height="25" 
                                      viewBox="0 0 28 25"
                                      (click)='openModalCorte(addCorte7)' 
                                      class="m-1 icono"
                                      fill="#F0AD4E">
                                    <path id="Trazado_31" 
                                          data-name="Trazado 31" 
                                          d="M99.888,268.817a.254.254,0,0,0-.094.1l-12,20.832a.32.32,0,0,0,0,.327.27.27,0,0,0,.094.107.191.191,0,0,0,.116.03H112a.206.206,0,0,0,.116-.03.3.3,0,0,0,.1-.107.316.316,0,0,0,.042-.164.322.322,0,0,0-.047-.163l-12-20.832a.257.257,0,0,0-.1-.1.217.217,0,0,0-.111-.029A.221.221,0,0,0,99.888,268.817Zm1.826-.8a1.988,1.988,0,0,0-.724-.741,1.94,1.94,0,0,0-1.981,0,1.99,1.99,0,0,0-.724.741l-12,20.832A2.085,2.085,0,0,0,88,292H112a2.085,2.085,0,0,0,1.715-3.155Z" 
                                          transform="translate(-86 -267)" 
                                          fill-rule="evenodd"/>
                                    <path id="Trazado_32" 
                                          data-name="Trazado 32" 
                                          d="M98.3,286.584a1.843,1.843,0,0,1,.13-.68,1.8,1.8,0,0,1,.369-.578,1.7,1.7,0,0,1,.553-.385,1.631,1.631,0,0,1,1.3,0,1.7,1.7,0,0,1,.553.385,1.806,1.806,0,0,1,.369.578,1.84,1.84,0,0,1-.369,1.939,1.654,1.654,0,0,1-2.41,0A1.823,1.823,0,0,1,98.3,286.584Zm.167-10.684a1.679,1.679,0,0,1,.067-.666,1.639,1.639,0,0,1,.321-.58,1.532,1.532,0,0,1,.519-.393,1.476,1.476,0,0,1,1.255,0,1.54,1.54,0,0,1,.519.393,1.648,1.648,0,0,1,.32.58,1.668,1.668,0,0,1,.067.666l-.6,6.24a1,1,0,0,1-.3.64.911.911,0,0,1-1.273,0,1,1,0,0,1-.3-.64Z" 
                                          transform="translate(-86 -267)"/>
                                  </svg>
                                  <!-- ICONO STOP -->
                                  <svg id="noun_fumigation_1857140" 
                                      *ngIf="balanza.value.tn==0 && !balanza.value.observaciones"
                                      xmlns="http://www.w3.org/2000/svg" 
                                      width="27.983" 
                                      height="27.983" 
                                      viewBox="0 0 27.983 27.983"
                                      (click)='openModalCorte(addCorte7)' 
                                      class="m-1 icono"
                                      fill="#D9534F">
                                    <path id="Trazado_285" data-name="Trazado 285" d="M16.254,2.262A13.992,13.992,0,1,0,30.245,16.254,14.007,14.007,0,0,0,16.254,2.262Zm0,2.105a11.857,11.857,0,0,1,9.027,4.174L5.585,21.461A11.859,11.859,0,0,1,16.254,4.367Zm0,23.773a11.865,11.865,0,0,1-9.578-4.877l19.825-13A11.863,11.863,0,0,1,16.254,28.14Z" transform="translate(-2.262 -2.262)"/>
                                  </svg>

                                  <!-- NUEVO MODAL -->
                                  <!-- <i class="fas fa-angle-down" (click)='openModalCorte(addCorte7)'></i> -->
                                  <svg xmlns="http://www.w3.org/2000/svg" 
                                      *ngIf="balanza.value.tn>0"
                                      width="28" height="28" viewBox="0 0 28 28" 
                                      (click)='openModalCorte(addCorte7)' 
                                      class="m-1 icono"
                                      fill="#F0AD4E">
                                    <g id="Grupo_25" data-name="Grupo 25" transform="translate(-370 -224.594)">
                                    <path id="Trazado_75" 
                                          data-name="Trazado 75" 
                                          d="M353.649,321.713,336.761,338.6a1.06,1.06,0,0,0-.277.485l-1.45,5.583a1.065,1.065,0,0,0,1.3,1.3l5.583-1.45a1.06,1.06,0,0,0,.485-.277l16.887-16.887v0l3.4-3.4a1.065,1.065,0,0,0,0-1.506l-4.132-4.133a1.065,1.065,0,0,0-1.506,0l-3.4,3.4ZM341.1,342.528l-3.548.921.921-3.548,15.93-15.93,2.627,2.627Zm16.7-21.957,2.626,2.627-1.894,1.894-2.627-2.627Z" 
                                          transform="translate(35 -93.406)"/>
                                    </g>
                                  </svg>

                                  <svg xmlns="http://www.w3.org/2000/svg" 
                                      *ngIf="balanza.value.tn==0"
                                      width="28" height="28" viewBox="0 0 28 28" 
                                      (click)='openModalCorte(addCorte7)' 
                                      class="m-1 icono"
                                      fill="#D9534F">
                                    <g id="Grupo_25" data-name="Grupo 25" transform="translate(-370 -224.594)">
                                    <path id="Trazado_75" 
                                          data-name="Trazado 75" 
                                          d="M353.649,321.713,336.761,338.6a1.06,1.06,0,0,0-.277.485l-1.45,5.583a1.065,1.065,0,0,0,1.3,1.3l5.583-1.45a1.06,1.06,0,0,0,.485-.277l16.887-16.887v0l3.4-3.4a1.065,1.065,0,0,0,0-1.506l-4.132-4.133a1.065,1.065,0,0,0-1.506,0l-3.4,3.4ZM341.1,342.528l-3.548.921.921-3.548,15.93-15.93,2.627,2.627Zm16.7-21.957,2.626,2.627-1.894,1.894-2.627-2.627Z" 
                                          transform="translate(35 -93.406)"/>
                                    </g>
                                  </svg>

                                  <ng-template #addCorte7 let-modal>
                                    <div class="modal-header">
                                      <div class="col">
                                        <div class="row flex-between">
                                          <div class="col">
                                            <h4 class="modal-title" id="modal-basic-title"> Evento </h4>
                                          </div>
                                          <div class="col corte">
                                            <button class='btn btn-outline-primary' 
                                                    *ngIf="!balanza.value.corteManual"
                                                    (click)="generarCorte()">Nuevo evento</button>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col">
                                            <label>Inicio</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" 
                                                  formControlName="fecha_Inicio_Inicial"
                                                  [attr.disabled]="true"/>
                                          </div>
                                          <div class="col">
                                            <div class='input_img'>
                                              <input placeholder="00:00" [ngxTimepicker]='inicioTime2'
                                                  formControlName="hora_Inicio_Inicial"
                                                  [format]='24' class='form-control w-100'
                                                  [disableClick]="true" readonly>
                                              <img src='assets/reloj.svg' class='imgClockInput1'>
                                            </div>
                                            <ngx-material-timepicker #inicioTime2></ngx-material-timepicker>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col">
                                            <label>Corte</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" 
                                                  formControlName="fecha_Corte_Inicial"
                                                  [attr.disabled]="true"/>
                                          </div>
                                          <div class="col">
                                            <div class='input_img'>
                                              <input placeholder="00:00" [ngxTimepicker]='finTime2'
                                                  formControlName="hora_Corte_Inicial"
                                                  [format]='24' class='form-control w-100'
                                                  [disableClick]="true" readonly>
                                              <img src='assets/reloj.svg' class='imgClockInput1'>
                                            </div>
                                            <ngx-material-timepicker #finTime2></ngx-material-timepicker>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col">
                                            <label>Motivo</label>
                                            <ng-container formGroupName="listadoTotalBalanzadas">
                                              <select class="custom-select w-100"
                                                      formControlName="motivosFallasBalanza"
                                                      [compareWith]="compareMotivosBalanzas">
                                                <option value="" selected disabled>Selecciona un Motivo</option>
                                                <option *ngFor='let motivo of motivosBalanzas78' 
                                                        [ngValue]='motivo'> {{motivo.siglas}} - {{motivo.nombre}} </option>
                                              </select>
                                            </ng-container>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col">
                                            <label>Observaciones</label>
                                            <textarea rows='5' class="w-100" formControlName="observaciones"></textarea>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                    <div class='modal-body'>
                                      <div class="col">
                                        <div class="row" *ngIf="agregaCorte">
                                          <div class="col">
                                            <label>Motivo</label>
                                            <ng-container formGroupName="listadoTotalBalanzadas">
                                              <select class="custom-select w-100"
                                                      formControlName="motivosFallasBalanza_Nueva"
                                                      [compareWith]="compareMotivosBalanzas">
                                                <option value="" selected disabled>Selecciona un Motivo</option>
                                                <option *ngFor='let motivo of motivosBalanzas78' 
                                                        [ngValue]='motivo'> {{motivo.siglas}} - {{motivo.nombre}} </option>
                                              </select>
                                            </ng-container>
                                          </div>
                                        </div>

                                        <div class="row mt-3" *ngIf="agregaCorte">
                                          <div class="col">

                                            <div class="row">
                                              <div class="col">
                                                <label>Inicio</label>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha_Inicio_Nueva"/>
                                              </div>
                                              <div class="col">
                                                <div class='input_img'>
                                                  <input placeholder="00:00" [ngxTimepicker]='inicioTime'
                                                      formControlName="hora_Inicio_Nueva"
                                                      [format]='24' class='form-control w-100'>
                                                  <img src='assets/reloj.svg' class='imgClockInput1'>
                                                </div>
                                                <ngx-material-timepicker #inicioTime></ngx-material-timepicker>
                                              </div>
                                            </div>

                                            <div class="row mt-3">
                                              <div class="col">
                                                <label>Corte</label>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha_Corte_Nueva"/>
                                              </div>
                                              <div class="col">
                                                <div class='input_img'>
                                                  <input placeholder="00:00" [ngxTimepicker]='finTime'
                                                      formControlName="hora_Corte_Nueva"
                                                      [format]='24' class='form-control w-100'>
                                                  <img src='assets/reloj.svg' class='imgClockInput1'>
                                                </div>
                                                <ngx-material-timepicker #finTime></ngx-material-timepicker>
                                              </div>
                                            </div>

                                          </div>
                                        </div>

                                        <div class="row mt-3" *ngIf="agregaCorte">
                                          <div class="col">
                                            <label>Observaciones</label>
                                            <textarea rows='5' class="w-100" formControlName="observaciones_Nueva"></textarea>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col flex-between">
                                            <button class='btn btn-outline-danger' (click)='modal.dismiss(cerrarModal())'>Cancelar</button>
                                            <button class='btn btn-danger' 
                                                    (click)="eliminarCorteManual(i, balanza.value.numeroBalanza, addCorte7)"
                                                    *ngIf="balanza.value.corteManual">Eliminar Corte Manual</button>
                                            <!-- <button class='btn btn-primary' (click)='modal.close(guardarModal(i, balanza.value.numeroBalanza))'>Guardar</button> -->
                                            <button class='btn btn-primary' 
                                                    (click)='guardarModal(i, balanza.value.numeroBalanza, addCorte7)'>Guardar</button>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </ng-template>

                                </div>
                                <!-- Fin Toneladas -->

                                <div class="form-group borde-div" fxFlex='15'>
                                  <label class="mb-0 mt-1 ml-1">Kg: {{ balanza.value.kg }}</label>
                                  <br>
                                  <label class="mb-0 ml-1">Tn: {{ balanza.value.tn }}</label>
                                </div>

                                <div class="form-group" fxFlex='15'>
                                  <input type="text" 
                                        class="inputLineasEmbarque" 
                                        formControlName="material_nombre"
                                        [attr.disabled]="true"/>
                                </div>

                                <div class="form-group" fxFlex='18'>
                                  <input type="text" 
                                        class="inputLineasEmbarque" 
                                        formControlName="bodega_nombre"
                                        [attr.disabled]="true"/>
                                </div>
      
                              </td>
                            </tr>
                            
                          </tbody>

                        </div>
                      </div>
                      <!-- <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 6'></i> -->
                    </div>

                  </ng-container>
                </ng-container>
              </form>
            </perfect-scrollbar>
          </div>

        </table>

        <div class="row">
          <div class="col">
            <h6 class="colorSubTitulo">End: </h6>
          </div>
  
          <div class="col totales">
            <span class="tnTotales">Tn. Totales</span><br>
            <ul>
              <li *ngFor="let res7 of resultado7" > <span class="prodToneladas">{{ res7.material_nombre }}: {{ res7.tn | number }} Tn</span> </li>
            </ul>
          </div>
        </div>

      </div>


    </div>
  </div>
  <!-- Fin BALANZA 7 -->



  <!-- Inicio BALANZA 8 -->
  <div class="col">
    <div id="balanza8" class="mt-4 px-4 pb-4 shadow" style="background-color: white; min-height: 5rem;">
      <app-collapse-button collapseSelectorId="collapseBalanza8"></app-collapse-button>
      <h4 class="colorTitulo pt-4">Balanza 8</h4>
      
      <div id="collapseBalanza8" class="collapse show textoChico">
        
        <div class="row">
          <div class="col">
            <!-- <h6 class="colorSubTitulo">Start: {{ fechaHoraInicioCarga }}</h6> -->
            <h6 class="colorSubTitulo">Start: {{ this.startBalanza8 }}</h6>
          </div>
          <div class="col">
            <button class='btn btn-outline-primary' (click)='openModalCorte(addCorteManual, true, 8)'>Corte Manual</button>
          </div>
        </div>
  
        <div class="alert alert-warning" role="alert" *ngIf="balanza8DiferenteNombre" >
          El nombre del buque no coincide con el registrado en balanzadas.
        </div>

        <table class="claseTable" id="excel-table8">

          <div fxLayout='row wrap' class="mt-4">
            <div fxFlex='100'>
              <div fxLayout='row wrap' class="tituloCentrado" >
                <tr class="claseTr" >
                  <th>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='16'>
                      <label>Inicio</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='16'>
                      <label>Corte</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='15'>
                      <label>Motivo</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='15'>
                      <label>Kg/Tn</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='15'>
                      <label>Producto</label>
                    </div>
                    <div class="form-group div-active pl-2 borde-div" fxFlex='18'>
                      <label>Bodega</label>
                    </div>
                  </th>
                </tr>
              </div>
            </div>
          </div>

          <div class='max-5vh'>
            <perfect-scrollbar id="scrollbar8">
              <form [formGroup]="balanza8Form">
                <ng-container formArrayName="balanzas8" >
                  <ng-container *ngFor="let balanza of balanza8Form.get('balanzas8')['controls']; let i = index"
                                [formGroupName]="i" >
                    
                    <div fxLayout='row wrap' class="distancia-filas" >
                      <div fxFlex='100'>
                        <div fxLayout='row wrap'>
                          
                          <tbody>
                            <tr class="claseTr" >
                              <td class="claseTd" >
                                
                                <div class="form-group borde-div" fxFlex='16'>
                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="fecha_Inicio_InicialHTML" 
                                        [attr.disabled]="true"/>

                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="hora_Inicio_Inicial" 
                                        [attr.disabled]="true"/>
                                </div>

                                <div class="form-group borde-div" fxFlex='16'>
                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="fecha_Corte_InicialHTML" 
                                        [attr.disabled]="true"/>

                                  <input type="text" 
                                        class="fecha-inicio-corte-balanza"
                                        formControlName="hora_Corte_Inicial" 
                                        [attr.disabled]="true"/>
                                </div>

                                <!-- COLUMNA MOTIVO -->
                                <!-- CARGA NORMAL -->
                                <div class="form-group" fxFlex='15' *ngIf="balanza.value.tn>999">
                                  <input type="text"
                                        class="inputLineasEmbarque" 
                                        formControlName="kg"
                                        [attr.disabled]="true">
                                </div>
                                <!-- BAJA CARGA O STOP -->
                                <div class="form-group borde-div al-medio" fxFlex='15' *ngIf="balanza.value.tn<1000">
                                  <label *ngIf="balanza.value.observaciones" 
                                        class="m-1"
                                        [ngClass]="{'stop': balanza.value.tn==0, 'bajaCarga': (balanza.value.tn>0 && balanza.value.tn<1000)}" > 
                                        {{ balanza.value.listadoTotalBalanzadas.motivosFallasBalanza.siglas }}
                                  </label>

                                  <!-- ICONO BAJA CARGA -->
                                  <svg id="Componente_170_1" 
                                      *ngIf="balanza.value.tn>0 && !balanza.value.observaciones"
                                      data-name="Componente 170 – 1" 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      width="28" 
                                      height="25" 
                                      viewBox="0 0 28 25"
                                      (click)='openModalCorte(addCorte8)' 
                                      class="m-1 icono"
                                      fill="#F0AD4E">
                                    <path id="Trazado_31" 
                                          data-name="Trazado 31" 
                                          d="M99.888,268.817a.254.254,0,0,0-.094.1l-12,20.832a.32.32,0,0,0,0,.327.27.27,0,0,0,.094.107.191.191,0,0,0,.116.03H112a.206.206,0,0,0,.116-.03.3.3,0,0,0,.1-.107.316.316,0,0,0,.042-.164.322.322,0,0,0-.047-.163l-12-20.832a.257.257,0,0,0-.1-.1.217.217,0,0,0-.111-.029A.221.221,0,0,0,99.888,268.817Zm1.826-.8a1.988,1.988,0,0,0-.724-.741,1.94,1.94,0,0,0-1.981,0,1.99,1.99,0,0,0-.724.741l-12,20.832A2.085,2.085,0,0,0,88,292H112a2.085,2.085,0,0,0,1.715-3.155Z" 
                                          transform="translate(-86 -267)" 
                                          fill-rule="evenodd"/>
                                    <path id="Trazado_32" 
                                          data-name="Trazado 32" 
                                          d="M98.3,286.584a1.843,1.843,0,0,1,.13-.68,1.8,1.8,0,0,1,.369-.578,1.7,1.7,0,0,1,.553-.385,1.631,1.631,0,0,1,1.3,0,1.7,1.7,0,0,1,.553.385,1.806,1.806,0,0,1,.369.578,1.84,1.84,0,0,1-.369,1.939,1.654,1.654,0,0,1-2.41,0A1.823,1.823,0,0,1,98.3,286.584Zm.167-10.684a1.679,1.679,0,0,1,.067-.666,1.639,1.639,0,0,1,.321-.58,1.532,1.532,0,0,1,.519-.393,1.476,1.476,0,0,1,1.255,0,1.54,1.54,0,0,1,.519.393,1.648,1.648,0,0,1,.32.58,1.668,1.668,0,0,1,.067.666l-.6,6.24a1,1,0,0,1-.3.64.911.911,0,0,1-1.273,0,1,1,0,0,1-.3-.64Z" 
                                          transform="translate(-86 -267)"/>
                                  </svg>
                                  <!-- ICONO STOP -->
                                  <svg id="noun_fumigation_1857140" 
                                      *ngIf="balanza.value.tn==0 && !balanza.value.observaciones"
                                      xmlns="http://www.w3.org/2000/svg" 
                                      width="27.983" 
                                      height="27.983" 
                                      viewBox="0 0 27.983 27.983"
                                      (click)='openModalCorte(addCorte8)' 
                                      class="m-1 icono"
                                      fill="#D9534F">
                                    <path id="Trazado_285" data-name="Trazado 285" d="M16.254,2.262A13.992,13.992,0,1,0,30.245,16.254,14.007,14.007,0,0,0,16.254,2.262Zm0,2.105a11.857,11.857,0,0,1,9.027,4.174L5.585,21.461A11.859,11.859,0,0,1,16.254,4.367Zm0,23.773a11.865,11.865,0,0,1-9.578-4.877l19.825-13A11.863,11.863,0,0,1,16.254,28.14Z" transform="translate(-2.262 -2.262)"/>
                                  </svg>

                                  <!-- NUEVO MODAL -->
                                  <!-- <i class="fas fa-angle-down" (click)='openModalCorte(addCorte8)'></i> -->
                                  <svg xmlns="http://www.w3.org/2000/svg" 
                                      *ngIf="balanza.value.tn>0"
                                      width="28" height="28" viewBox="0 0 28 28" 
                                      (click)='openModalCorte(addCorte8)' 
                                      class="m-1 icono"
                                      fill="#F0AD4E">
                                    <g id="Grupo_25" data-name="Grupo 25" transform="translate(-370 -224.594)">
                                    <path id="Trazado_75" 
                                          data-name="Trazado 75" 
                                          d="M353.649,321.713,336.761,338.6a1.06,1.06,0,0,0-.277.485l-1.45,5.583a1.065,1.065,0,0,0,1.3,1.3l5.583-1.45a1.06,1.06,0,0,0,.485-.277l16.887-16.887v0l3.4-3.4a1.065,1.065,0,0,0,0-1.506l-4.132-4.133a1.065,1.065,0,0,0-1.506,0l-3.4,3.4ZM341.1,342.528l-3.548.921.921-3.548,15.93-15.93,2.627,2.627Zm16.7-21.957,2.626,2.627-1.894,1.894-2.627-2.627Z" 
                                          transform="translate(35 -93.406)"/>
                                    </g>
                                  </svg>

                                  <svg xmlns="http://www.w3.org/2000/svg" 
                                      *ngIf="balanza.value.tn==0"
                                      width="28" height="28" viewBox="0 0 28 28" 
                                      (click)='openModalCorte(addCorte8)' 
                                      class="m-1 icono"
                                      fill="#D9534F">
                                    <g id="Grupo_25" data-name="Grupo 25" transform="translate(-370 -224.594)">
                                    <path id="Trazado_75" 
                                          data-name="Trazado 75" 
                                          d="M353.649,321.713,336.761,338.6a1.06,1.06,0,0,0-.277.485l-1.45,5.583a1.065,1.065,0,0,0,1.3,1.3l5.583-1.45a1.06,1.06,0,0,0,.485-.277l16.887-16.887v0l3.4-3.4a1.065,1.065,0,0,0,0-1.506l-4.132-4.133a1.065,1.065,0,0,0-1.506,0l-3.4,3.4ZM341.1,342.528l-3.548.921.921-3.548,15.93-15.93,2.627,2.627Zm16.7-21.957,2.626,2.627-1.894,1.894-2.627-2.627Z" 
                                          transform="translate(35 -93.406)"/>
                                    </g>
                                  </svg>

                                  <ng-template #addCorte8 let-modal>
                                    <div class="modal-header">
                                      <div class="col">
                                        <div class="row flex-between">
                                          <div class="col">
                                            <h4 class="modal-title" id="modal-basic-title"> Evento </h4>
                                          </div>
                                          <div class="col corte">
                                            <button class='btn btn-outline-primary' 
                                                    *ngIf="!balanza.value.corteManual"
                                                    (click)="generarCorte()">Nuevo evento</button>
                                          </div>
                                        </div>

                                        <div class="row">
                                          <div class="col">
                                            <label>Inicio</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" 
                                                  formControlName="fecha_Inicio_Inicial"
                                                  [attr.disabled]="true"/>
                                          </div>
                                          <div class="col">
                                            <div class='input_img'>
                                              <input placeholder="00:00" [ngxTimepicker]='inicioTime2'
                                                  formControlName="hora_Inicio_Inicial"
                                                  [format]='24' class='form-control w-100'
                                                  [disableClick]="true" readonly>
                                              <img src='assets/reloj.svg' class='imgClockInput1'>
                                            </div>
                                            <ngx-material-timepicker #inicioTime2></ngx-material-timepicker>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col">
                                            <label>Corte</label>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col">
                                            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" 
                                                  formControlName="fecha_Corte_Inicial"
                                                  [attr.disabled]="true"/>
                                          </div>
                                          <div class="col">
                                            <div class='input_img'>
                                              <input placeholder="00:00" [ngxTimepicker]='finTime2'
                                                  formControlName="hora_Corte_Inicial"
                                                  [format]='24' class='form-control w-100'
                                                  [disableClick]="true" readonly>
                                              <img src='assets/reloj.svg' class='imgClockInput1'>
                                            </div>
                                            <ngx-material-timepicker #finTime2></ngx-material-timepicker>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col">
                                            <label>Motivo</label>
                                            <ng-container formGroupName="listadoTotalBalanzadas">
                                              <select class="custom-select w-100"
                                                      formControlName="motivosFallasBalanza"
                                                      [compareWith]="compareMotivosBalanzas">
                                                <option value="" selected disabled>Selecciona un Motivo</option>
                                                <option *ngFor='let motivo of motivosBalanzas78' 
                                                        [ngValue]='motivo'> {{motivo.siglas}} - {{motivo.nombre}} </option>
                                              </select>
                                            </ng-container>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col">
                                            <label>Observaciones</label>
                                            <textarea rows='5' class="w-100" formControlName="observaciones"></textarea>
                                          </div>
                                        </div>

                                      </div>
                                    </div>

                                    <div class='modal-body'>
                                      <div class="col">
                                        <div class="row" *ngIf="agregaCorte">
                                          <div class="col">
                                            <label>Motivo</label>
                                            <ng-container formGroupName="listadoTotalBalanzadas">
                                              <select class="custom-select w-100"
                                                      formControlName="motivosFallasBalanza_Nueva"
                                                      [compareWith]="compareMotivosBalanzas">
                                                <option value="" selected disabled>Selecciona un Motivo</option>
                                                <option *ngFor='let motivo of motivosBalanzas78' 
                                                        [ngValue]='motivo'> {{motivo.siglas}} - {{motivo.nombre}} </option>
                                              </select>
                                            </ng-container>
                                          </div>
                                        </div>

                                        <div class="row mt-3" *ngIf="agregaCorte">
                                          <div class="col">

                                            <div class="row">
                                              <div class="col">
                                                <label>Inicio</label>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha_Inicio_Nueva"/>
                                              </div>
                                              <div class="col">
                                                <div class='input_img'>
                                                  <input placeholder="00:00" [ngxTimepicker]='inicioTime'
                                                      formControlName="hora_Inicio_Nueva"
                                                      [format]='24' class='form-control w-100'>
                                                  <img src='assets/reloj.svg' class='imgClockInput1'>
                                                </div>
                                                <ngx-material-timepicker #inicioTime></ngx-material-timepicker>
                                              </div>
                                            </div>

                                            <div class="row mt-3">
                                              <div class="col">
                                                <label>Corte</label>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha_Corte_Nueva"/>
                                              </div>
                                              <div class="col">
                                                <div class='input_img'>
                                                  <input placeholder="00:00" [ngxTimepicker]='finTime'
                                                      formControlName="hora_Corte_Nueva"
                                                      [format]='24' class='form-control w-100'>
                                                  <img src='assets/reloj.svg' class='imgClockInput1'>
                                                </div>
                                                <ngx-material-timepicker #finTime></ngx-material-timepicker>
                                              </div>
                                            </div>

                                          </div>
                                        </div>

                                        <div class="row mt-3" *ngIf="agregaCorte">
                                          <div class="col">
                                            <label>Observaciones</label>
                                            <textarea rows='5' class="w-100" formControlName="observaciones_Nueva"></textarea>
                                          </div>
                                        </div>

                                        <div class="row mt-3">
                                          <div class="col flex-between">
                                            <button class='btn btn-outline-danger' (click)='modal.dismiss(cerrarModal())'>Cancelar</button>
                                            <button class='btn btn-danger' 
                                                    (click)="eliminarCorteManual(i, balanza.value.numeroBalanza, addCorte8)"
                                                    *ngIf="balanza.value.corteManual">Eliminar Corte Manual</button>
                                            <!-- <button class='btn btn-primary' (click)='modal.close(guardarModal(i, balanza.value.numeroBalanza))'>Guardar</button> -->
                                            <button class='btn btn-primary' 
                                                    (click)='guardarModal(i, balanza.value.numeroBalanza, addCorte8)'>Guardar</button>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </ng-template>

                                </div>
                                <!-- Fin Toneladas -->

                                <div class="form-group borde-div" fxFlex='15'>
                                  <label class="mb-0 mt-1 ml-1">Kg: {{ balanza.value.kg }}</label>
                                  <br>
                                  <label class="mb-0 ml-1">Tn: {{ balanza.value.tn }}</label>
                                </div>

                                <div class="form-group" fxFlex='15'>
                                  <input type="text" 
                                        class="inputLineasEmbarque" 
                                        formControlName="material_nombre"
                                        [attr.disabled]="true"/>
                                </div>

                                <div class="form-group" fxFlex='18'>
                                  <input type="text" 
                                        class="inputLineasEmbarque" 
                                        formControlName="bodega_nombre"
                                        [attr.disabled]="true"/>
                                </div>
      
                              </td>
                            </tr>
                            
                          </tbody>

                        </div>
                      </div>
                      <!-- <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 6'></i> -->
                    </div>

                  </ng-container>
                </ng-container>
              </form>
            </perfect-scrollbar>
          </div>

        </table>

        <div class="row">
          <div class="col">
            <h6 class="colorSubTitulo">End: </h6>
          </div>
  
          <div class="col totales">
            <span class="tnTotales">Tn. Totales</span> <br>
            <ul>
              <li *ngFor="let res8 of resultado8" > <span class="prodToneladas">{{ res8.material_nombre }}: {{ res8.tn | number }} Tn</span> </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- Fin BALANZA 8 -->
</div>

<div class="col text-center">
  <button class=" btn btn-primary m-4" (click)='terminarCargaExportar()'>TERMINAR CARGA Y EXPORTAR PLANILLAS</button>
</div>

<ng-template #addCorteManual let-modal>
  <form [formGroup]="corteManualForm">
    <div class="modal-header">
      <div class="col">
        <div class="row flex-between">
          <h4 class="modal-title" id="modal-basic-title">Corte manual</h4>
        </div>

        <div class="row">
          <div class="col">
            <label>Inicio</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha_Inicio_Inicial"/>
          </div>
          <div class="col">
            <div class='input_img'>
              <input placeholder="00:00" [ngxTimepicker]='inicioTime2'
                  formControlName="hora_Inicio_Inicial"
                  [format]='24' class='form-control w-100'>
              <img src='assets/reloj.svg' class='imgClockInput1'>
            </div>
            <ngx-material-timepicker #inicioTime2></ngx-material-timepicker>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label>Corte</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="date" max="3000-12-31" min="1000-01-01" class="form-control" formControlName="fecha_Corte_Inicial"/>
          </div>
          <div class="col">
            <div class='input_img'>
              <input placeholder="00:00" [ngxTimepicker]='finTime2'
                  formControlName="hora_Corte_Inicial"
                  [format]='24' class='form-control w-100'>
              <img src='assets/reloj.svg' class='imgClockInput1'>
            </div>
            <ngx-material-timepicker #finTime2></ngx-material-timepicker>
          </div>
        </div>

      </div>
    </div>

    <div class='modal-body'>
      <div class="col">

        <ng-container formGroupName="listadoTotalBalanzadas">
          <div class="row">
            <div class="col">
              <label>Producto</label>
                <select class="custom-select w-100"
                        formControlName="materialCorteManual"
                        [compareWith]="compareMotivosBalanzas">
                  <option value="" selected disabled>Selecciona un Producto</option>
                  <option *ngFor='let material of materialesPuerto' 
                          [ngValue]='material'> {{material.descripcionCorta}} </option>
                </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label>Bodega</label>
                <select class="custom-select w-100"
                        formControlName="bodegaCorteManual"
                        [compareWith]="compareMotivosBalanzas">
                  <option value="" selected disabled>Selecciona una Bodega</option>
                  <option *ngFor='let bodega of bodegas' 
                          [ngValue]='bodega'> {{bodega.nombre}} </option>
                </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label>Motivo</label>
              <select class="custom-select w-100"
                      formControlName="motivosFallasBalanza"
                      [compareWith]="compareMotivosBalanzas">
                <option value="" selected disabled>Selecciona un Motivo</option>
                <option *ngFor='let motivo of motivosBalanzas78' 
                        [ngValue]='motivo'> {{motivo.siglas}} - {{motivo.nombre}} </option>
              </select>
            </div>
          </div>
        </ng-container>

        <div class="row mt-3">
          <div class="col">
            <label>Observaciones</label>
            <textarea rows='5' class="w-100" formControlName="observaciones"></textarea>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col flex-between">
            <button class='btn btn-outline-danger' (click)='modal.dismiss(cerrarModal())'>Cancelar</button>
            <button class='btn btn-primary' (click)='guardarModalCorteManual( balanzaCorteManual, addCorteManual )'>Guardar</button>
          </div>
        </div>

      </div>
    </div>
  </form>
</ng-template>