<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
    <app-collapse-button collapseSelectorId="collapseRegistroRecibos"></app-collapse-button>

    <h4 class="info-header colorTitle pt-4">Recibos</h4>
    <h6 class="colorTitle">Nombre Buque</h6>
    <div fxLayout='row wrap' class='info-desc'>

        <table class="table table-bordered">
          <thead>
            <tr class="table-active">
              <th> N° de recibo </th>
              <th> Exportador </th>
              <th> Cant. en letras y clase de carga </th>
              <th> Producto </th>
              <th> Destino </th>
              <th>Ult. Actualización</th>
              <th> Estado </th>
              <th> Usuario </th>
              <th> Acción </th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let bodegas of bodegasProductosTn"> -->
            <tr>

              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
              <td> hola </td>
            </tr>
          </tbody>
        </table>
            
      </div>

</div>
