<ship-spinner [message]="mensajeCarga" *ngIf='cargando'></ship-spinner>

<div class="modal-content">
    <div class="modal-header" *ngIf="!ver">
        <h5 class="modal-title" id="exampleModalLabel">{{titleCaratula}}</h5>
        <button (click)="closeModalEditarCrearCaratula()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="crearEditarCaratulaForm">
        <div class="modal-body">
            <!-- <div *ngIf="!puedeCrearBuque">
                    <div class="alert alert-danger" role="alert">
                    {{mensaje}}
                    </div>
                </div> -->
            <div class="row margen font-weight-bold">
                <div class="col">
                    <ng-container *ngIf="ver; then vistaCoem else vistaModal"></ng-container>
                    <ng-template #vistaCoem>Identificador de Caratula: {{identificadorCaratula}}</ng-template>
                    <ng-template #vistaModal>User Details</ng-template>
                </div>
            </div>
            <div class="row margen ">
                <div class="col-md-4 pt-4 col-sm-12">
                    <label class="">IMO</label>
                    <input type="text" class="form-control" placeholder="Ingrese IMO" formControlName="identificadorBuque" [ngClass]="{'input-error': submitted && f.identificadorBuque.invalid}" maxLength="7" minlength="7" required />
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Buque</label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre del buque" formControlName="nombreMedioTransporte" [ngClass]="{'input-error': submitted && f.nombreMedioTransporte.invalid}" required />
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label>Numero de viaje</label>
                    <input type="text" maxlength="16" class="form-control" placeholder="Ingrese el numero de viaje" formControlName="numeroViaje" [ngClass]="{'input-error': submitted && f.numeroViaje.invalid}">
                </div>
            </div>
            <div class="row margen">
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Puerto</label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre del puerto" formControlName="puertoDestino" [matAutocomplete]="listaPuertos" [ngClass]="{'input-error': submitted && f.puertoDestino.invalid}" required />
                    <mat-autocomplete autoActiveFirstOption #listaPuertos="matAutocomplete" class="test-class" [classList]="'test-class'" [displayWith]="getNombre">
                        <mat-option *ngFor="let puerto of puertos$ | async" [value]="puerto">
                            ({{puerto.codigo}}) {{puerto.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Aduana</label>
                    <input type="text" class="form-control" placeholder="Ingrese el código de aduana" formControlName="codigoAduana" [matAutocomplete]="listaAduanas" [ngClass]="{'input-error': submitted && f.codigoAduana.invalid}" required />
                    <mat-autocomplete autoActiveFirstOption #listaAduanas="matAutocomplete" class="test-class" [classList]="'test-class'" [displayWith]="getNombre">
                        <mat-option *ngFor="let aduana of aduanas$ | async" [value]="aduana">
                            ({{aduana.codigo}}) {{aduana.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Lugar Operativo</label>
                    <input type="text" class="form-control" placeholder="Ingrese el código de lugar operativo" formControlName="codigoLugarOperativo" [matAutocomplete]="listaLugaresOperativos" [ngClass]="{'input-error': submitted && f.codigoLugarOperativo.invalid}" required />
                    <mat-autocomplete autoActiveFirstOption #listaLugaresOperativos="matAutocomplete" class="test-class" [classList]="'test-class'" [displayWith]="getNombre">
                        <mat-option *ngFor="let lugarOperativo of lugaresOperativos$ | async" [value]="lugarOperativo">
                            ({{lugarOperativo.codigo}}) {{lugarOperativo.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="row margen">
                <div class="col-md-6 col-sm-12 pt-4">
                    <label class="">Fecha de Arribo</label>
                    <input type="datetime-local" [value]="crearEditarCaratulaForm.get('fechaArribo').value | date:'yyyy-MM-ddTHH:mm:ss'" class="form-control" placeholder="Ingrese la fecha de arribo" formControlName="fechaArribo" [ngClass]="{'input-error': submitted && f.fechaArribo.invalid}" required />
                </div>
                <div class="col-md-6 col-sm-12 pt-4">
                    <label class="">Fecha de Zarpado</label>
                    <input type="datetime-local" [value]="crearEditarCaratulaForm.get('fechaZarpada').value | date:'yyyy-MM-ddTHH:mm:ss'" class="form-control" placeholder="Ingrese la fecha de zarpado" formControlName="fechaZarpada" [ngClass]="{'input-error': submitted && f.fechaZarpada.invalid}" [min]="crearEditarCaratulaForm.get('fechaArribo').value" required />
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer justify-content-center" *ngIf="!ver">
        <button type="button" class="btn btn-success" data-dismiss="modal"
            (click)="onCrearEditarCaratula()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="closeModalEditarCrearCaratula()">Cancelar</button>
    </div>
</div>
