<ship-spinner [message]="mensajeCarga" *ngIf='cargando'></ship-spinner>

<div class="modal-content">
    <div class="modal-header" *ngIf="!ver">
        <h5 class="modal-title" id="exampleModalLabel">{{titleCaratula}}</h5>
        <button (click)="closeModalEditarCrearCaratula()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="crearEditarCaratulaForm">
        <div class="modal-body">
            <div class="row margen font-weight-bold">
                <div class="col">
                    <ng-container *ngIf="ver; then vistaCoem else vistaModal"></ng-container>
                    <ng-template #vistaCoem>Identificador de Caratula: {{identificadorCaratula}}</ng-template>
                    <ng-template #vistaModal>User Details</ng-template>
                </div>
            </div>
            <div class="row margen ">
                <div class="col-md-4 pt-4 col-sm-12">
                    <label class="">IMO</label>
                    <input type="text" class="form-control" placeholder="Ingrese IMO" formControlName="identificadorBuque" maxLength="7" minlength="7" required />
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Buque</label>
                    <input type="text" class="form-control" placeholder="Ingrese nombre del buque" formControlName="nombreMedioTransporte" required />
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Aduana</label>
                    <input type="text" class="form-control" placeholder="Ingrese el código de aduana" formControlName="codigoAduana" [matAutocomplete]="listaAduanas" required />
                    <mat-autocomplete autoActiveFirstOption #listaAduanas="matAutocomplete" class="test-class" [classList]="'test-class'" [displayWith]="getNombre">
                        <mat-option *ngFor="let aduana of aduanas$ | async" [value]="aduana">
                            ({{aduana.codigo}}) {{aduana.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            <div class="row margen">
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Lugar Operativo</label>
                    <input type="text" class="form-control" placeholder="Ingrese el código de lugar operativo" formControlName="codigoLugarOperativo" [matAutocomplete]="listaLugaresOperativos" required />
                    <mat-autocomplete autoActiveFirstOption #listaLugaresOperativos="matAutocomplete" class="test-class" [classList]="'test-class'" [displayWith]="getNombre">
                        <mat-option *ngFor="let lugarOperativo of lugaresOperativos$ | async" [value]="lugarOperativo">
                            ({{lugarOperativo.codigo}}) {{lugarOperativo.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Fecha estimada de Arribo</label>
                    <input type="datetime-local" class="form-control" placeholder="Ingrese la fecha de arribo" formControlName="fechaArribo" [min]="fechaMin" [max]="fechaMax" required />
                    <small class="text-danger" *ngIf="crearEditarCaratulaForm.get('fechaArribo').errors?.fechaInvalida">
                      La fecha de arribo debe ser entre 5 y 96hs posteriores
                    </small>
                </div>
                <div class="col-md-4 col-sm-12 pt-4">
                    <label class="">Fecha estimada de Zarpado</label>
                    <input type="datetime-local" class="form-control" placeholder="Ingrese la fecha de zarpado" formControlName="fechaZarpada" [min]="crearEditarCaratulaForm.get('fechaArribo').value" required />
                    <small class="text-danger" *ngIf="crearEditarCaratulaForm.get('fechaZarpada').errors?.fechaInvalida">
                      La fecha de zarpada no puede ser menor a la de arribo
                    </small>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer justify-content-center" *ngIf="!ver">
        <button type="button" class="btn btn-success" data-dismiss="modal"
            (click)="onCrearEditarCaratula()">Guardar</button>
        <button type="button" class="btn btn-danger" (click)="closeModalEditarCrearCaratula()">Cancelar</button>
    </div>
</div>
