

    
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{titleCaratula}}</h5>
          <button (click)="closeModalEditarCrearCaratula()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="crearEditarCaratulaForm">
            <div class="modal-body">
                <!-- <div *ngIf="!puedeCrearBuque">
                    <div class="alert alert-danger" role="alert">
                    {{mensaje}}
                    </div>
                </div> -->
                <div class="row margen font-weight-bold">
                    <div class="col pt-4">
                        User Details
                    </div>
                </div>
                <div class="row margen ">
                    <div class="col-md-4 pt-4 col-sm-12">
                        <label class="">IMO</label>
                        <input type="text" class="form-control" placeholder="Ingrese IMO" formControlName="imoCaratula"  [ngClass]="{'input-error': submitted && f.imoCaratula.invalid}" maxLength="7" required/>
                    </div>
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Buque</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre del buque" formControlName="buqueCaratula" [ngClass]="{'input-error': submitted && f.buqueCaratula.invalid}" required/>
                    </div>
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Puerto</label>
                        <input type="text" class="form-control" placeholder="Ingrese nombre del puerto" formControlName="puertoDestinoCaratula" />
                    </div>
                    
                </div>
                <div class="row margen">
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Código de Aduana</label>
                        <input type="text" class="form-control" placeholder="Ingrese el código de aduana" formControlName="codigoAduana" [ngClass]="{'input-error': submitted && f.codigoAduana.invalid}" required/>
                    </div>
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Código de Lugar Operativo</label>
                        <input type="text" class="form-control" placeholder="Ingrese el código de lugar operativo" formControlName="codigoLugarOperativo" [ngClass]="{'input-error': submitted && f.codigoLugarOperativo.invalid}" required/>
                    </div>
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Nombre del Medio de Transporte</label>
                        <input type="text" class="form-control" placeholder="Ingrese el nombre del medio de transporte" formControlName="nombreMedioTransporte" [ngClass]="{'input-error': submitted && f.nombreMedioTransporte.invalid}" required/>
                    </div>
                </div>
                <div class="row margen">
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Código de Vía</label>
                        <input type="text" class="form-control" maxlength="1" placeholder="Ingrese el código de vía" formControlName="codigoVia" [ngClass]="{'input-error': submitted && f.codigoVia.invalid}" required/>
                    </div>
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Fecha de Arribo</label>
                        <input type="datetime-local" class="form-control" placeholder="Ingrese la fecha de arribo" formControlName="fechaArriboCaratula" [ngClass]="{'input-error': submitted && f.fechaArriboCaratula.invalid}" required/>
                    </div>
                    <div class="col-md-4 col-sm-12 pt-4">
                        <label class="">Fecha de Zarpado</label>
                        <input type="datetime-local" class="form-control" placeholder="Ingrese la fecha de zarpado" formControlName="fechaZarpadaCaratula"  [ngClass]="{'input-error': submitted && f.fechaZarpadaCaratula.invalid}" required/>
                    </div>
                </div>
        
            </div>
        </form>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="onCrearCaratula()">Guardar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </div>