<div class="card" style="width: 18rem;border: 0;">
    <div class="container">
        <div class="row">
            <img src="{{fotoEmbarque}}" border="0" alt="Sin foto disponible" height="200px" width="290px">
        </div>
        <br>
        <div class="row">
            <h6 class="card-text"><b>{{nombreBuque}}</b></h6>
            <hr>
        </div>
        <div class="row">
            <span class="card-text"><b>IMO: </b>{{imo}}</span>
        </div>
        <div class="row">
            <span class="card-text"><b>Bandera: </b>{{bandera}}</span>
        </div>
        <div class="row">
            <span class="card-text"><b>Tipo Buque: </b>{{tipoBuque}}</span>
        </div>
        <div class="row">
          <span class="card-text"><b>Porte Bruto: </b>{{porteBruto}}</span>
      </div>

        <div class="row">
            <span class="card-text"><b>Porte Neto(TNR): </b>{{porteNeto}}</span>
        </div>
        <div class="row">
            <span class="card-text"><b>Eslora x manga: </b>{{eslora}}</span>
        </div>
        <div class="row">
            <span class="card-text"><b>Puntal: </b>{{puntal}}</span>
        </div>
        <div class="row">
            <span class="card-text"><b>Freeboard: </b>{{freeboard}}</span>
        </div>
        <div class="row">
            <span class="card-text"><b>Cantidad de bodegas/tanques: </b>{{cantidadBodegas}}</span>
        </div>
    </div>
</div>
