<div class="card" style="width: 18rem;border: 0;">
    <div class="container">

        <div class="row">
            <img src="../../../../assets/fotos/foto_buque002.jpg" border="0" alt="Sin foto disponible" height="200px" width="290px">
        </div>
        <br>
        <div class="row">
            <h6 class="card-text"><b>{{nombreBuque}}</b></h6>
            <hr>
        </div>
        <div class="row">
            <span class="card-text"><b>IMO:</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Bandera:</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Tipo Buque:</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Porte Neto(TNR):</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Eslora x manga:</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Puntal:</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Freeboard:</b></span>
        </div>
        <div class="row">
            <span class="card-text"><b>Cantidad de bodegas/tanques:</b></span>
        </div>
    </div>
  </div>