<div class="card" style="width: 18rem;border: 0;">
    <div class="container">
        <div class="row">
            <div class="col">
              <h5 class="card-text">{{nombreBuque}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <sub class="card-text">{{tipoBuque}}</sub>
            </div>
        </div>
        <p></p>
        <div class="row">
          <div class="col">
              <span>{{puertoActual}}</span>
          </div>
          <div class="col">
            <span>{{puertoDestino}}</span>
          </div>
        </div>
        <div class="row">
            <div class="col car-body-popup-text">
                <b>ATA: </b><span>{{ATA}}</span>
            </div>
            <div class="col car-body-popup-text">
                <b>ETA: </b><span>{{ETA}}</span>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col">
                {{latitud}} / {{longitud}}
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm car-body-popup-text">
                <b>Status: </b>
                <span>{{estado}}</span>
            </div>
            <div class="col-sm car-body-popup-text">
                <b>Speed/Course: </b>
                <span>{{velocidadCurso}}</span>
            </div>
            <div class="col-sm car-body-popup-text">
                <b>Profundidad: </b>
                <span>{{cargaBuque}}</span>
            </div>
        </div>
    </div>
  </div>