<div class="mt-4 p-4 shadow bg-white" [formGroup]="formFumigacion">
  <!-- Fumigación Preventiva -->
  <div class="row align-items-center">
    <div class="col-2 font-weight-bold">
      Fumigación Preventiva
    </div>
    <div class="col-2">
      <label>
        <input type="radio" name="fumigacionPreventiva" value="no"
          [checked]="!fumigacionBodegas?.tieneFumigacionPreventiva" (change)="onFumigacionPreventivaChange('no')" /> NO
      </label>
      <label class="ml-3">
        <input type="radio" name="fumigacionPreventiva" value="si"
          [checked]="fumigacionBodegas?.tieneFumigacionPreventiva" (change)="onFumigacionPreventivaChange('si')" /> SI
      </label>
    </div>
    <div class="col-8" formArrayName="bodegas">
      <!--<ng-container *ngFor="let bodega of getBodegas().controls; let i = index">
          <label class="mr-3">
            <input 
              type="checkbox" 
              [formControl]="bodega.get('fumPreventiva')" 
              [name]="bodega.get('bodegaParcel')?.value" 
            /> Bodega {{ bodega.get('bodegaParcel')?.value }}
          </label>
        </ng-container>-->
      <ng-container *ngFor="let bodega of getBodegas().controls; let i = index">
        <div [formGroupName]="i" class="d-inline-block mr-3">
          <label>
            <input type="checkbox" formControlName="fumPreventiva" />
            Bodega {{ bodega.get('bodegaParcel')?.value }}
          </label>
        </div>
      </ng-container>

    </div>
  </div>

  <!-- Fumigación Curativa -->
  <hr>
  <div class="row align-items-center">
    <div class="col-2 font-weight-bold">
      Fumigación Curativa
    </div>
    <div class="col-2">
      <label>
        <input type="radio" name="fumigacionCurativa" value="no" [checked]="!fumigacionBodegas?.tieneFumigacionCurativa"
          (change)="onFumigacionCurativaChange('no')" /> NO
      </label>
      <label class="ml-3">
        <input type="radio" name="fumigacionCurativa" value="si" [checked]="fumigacionBodegas?.tieneFumigacionCurativa"
          (change)="onFumigacionCurativaChange('si')" /> SI
      </label>
    </div>
    <div class="col-8" formArrayName="bodegas">
      <!--<ng-container *ngFor="let bodega of getBodegas().controls; let i = index">
        <label class="mr-3">
          <input type="checkbox" [formControl]="bodega.get('fumCurativa')" [name]="bodega.get('bodegaParcel')?.value" />
          Bodega {{ bodega.get('bodegaParcel')?.value }}
        </label>
      </ng-container>-->
      <ng-container *ngFor="let bodega of getBodegas().controls; let i = index">
        <div [formGroupName]="i" class="d-inline-block mr-3">
          <label>
            <input type="checkbox" formControlName="fumCurativa" />
            Bodega {{ bodega.get('bodegaParcel')?.value }}
          </label>
        </div>
      </ng-container>

    </div>
  </div>
  <div class="row align-items-center mt-4" *ngIf="!esSoloLectura">
    <div class="col text-center">
      <button class="btn btn-primary" type="button" (click)="onGuardar()">GUARDAR</button>
    </div>
  </div>
</div>