<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
  <app-collapse-button collapseSelectorId="collapseLineasEmbarque"></app-collapse-button>
  <h4 class="colorTitle pt-4">Conformación de líneas de embarque</h4>
  <div id="collapseLineasEmbarque" class="collapse show">
    <div *ngIf="!esCalidad" fxLayout='row wrap' class="mt-3">
      <div fxFlex='100'>
        <div class='btn-add-container pt-btn-add' (click)="onAgregarLineasEmbarque()" id="btn-add-container-lineas">
          <ng-container *ngIf="hasPermisoLiquido_ConformacionLineasEmb_Editar()">
            <button type='button' class='btn btn-primary bt-circle ocultarPdf' style='margin-top: -5px; '>+</button>
            <span class='txt-primary pl-10 mt-5 txt-action ocultarPdf'>Agregar nueva fila</span>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="container-fluid mt-4">
      <div class="table-responsive-lineas">
        <form id="lineasDeEmbaque" [formGroup]="lineasDeEmbarqueForm" *ngIf="lineasDeEmbarqueForm">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="3" class="first-header"></th>
                <th colspan="6" class="main-header">INICIAL</th>
                <th colspan="6" class="main-header">FINAL</th>
                <th colspan="2" class="main-header"></th>
              </tr>
              <tr class="table-header">
                <th>Línea</th>
                <th>Producto</th>
                <th>Tk </th>
                <th>°C</th>
                <th>Altura (cm, mm)</th>
                <th>Densidad</th>
                <th>M3</th>
                <th>TN</th>
                <th>Fecha Inicio</th>
                <th>°C</th>
                <th>Altura (cm, mm)</th>
                <th>Densidad</th>
                <th>M3</th>
                <th>TN</th>
                <th>Fecha Fin</th>
                <th>Salida Tk</th>
                <th></th>
              </tr>
            </thead>
            <tbody formArrayName="lineasEmbarque">
              <tr *ngFor="let lineasE of lineasDeEmbarqueForm['controls']['lineasEmbarque']['controls']; let i = index"
                [formGroupName]="i">
                <td>
                  <select class="custom-select sesleccionable" formControlName="tipoLineaEmbarque"
                    (change)="onLineaSeleccionada(lineasE)" [compareWith]='compareLineaEmbarque'>
                    <option *ngFor="let tipo of tipoLineaEmbarque" [ngValue]="tipo"> {{ tipo.linea }} </option>
                  </select>
                </td>
                <td>
                  <select class="custom-select" (change)="onFocusOutEvent(i)" formControlName="materialPuerto"
                    [compareWith]="compareLineas">
                    <option value="" selected></option>
                    <option *ngFor="let p of materialesPuerto" [ngValue]="p"> {{ p.descripcionCorta }} </option>
                  </select>
                </td>
                <td>
                  <select class="custom-select" formControlName="tkInicial" #tanqueSelect [ngClass]='setClase(i)'
                    [compareWith]='compareTanque'>
                    <option *ngFor="let t of tanquesOption" [ngValue]="t" [ngClass]="t.color">
                      {{ t.value }}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="text" class="form-control" (focusout)="onFocusOutEvent(i)"
                    formControlName="temperaturaInicial" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="alturaInicialCMyMM"
                    (keypress)="validateMedicion($event, lineasE, true)" placeholder="CM,MM"
                    (focusout)="onCalculaLitros(lineasE, true)" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="densidadInicial" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="litros" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="kilos" />
                </td>
                <td class="td-fecha">
                  <input type="datetime-local" class="form-control" formControlName="fechaInicio" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="temperaturaFinal" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName='alturaFinalCMyMM'
                    (keypress)="validateMedicion($event, lineasE, false)"
                    (focusout)="onCalculaLitros(lineasE, false)" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="densidadFinal" />
                </td>
                <td>
                  <input type="text" disabled class="form-control" formControlName="litrosFinales" />
                </td>
                <td>
                  <input type="text" class="form-control" disabled formControlName="kilosFinales" />
                </td>
                <td class="td-fecha">
                  <input type="datetime-local" class="form-control" formControlName="fechaFin" />
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="tkFinal" />
                </td>
                <td class="text-center">
                  <div *ngIf="!esCalidad && hasPermisoLiquido_ConformacionLineasEmb_Eliminar()" class='ocultarPdf'>
                    <img id="btn-eliminar-lineas" src="assets/trashIcon.svg" class="delete-btn"
                      (click)="onEliminarLineasEmbarque(i)">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <br />
    <div *ngIf="!esCalidad" class="text-center">
      <ng-container *ngIf="hasPermisoLiquido_ConformacionLineasEmb_Editar()">
        <button id="guardar-conformacion-lineas-embarque" type="button" class="btn btn-primary" (click)="onGuardar()"
          [disabled]="!esGuardadoActivo">GUARDAR</button>
      </ng-container>
    </div>
  </div>
</div>