<div class="mt-4 px-4 pb-4" style='background-color: white !important;'>
  <app-collapse-button collapseSelectorId="collapseLineasEmbarque"></app-collapse-button>
  <h4 class="colorTitle pt-4">Conformación de líneas de embarque</h4>
  <div id="collapseLineasEmbarque" class="collapse show">
    <div fxLayout='row wrap' class="mt-3">
      <div fxFlex='100'>
        <div class='btn-add-container pt-btn-add' (click)="agregarLineasEmbarque()" >
          <button type='button' class='btn btn-primary bt-circle' style='margin-top: -5px;'>+</button>
          <span class='txt-primary pl-10 mt-5 txt-action'>Agregar nueva fila</span>
        </div>
      </div>
    </div>

    <table class="claseTable">
      <div fxLayout='row wrap' class="mt-4">
        <div fxFlex='100'>
          <div fxLayout='row wrap' class="tituloCentrado" >
            <tr class="claseTr" >
              <th>
                <div class="form-group div-active pl-2" fxFlex='9'>
                  <label>Línea</label>
                </div>
                <div class="form-group div-active pl-2" fxFlex='10'>
                    <label>Producto</label>
                </div>
                <div class="form-group div-active pl-2" fxFlex='7'>
                  <label>Tk</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>T° Inicial</label>
                </div>
                <div class="form-group div-active" fxFlex='12'>
                    <label>Altura inicial</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>Dens. inicial</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>T° Final</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>Litros</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>Dens. Final</label>
                </div>
                <div class="form-group div-active" fxFlex='12'>
                    <label>Altura final</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>Kilos</label>
                </div>
                <div class="form-group div-active" fxFlex='6'>
                    <label>Salida de Tk</label>
                </div>
                <div fxFlex='4' class='full-center' >
                </div>
              </th>
            </tr>
          </div>
        </div>
      </div>

      <div class='max-5vh'>
        <perfect-scrollbar>
          <form id="lineasDeEmbaque" [formGroup]="lineasDeEmbarqueForm">
            <ng-container formArrayName="lineasEmbarque">
              <ng-container *ngFor="let lineasE of lineasDeEmbarqueForm['controls']['lineasEmbarque']['controls']; let i = index" [formGroupName]="i" >
                <div fxLayout='row wrap' class="distancia-filas" >
                  <div fxFlex='100'>
                    <div fxLayout='row wrap'>

                      <tbody>
                        <tr class="claseTr" >
                          <td class="claseTd" >

                            <div class="form-group pl-2" fxFlex='9'>
                                <select class="custom-select" formControlName="linea">
                                  <option *ngFor="let l of lineas" [ngValue]="l.nombreLinea"> {{ l.nombreLinea }} </option>
                                </select>
                            </div>
                            <div class="form-group pl-2" fxFlex='10'>
                                <select class="custom-select" 
                                        formControlName="materialPuerto"
                                        [compareWith]="compareLineas">
                                  <option value="" selected></option>
                                  <option *ngFor="let p of materialesPuerto" [ngValue]="p"> {{ p.descripcionCorta }} </option>
                                </select>
                            </div>
                            <div class="form-group pl-2 pr-2" fxFlex='7'>
                                <select class="custom-select" 
                                        formControlName="tkInicial"
                                        #tanqueSelect
                                        [ngClass]='setClase(i)'
                                        [compareWith]='compareTanque'
                                        >
                                        <!-- (change)='setClase(i)'> -->

                                  <option *ngFor="let t of tanquesOption" 
                                          [ngValue]="t"
                                          [ngClass]="t.color"> 
                                          {{ t.value }}
                                  </option>

                                </select>
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="temperaturaInicial"/>
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="alturaInicialCM" placeholder="CM" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="alturaInicialMM" placeholder="MM" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="densidadInicial" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="temperaturaFinal" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="litros" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="densidadFinal" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="alturaFinalCM" placeholder="CM" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="alturaFinalMM" placeholder="MM" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="kilos" />
                            </div>
                            <div class="form-group" fxFlex='6'>
                              <input type="text" class="inputLineasEmbarque" formControlName="tkFinal" />
                            </div>
                            <div fxFlex='4' class='full-center btn-eliminar' *ngIf='i != 0'>
                                <img src="assets/trashIcon.svg" class="basurerito" (click)="eliminarLineasEmbarque(i)">
                            </div>

                          </td>
                        </tr>
                      </tbody>

                    </div>
                  </div>
                  <i class='fas fa-angle-down float-down-arrow' *ngIf='i > 7'></i>
                </div>
              </ng-container>
            </ng-container>
          </form>
        </perfect-scrollbar>
      </div>
    </table>

  </div>
</div>