.table-header {
    background-color: #e2e2e2;
    font-weight: bold;
}

.table-responsive-lineas {
    overflow-x: auto;
    max-height: 400px;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
}

.main-header {
    background-color: #e2e2e2;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
}

.first-header {
    background-color: white;
    border: 1px solid white
}

.delete-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.custom-select {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border: none;
    outline: none;
    border-radius: 0;
}

td {
    padding: 0;
    /* Opcional: elimina el espacio interno del td */
}

td input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 0;
}

.table-responsive-lineas input:focus,
.table-responsive-lineas select:focus {
    outline: 2px solid black;
}

th {
    border: 1px solid white;
}

.tanqueSi {
    color: green;
    font-weight: bold;
}

.tanqueNo {
    color: red;
    font-weight: bold;
}

.td-fecha {
    max-width: 225px;
}

select:disabled {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f8f9fa;
    border: none;
    pointer-events: none;
    background: none;
}