<ship-spinner [message]="'Cargando. Por favor, espere...'" *ngIf='estaCargando'></ship-spinner>
<div class="container-fluid px-4 mb-3">
    <div class="row mb-3">
        <div class="col">
            <a href="#" class="text-primary" (click)="onVolver()">← VOLVER</a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-10">
            <label class="titulo">Provisiones de gastos</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form [formGroup]="filtroForm">
                <div class="container bg-form">
                    <div class="col-md-12">
                        <label for="periodo">Período</label>
                        <input id="periodo" type="month" class="form-control" formControlName="periodo"
                            (change)="onRefreshFiltros()" />
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="materialPuerto">Producto</label>
                        <ng-multiselect-dropdown formControlName="materialPuerto" [placeholder]="'Seleccione producto'"
                            class="dropdown-btn" [settings]="getConfigListaUnica('descripcion')" [data]="materiales"
                            (onSelect)="onRefreshFiltros()" (onDeSelect)="onRefreshFiltros()">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="muelle">Muelle</label>
                        <ng-multiselect-dropdown formControlName="muelle" [placeholder]="'Todos'"
                            class="dropdown-btn" [settings]="getConfigListaUnica('descripcion')" [data]="muellesFiltrados"
                            (onSelect)="onRefreshFiltros()" (onDeSelect)="onRefreshFiltros()">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="exportador">Exportador</label>
                        <ng-multiselect-dropdown formControlName="exportador" [placeholder]="'Todos'"
                            class="dropdown-btn" [settings]="getConfigListaUnica('nombre')" [data]="exportadoresFiltrados"
                            (onSelect)="onRefreshFiltros()" (onDeSelect)="onRefreshFiltros()">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="embarque">Buque</label>
                        <ng-multiselect-dropdown formControlName="embarque" [placeholder]="'Todos'"
                            class="dropdown-btn" [settings]="getConfigListaUnica('nombreVapor')" [data]="buquesDropdown"
                            (onSelect)="onRefreshFiltros()" (onDeSelect)="onRefreshFiltros()">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-12 mt-2">
                        <label for="acuerdo">Acuerdo</label>
                        <ng-multiselect-dropdown formControlName="acuerdo" [placeholder]="'Todos'"
                            class="dropdown-btn" [settings]="getConfigListaUnica('descripcion')" [data]="acuerdosFiltrados"
                            (onSelect)="onRefreshFiltros()" (onDeSelect)="onRefreshFiltros()">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-12 mt-4 text-center">
                        <button type="button" class="btn btn-primary" (click)="onBuscarProvisionGasto()">Buscar</button>
                        <button type="button" class="btn btn-secondary ml-2" (click)="onLimpiar()">Limpiar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <div class="container bg-form">
                <form class="ng-untouched ng-pristine ng-valid">
                    <div class="row mb-3 ">
                        <div class="col-md-4">
                            <h5 class="font-weight-bold">Ingresos</h5>
                            <ng-container *ngFor="let item of itemsProvision">
                                <div class="form-group ng-star-inserted" *ngIf="item.concepto.tipoConcepto.descripcion === 'Ingreso'">
                                    <label>{{ item.concepto.descripcion }}</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" [checked]="item.valor > 0" disabled class="ng-untouched ng-pristine" aria-label="Checkbox for following text input">
                                            </div>
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                {{ item.concepto.moneda.descripcion == "Dolares" ? "USD" : "ARS" }}
                                            </span>
                                        </div>
                                        <input type="text" class="form-control ng-untouched ng-pristine" placeholder="Ingrese valor"
                                            [value]="item.valor | number:'1.2-2'" aria-label="Tarifa de elevación" aria-describedby="basic-addon1" disabled>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="col-md-8">
                            <h5 class="font-weight-bold">Gastos</h5>
                            <div class="row">
                                <ng-container *ngFor="let item of itemsProvision">
                                    <div class="col-md-6 ng-star-inserted" *ngIf="item.concepto.tipoConcepto.descripcion === 'Gasto'">
                                        <div class="form-group ng-untouched ng-pristine ng-valid">
                                            <label>{{ item.concepto.descripcion }}</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <input type="checkbox" [checked]="item.valor > 0" disabled class="ng-untouched ng-pristine" aria-label="Checkbox for following text input">
                                                    </div>
                                                </div>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        {{ item.concepto.moneda.descripcion == "Dolares" ? "USD" : "ARS" }}
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control ng-untouched ng-pristine" placeholder="Ingrese valor"
                                                    [value]="item.valor | number:'1.2-2'" aria-label="Tarifa de elevación" aria-describedby="basic-addon1" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="row mb-3" style="font-size: 1.1rem;">
            
            <div class="col-12 text-muted mb-2" style="font-size: 0.9rem;">
                Totales:
            </div>
            
            <div class="col-auto text-muted" style="font-size: 0.95rem;">
                Muelle: <span class="fw-bold text-primary">{{filtroForm?.value?.muelle? filtroForm?.value?.muelle?.descripcion : 'TODOS'}}</span>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div>
                    <span class="text-uppercase text-muted" style="font-size: 0.95rem;">Producto</span><br>
                    <span *ngFor="let producto of infoFiltrada?.materiales" class="fw-bold text-primary d-block">
                        {{ producto }}
                    </span>
                </div>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div>
                    <span class="text-uppercase text-muted" style="font-size: 0.95rem;">Buque</span><br>
                    <span *ngFor="let buque of infoFiltrada?.buques" class="fw-bold text-primary d-block">
                        {{ buque }}
                    </span>
                </div>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div>
                    <span class="text-uppercase text-muted" style="font-size: 0.95rem;">TN</span><br>
                    <span class="fw-bold text-primary">{{ (infoFiltrada?.tn || 0) | number: '1.2-2'}}</span>
                </div>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div>
                    <span class="text-uppercase text-muted" style="font-size: 0.95rem;">Acuerdo</span><br>
                    <span *ngFor="let acuerdo of infoFiltrada?.acuerdos" class="fw-bold text-primary d-block">
                        {{ acuerdo }}
                    </span>
                    <span *ngIf="!infoFiltrada?.acuerdos?.length" class="fw-bold text-primary d-block">
                        TODOS
                    </span>
                </div>
                
                <div class="mt-auto pt-4" *ngIf="provisionEncontrada">
                    <span class="text-uppercase d-block" style="color: #6c757d; font-weight: bold; font-size: 0.95rem;">TOTALES EN DÓLARES</span>
                    <span class="text-uppercase d-block" style="color: #6c757d; font-weight: bold; font-size: 0.85rem;">
                        (COTIZACIÓN {{ periodoFormateado }} = {{ cotizacionDolar | currency:'ARS':'symbol':'1.2-2' }})
                    </span>
                </div>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div>
                    <span class="text-uppercase text-muted" style="font-size: 0.95rem;">Ingresos</span><br>
                    <span class="fw-bold text-primary d-block"> {{ totalIngresosARS | currency:'ARS':'symbol':'1.2-2' }}</span>
                    <span class="fw-bold text-primary d-block"> {{ totalIngresosUSD | currency:'USD':'symbol':'1.2-2' }}</span>
                </div>
                
                <div class="mt-auto pt-4" *ngIf="provisionEncontrada">
                    <span class="fw-bold text-primary d-block"> {{ granTotalIngresosUSD | currency:'USD':'symbol':'1.2-2' }}</span>
                    <span class="d-block" style="font-size: 0.85rem;">&nbsp;</span> 
                </div>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div>
                    <span class="text-uppercase text-muted" style="font-size: 0.95rem;">Egresos</span><br>
                    <span class="fw-bold text-primary d-block"> {{ totalEgresosARS | currency:'ARS':'symbol':'1.2-2' }}</span>
                    <span class="fw-bold text-primary d-block"> {{ totalEgresosUSD | currency:'USD':'symbol':'1.2-2' }}</span>
                </div>
                
                <div class="mt-auto pt-4" *ngIf="provisionEncontrada">
                    <span class="fw-bold text-primary d-block"> {{ granTotalEgresosUSD | currency:'USD':'symbol':'1.2-2' }}</span>
                    <span class="d-block" style="font-size: 0.85rem;">&nbsp;</span> 
                </div>
            </div>
            
            <div class="col-auto d-flex flex-column">
                <div class="mt-auto pb-1">
                    <button *ngIf="provisionEncontrada && infoFiltrada?.materiales.length == 1"
                        type="button" class="btn btn-primary mr-2" (click)="onExportar()">EXPORTAR</button>
                </div>
            </div>
            
        </div>
    </div>
</div>